Repository Som-Energia/openerp_som_addons, changes with the labels that .github/labeler.yml gives for each.
All labels: account_account_som, account_invoice_som, base_extended_som, giscedata_facturacio_comer_som, giscedata_facturacio_som, GithubActions, powersms, scripts, som_account_invoice_pending, som_atc, som_autofactura, som_autoreclama, som_control_reports, som_crawlers, som_dashboard, som_documents_sensibles, som_empowering, som_facturacio_comer, som_energetica, som_extend_facturacio_comer, som_extend_facturacio_facturae, som_facturacio_calculada, som_facturacio_flux_solar, som_facturacio_switching, som_factures_paper, som_indexada, som_infoenergia, som_informe, som_inversions, som_l10n_ES_aeat_mod347, som_leads_polissa, som_polissa, som_polissa_administradora, som_polissa_condicions_generals, som_polissa_condicions_generals_m101, som_polissa_soci, som_poweremail_common_templates, som_remeses_base, som_switching, som_telemesura, som_webforms_helpers, uiqmako_helpers, www_som

.github/labeler.yml:

account_account_som:
-  account_account_som/**
account_invoice_som:
-  account_invoice_som/**
base_extended_som:
-  base_extended_som/**
giscedata_facturacio_comer_som:
-  giscedata_facturacio_comer_som/**
giscedata_facturacio_som:
-  giscedata_facturacio_som/**
GithubActions:
-  .github/**
powersms:
-  powersms/**
scripts:
-  scripts/**
som_account_invoice_pending:
-  som_account_invoice_pending/**
som_atc:
-  som_atc/**
som_autofactura:
-  som_autofactura/**
som_autoreclama:
-  som_autoreclama/**
som_control_reports:
-  som_control_reports/**
som_crawlers:
-  som_crawlers/**
som_dashboard:
-  som_dashboard/**
som_documents_sensibles:
-  som_documents_sensibles/**
som_empowering:
-  som_empowering/**
som_facturacio_comer:
-  som_facturacio_comer/**
som_energetica:
-  som_energetica/**
som_extend_facturacio_comer:
-  som_extend_facturacio_comer/**
som_extend_facturacio_facturae:
-  som_extend_facturacio_facturae/**
som_facturacio_calculada:
-  som_facturacio_calculada/**
som_facturacio_flux_solar:
-  som_facturacio_flux_solar/**
som_facturacio_switching:
-  som_facturacio_switching/**
som_factures_paper:
-  som_factures_paper/**
som_indexada:
-  som_indexada/**
som_infoenergia:
-  som_infoenergia/**
som_informe:
-  som_informe/**
som_inversions:
-  som_inversions/**
som_l10n_ES_aeat_mod347:
-  som_l10n_ES_aeat_mod347/**
som_leads_polissa:
-  som_leads_polissa/**
som_polissa:
-  som_polissa/**
som_polissa_administradora:
-  som_polissa_administradora/**
som_polissa_condicions_generals:
-  som_polissa_condicions_generals/**
som_polissa_condicions_generals_m101:
-  som_polissa_condicions_generals_m101/**
som_polissa_soci:
-  som_polissa_soci/**
som_poweremail_common_templates:
-  som_poweremail_common_templates/**
som_remeses_base:
-  som_remeses_base/**
som_switching:
-  som_switching/**
som_telemesura:
-  som_telemesura/**
som_webforms_helpers:
-  som_webforms_helpers/**
uiqmako_helpers:
-  uiqmako_helpers/**
www_som:
-  www_som/**

🌐 (estalvi): Minor translation changes
  som_estalvi/i18n/es_ES.po
  som_estalvi/i18n/som_estalvi.pot
Labels: none

Fix precommit
  som_polissa/migrations/5.0.24.5.0/post-0003_add_wizard_add_cut_off_to_polissa_from_csv.py
Labels: som_polissa

disable risky migration script
  som_autoreclama/migrations/5.0.2.108.0/post-0001_set_inital_history_polissa_state.py
Labels: som_autoreclama

✅ (GURB): Test if D101 are closed when contract has GURB category
  som_gurb/tests/tests_gurb_switching.py
Labels: none

detect canarias with subsitema
  som_indexada/wizard/wizard_change_to_indexada.py
Labels: som_indexada

Add pyversion to GA reusable ERP
  .github/workflows/reusable_workflow.yml
Labels: GithubActions

Update reusable_workflow.yml
  .github/workflows/reusable_workflow.yml
Labels: GithubActions

✨ (lead): Replacement of leads importador
  som_leads_polissa/__init__.py
  som_leads_polissa/__terp__.py
  som_leads_polissa/wizard/__init__.py
  som_leads_polissa/wizard/wizard_importador_leads_comercials.py
  som_leads_polissa/wizard/wizard_importador_leads_comercials_view.xml
Labels: som_leads_polissa

✨ (lead): Replacement of leads importador
  som_leads_polissa/__init__.py
  som_leads_polissa/__terp__.py
  som_leads_polissa/wizard/__init__.py
  som_leads_polissa/wizard/wizard_importador_leads_comercials.py
  som_leads_polissa/wizard/wizard_importador_leads_comercials_view.xml
Labels: som_leads_polissa

update to april 2024
  som_polissa_condicions_generals/report/condicions_particulars.mako
Labels: som_polissa_condicions_generals

Update reusable_workflow.yml
  .github/workflows/reusable_workflow.yml
Labels: GithubActions

Add tests account_account_som in Py3
  .github/workflows/schedule_tests_account_account_som_py3.yml
Labels: GithubActions

Add dm.xmlsec.binding to step install dependencies for py2 and py3
  .github/workflows/reusable_workflow.yml
Labels: GithubActions

Add absolute import py3
  account_account_som/__init__.py
  account_account_som/wizard/__init__.py
Labels: account_account_som

Add Powersms py3 tests
  .github/workflows/schedule_tests_powersms_py3.yml
Labels: GithubActions

Update schedule_tests_powersms_py3.yml
  .github/workflows/schedule_tests_powersms_py3.yml
Labels: GithubActions

make a return and left the comment
  som_autoreclama/migrations/5.0.2.108.0/post-0001_set_inital_history_polissa_state.py
Labels: som_autoreclama

Fix powersms py3
  powersms/__init__.py
  powersms/tests/__init__.py
  powersms/wizard/__init__.py
Labels: powersms

gen calc uses sphauto for subsystems
  giscedata_facturacio_indexada_som/tarifes.py
Labels: none

Make reusable_workflow suitable for oorq repo
  .github/workflows/reusable_workflow.yml
Labels: GithubActions

Make reusable_workflow usable for external forked repositories
  .github/workflows/reusable_workflow.yml
Labels: GithubActions

🐛 (lead): Many2One id's
  som_leads_polissa/wizard/wizard_importador_leads_comercials.py
Labels: som_leads_polissa

Update all_modules_test.yml
  .github/workflows/all_modules_test.yml
Labels: GithubActions

✨ Previous script from gist
  scripts/report_junta_andalusia_subsidy.py
Labels: scripts

Fix format
  scripts/report_junta_andalusia_subsidy.py
Labels: scripts

🧹 (gurb): Delete unused tests
  som_gurb/tests/__init__.py
  som_gurb/tests/test_gurb.py
Labels: none

Support special characters in name and direccio
  scripts/report_junta_andalusia_subsidy.py
Labels: scripts

✨ (GURB): Finish method to add service to contract
  som_gurb/models/som_gurb_cups.py
Labels: none

💄 (GURB): Move GURB menu to new Agrupacions menu
  som_gurb/views/som_gurb_view.xml
Labels: none

✅ (GURB): Test method to add service to contract
  som_gurb/tests/__init__.py
  som_gurb/tests/tests_gurb_services.py
Labels: none
