Repository Som-Energia/openerp_som_addons, changes with the labels that .github/labeler.yml gives for each.
All labels: account_account_som, account_invoice_som, base_extended_som, giscedata_facturacio_comer_som, giscedata_facturacio_som, GithubActions, powersms, scripts, som_account_invoice_pending, som_atc, som_autofactura, som_autoreclama, som_control_reports, som_crawlers, som_dashboard, som_documents_sensibles, som_empowering, som_facturacio_comer, som_energetica, som_extend_facturacio_comer, som_extend_facturacio_facturae, som_facturacio_calculada, som_facturacio_flux_solar, som_facturacio_switching, som_factures_paper, som_indexada, som_infoenergia, som_informe, som_inversions, som_l10n_ES_aeat_mod347, som_leads_polissa, som_polissa, som_polissa_administradora, som_polissa_condicions_generals, som_polissa_condicions_generals_m101, som_polissa_soci, som_poweremail_common_templates, som_remeses_base, som_switching, som_telemesura, som_webforms_helpers, uiqmako_helpers, www_som

.github/labeler.yml:

account_account_som:
-  account_account_som/**
account_invoice_som:
-  account_invoice_som/**
base_extended_som:
-  base_extended_som/**
giscedata_facturacio_comer_som:
-  giscedata_facturacio_comer_som/**
giscedata_facturacio_som:
-  giscedata_facturacio_som/**
GithubActions:
-  .github/**
powersms:
-  powersms/**
scripts:
-  scripts/**
som_account_invoice_pending:
-  som_account_invoice_pending/**
som_atc:
-  som_atc/**
som_autofactura:
-  som_autofactura/**
som_autoreclama:
-  som_autoreclama/**
som_control_reports:
-  som_control_reports/**
som_crawlers:
-  som_crawlers/**
som_dashboard:
-  som_dashboard/**
som_documents_sensibles:
-  som_documents_sensibles/**
som_empowering:
-  som_empowering/**
som_facturacio_comer:
-  som_facturacio_comer/**
som_energetica:
-  som_energetica/**
som_extend_facturacio_comer:
-  som_extend_facturacio_comer/**
som_extend_facturacio_facturae:
-  som_extend_facturacio_facturae/**
som_facturacio_calculada:
-  som_facturacio_calculada/**
som_facturacio_flux_solar:
-  som_facturacio_flux_solar/**
som_facturacio_switching:
-  som_facturacio_switching/**
som_factures_paper:
-  som_factures_paper/**
som_indexada:
-  som_indexada/**
som_infoenergia:
-  som_infoenergia/**
som_informe:
-  som_informe/**
som_inversions:
-  som_inversions/**
som_l10n_ES_aeat_mod347:
-  som_l10n_ES_aeat_mod347/**
som_leads_polissa:
-  som_leads_polissa/**
som_polissa:
-  som_polissa/**
som_polissa_administradora:
-  som_polissa_administradora/**
som_polissa_condicions_generals:
-  som_polissa_condicions_generals/**
som_polissa_condicions_generals_m101:
-  som_polissa_condicions_generals_m101/**
som_polissa_soci:
-  som_polissa_soci/**
som_poweremail_common_templates:
-  som_poweremail_common_templates/**
som_remeses_base:
-  som_remeses_base/**
som_switching:
-  som_switching/**
som_telemesura:
-  som_telemesura/**
som_webforms_helpers:
-  som_webforms_helpers/**
uiqmako_helpers:
-  uiqmako_helpers/**
www_som:
-  www_som/**

🐛 (estalvi): Arreglar strings traduibles
  som_estalvi/report/components/analisi_potencies.mako
  som_estalvi/report/components/footer.mako
  som_estalvi/report/components/resum_facturacio_anual.mako
Labels: none

🌐 (estalvi): Create pot file
  som_estalvi/i18n/babel.cfg
  som_estalvi/i18n/som_estalvi.pot
Labels: none

Fix tests som_generationkwh
  res_partner.py
Labels: none

Fix tests som_generationkwh
  som_generationkwh/res_partner.py
Labels: none

♻️ (estalvi): Change how we get the data, use an old wizard
  som_estalvi/models/report_backend_som_estalvi.py
Labels: none

Fix mktime -> timestamp()
  res_partner.py
Labels: none

Fix mktime -> timestamp()
  som_generationkwh/res_partner.py
Labels: none

🐛 (estalvi): Small fixes
  som_estalvi/models/report_backend_som_estalvi.py
  som_estalvi/report/components/footer.mako
Labels: none

🧹 (estalvi): Remove unused method
  som_estalvi/models/report_backend_som_estalvi.py
Labels: none

🐛 (estalvi): Add missing context
  som_facturacio_comer/wizard/wizard_informe_factures_dades_desagregades.py
Labels: som_facturacio_comer

🐛 (estalvi): Add missing params to find_invoices
  som_estalvi/models/report_backend_som_estalvi.py
Labels: none

F#*k Python 2
  res_partner.py
Labels: none

F#*k Python 2
  som_generationkwh/res_partner.py
Labels: none

Close case if M102 rebuig auto
  som_gurb/giscedata_switching.py
Labels: none

Do not notify just if it is self-consumption
  som_gurb/giscedata_switching.py
Labels: none

Small improvements
  som_gurb/giscedata_switching.py
Labels: none

new fue reminder
  som_account_invoice_pending/demo/som_account_invoice_pending_demo_data.xml
  som_account_invoice_pending/requirements.txt
  som_account_invoice_pending/som_account_invoice_pending_data.xml
  som_account_invoice_pending/tests/update_pending_states_tests.py
  som_account_invoice_pending/update_pending_states.py
Labels: som_account_invoice_pending

remove pudb
  som_account_invoice_pending/tests/update_pending_states_tests.py
Labels: som_account_invoice_pending

Create crear_nou_modul.md
  docs/crear_nou_modul.md
Labels: none

Update docs/crear_nou_modul.md
  docs/crear_nou_modul.md
Labels: none

Update crear_nou_modul.md
  docs/crear_nou_modul.md
Labels: none

Update labeler.yml
  .github/workflows/labeler.yml
Labels: GithubActions

Update and rename labeler.yml to pull_request_labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/pull_request_labeler.yml
Labels: GithubActions

Update pull_request_labeler.yml
  .github/workflows/pull_request_labeler.yml
Labels: GithubActions

Update pull_request_labeler.yml
  .github/workflows/pull_request_labeler.yml
Labels: GithubActions

Fix tests with mandate_id
  som_generationkwh/tests/investment_tests.py
Labels: none

Fix tests with mandate_id
  tests/investment_tests.py
Labels: none

add migration script
  som_account_invoice_pending/migrations/5.0.23.9.0/pre-0001_add_fue_email.py
Labels: som_account_invoice_pending

add migration script
  som_polissa/migrations/5.0.24.5.0/post-0002-create_res_config_canarias.py
Labels: som_polissa

✨ (estalvi): Show the last months
  som_estalvi/report/components/analisi_potencies.mako
  som_estalvi/report/components/graphic.mako
  som_estalvi/report/som_estalvi.css
Labels: none

🌐 (estalvi): Add initial spanish translation
  som_estalvi/i18n/es_ES.po
Labels: none

🌐 (estalvi): Update Spanish translations
  som_estalvi/i18n/es_ES.po
  som_estalvi/i18n/som_estalvi.pot
Labels: none

Update crear_nou_modul.md
  docs/crear_nou_modul.md
Labels: none

Add link in readme list of modules
  README.md
Labels: none

First try to find A2_liquicomun and after A1_liquicomun. No other file is downloaded
  scripts/download_esios_files.py
Labels: scripts

🔧 (estalvi): Improves functions
  som_estalvi/models/report_backend_som_estalvi.py
Labels: none

Wizard no cut off to polisses
  som_polissa/__terp__.py
  som_polissa/security/ir.model.access.csv
  som_polissa/wizard/__init__.py
  som_polissa/wizard/wizard_add_cut_off_to_polissa_from_csv.py
  som_polissa/wizard/wizard_add_cut_off_to_polissa_from_csv_view.xml
Labels: som_polissa

add migration script
  som_polissa/migrations/5.0.24.5.0/post-0003_add_wizard_add_cut_off_to_polissa_from_csv.py
Labels: som_polissa

✅ (GURB): Test custom ATR's behaviour when contract has GURB category
  som_gurb/__terp__.py
  som_gurb/tests/__init__.py
  som_gurb/tests/tests_gurb_switching.py
Labels: none

🐛 (estalvi): Minor changes
  som_estalvi/report/components/analisi_potencies.mako
  som_estalvi/report/components/footer.mako
  som_estalvi/report/components/resum_facturacio_anual.mako
  som_estalvi/report/som_estalvi.css
  som_estalvi/report/som_estalvi_report.xml
Labels: none
