Repository Som-Energia/openerp_som_addons, pull requests merged in 2021-09, with the labels that each got.

#40 ADD plantilla SMS factura pendent
  som_account_invoice_pending/som_account_invoice_pending_data.xml
Labels: powersms

#36 FIX B1
  som_informe/report/components/B106/B106.mako
Labels: som_informe

#38 FIX informe M1
  som_informe/report/components/M101/M101.mako
  som_informe/report/components/M101/M101.py
  som_informe/report/components/M105/M105.mako
  som_informe/report/components/M105/M105.py
Labels: som_informe

#39 FIX informe D1 i D2
  som_informe/report/components/A301/A301.py
  som_informe/report/components/D101/D101.mako
  som_informe/report/components/D101/D101.py
  som_informe/report/components/D102/D102.mako
  som_informe/report/components/M101/M101.py
Labels: som_informe

#37 Modifications R1
  som_informe/report/components/R101/R101.mako
  som_informe/report/components/R101/R101.py
  som_informe/report/components/header/header.mako
Labels: WIP, som_informe

#44 fix issues from multiple merges and translations
  som_informe/report/components/A301/A301.py
  som_informe/report/components/B101/B101.py
  som_informe/report/components/B103/B103.py
  som_informe/report/components/C101/C101.py
  som_informe/report/components/C201/C201.py
  som_informe/report/components/D102/D102.py
  som_informe/report/components/E101/E101.py
  som_informe/report/components/E108/E108.py
  som_informe/report/components/M101/M101.py
  som_informe/report/components/M105/M105.py
  som_informe/report/components/ProcesA3/ProcesA3.py
  som_informe/report/components/ProcesATR/ProcesATR.py
  som_informe/report/components/ProcesATR/__init__.py
  som_informe/report/components/ProcesB1/ProcesB1.py
  som_informe/report/components/ProcesB2/ProcesB2.py
  som_informe/report/components/ProcesC1/ProcesC1.py
  som_informe/report/components/ProcesC2/ProcesC2.py
  som_informe/report/components/ProcesD1/ProcesD1.py
  som_informe/report/components/ProcesE1/ProcesE1.py
  som_informe/report/components/ProcesM1/ProcesM1.py
  som_informe/report/components/ProcesR1/ProcesR1.py
  som_informe/report/components/R105/R105.py
  som_informe/report/components/header/header.mako
  som_informe/wizard/wizard_create_technical_report.py
Labels: enhancement, WIP, som_informe

#48 Modify requirements
  som_informe/requirements.txt
Labels: bug, som_informe
