Repository Som-Energia/openerp_som_addons, pull requests merged in 2021-12, with the labels that each got.

#56 ADD new templates A3
  som_switching/__terp__.py
  som_switching/giscedata_switching_data.xml
  som_switching/giscedata_switching_rebuitjos_c.xml
  som_switching/giscedata_switching_rebutjos_a.xml
Labels: WIP, som_switching

#57 Add M1 new rebuig templates
  som_switching/__terp__.py
  som_switching/giscedata_switching_data.xml
  som_switching/giscedata_switching_notification_data.xml
  som_switching/giscedata_switching_rebutjos_m.xml
Labels: WIP, som_switching

#68 Remove filename typos an try to fix some mailchimp tests
  som_switching/__terp__.py
  som_switching/giscedata_switching_rebutjos_c.xml
  som_switching/tests/tests_activacions_b1.py
  som_switching/tests/tests_activacions_b2.py
  som_switching/tests/tests_activacions_cn.py
  som_switching/tests/tests_activacions_m1.py
Labels: som_switching

#74 Fix rebuig notification until autoconsum is fixed
  som_switching/giscedata_switching_notification_data.xml
  som_webforms_helpers/tests/tarifes_demo.xml
Labels: bug

#75 FIX_rebuig_m104_26
  som_switching/giscedata_switching_rebutjos_m.xml
Labels: bug, som_switching

#71 Modificar camp de número de factura perquè facis cerques exactes
  account_invoice_som/__init__.py
  account_invoice_som/__terp__.py
  account_invoice_som/account_invoice.py
  account_invoice_som/account_invoice_data.xml
  account_invoice_som/tests/__init__.py
  account_invoice_som/tests/account_invoice_demo.xml
  giscedata_facturacio_som/__init__.py
  giscedata_facturacio_som/__terp__.py
  giscedata_facturacio_som/giscedata_facturacio.py
  giscedata_facturacio_som/tests/__init__.py
Labels: account_invoice_som, giscedata_facturacio_som

#62 Add new functionalities wizard comment f1
  som_switching/tests/tests_wizard_comment_to_F1.py
  som_switching/wizard/wizard_comment_to_F1.py
  som_switching/wizard/wizard_comment_to_F1_view.xml
Labels: WIP, som_switching

#78 Genera Enviaments del CSV de Beedata amb el fitxer temporal
  som_infoenergia/som_infoenergia_lot.py
  som_infoenergia/tests/test_lot_enviament.py
Labels: bug, som_infoenergia
