Repository Som-Energia/openerp_som_addons, pull requests merged in 2021-11, with the labels that each got.

#58 Suport per la execució de informes antics
  scripts/cron_informe_cnmc_canvi_comer.py
  scripts/cron_switchingreport.sh
Labels: scripts

#60 Add data_alta_autoconsum in polissa
  som_switching/__terp__.py
  som_switching/giscedata_polissa.py
  som_switching/giscedata_polissa_view.xml
Labels: som_switching

#63 Add consum anual lectures
  som_infoenergia/__init__.py
  som_infoenergia/__terp__.py
  som_infoenergia/giscedata_cups.py
  som_infoenergia/giscedata_polissa.py
  som_infoenergia/som_enviament_massiu.py
  som_infoenergia/som_infoenergia_view.xml
Labels: som_infoenergia

#61 ADD new b1 templates
  som_switching/__terp__.py
  som_switching/giscedata_switching_data.xml
  som_switching/giscedata_switching_notification_data.xml
Labels: WIP, som_switching

#59 Add combrament to som informe
  som_informe/i18n/es_ES.po
  som_informe/i18n/som_informe.pot
  som_informe/report/components/CollectContractData/CollectContractData.mako
  som_informe/report/components/CollectContractData/CollectContractData.py
  som_informe/report/components/CollectContractData/__init__.py
  som_informe/report/components/CollectDetailsInvoices/CollectDetailsInvoices.mako
  som_informe/report/components/CollectDetailsInvoices/CollectDetailsInvoices.py
  som_informe/report/components/CollectDetailsInvoices/__init__.py
  som_informe/report/components/CollectExpectedCutOffDate/CollectExpectedCutOffDate.mako
  som_informe/report/components/CollectExpectedCutOffDate/CollectExpectedCutOffDate.py
  som_informe/report/components/CollectExpectedCutOffDate/__init__.py
  som_informe/report/components/CollectHeader/CollectHeader.mako
  som_informe/report/components/CollectHeader/CollectHeader.py
  som_informe/report/components/CollectHeader/__init__.py
  som_informe/report/components/Empty/Empty.mako
  som_informe/report/components/__init__.py
  som_informe/report/components/atrFooter/__init__.py
  som_informe/report/components/atrFooter/atrFooter.mako
  som_informe/report/components/atrFooter/atrFooter.py
  som_informe/report/components/atrHeader/__init__.py
  som_informe/report/components/atrHeader/atrHeader.mako
  som_informe/report/components/atrHeader/atrHeader.py
  som_informe/report/components/component_utils.py
  som_informe/report/components/footer/__init__.py
  som_informe/report/components/footer/footer.mako
  som_informe/report/components/footer/footer.py
  som_informe/report/components/header/__init__.py
  som_informe/report/components/header/header.mako
  som_informe/report/components/header/header.py
  som_informe/wizard/wizard_create_technical_report.py
  som_informe/wizard/wizard_create_technical_report_view.xml
Labels: som_informe, Need translation
