Repository Som-Energia/openerp_som_addons, pull requests merged in 2022-08, with the labels that each got.

#180 Add f1 to original file name
  som_switching/tests/tests_wizard_import_atr_and_f1.py
  som_switching/wizard/wizard_import_atr_and_f1.py
Labels: bug

#182 FIX: ids repetits feien que desaparegués l'acció des de pòlissa
  som_infoenergia/wizard/wizard_create_enviaments_from_object_view.xml
  som_infoenergia/wizard/wizard_send_reports_view.xml
Labels: bug, som_infoenergia

#184 Desfer canvis per proves
  .github/workflows/integration_config.yml
Labels: GithubActions

#179 Delete button now closes ATC
  som_autoreclama/wizard/__init__.py
  som_switching/__terp__.py
  som_switching/giscedata_atc.py
  som_switching/giscedata_atc_data.xml
  som_switching/security/som_switching.xml
  som_switching/tests/__init__.py
  som_switching/tests/tests_unlink_atc.py
  som_switching/wizard/__init__.py
Labels: enhancement, som_switching

#188 Remove pudb from test
  som_switching/demo/som_switching_demo_data.xml
  som_switching/giscedata_atc_data.xml
  som_switching/security/som_switching.xml
  som_switching/tests/tests_unlink_atc.py
Labels: bug

#186 FIX: Partial payments at OV
  www_som/giscedata_facturacio.py
Labels: www_som

#190 Change partner in invoice
  scripts/change_partner_in_invoice.py
Labels: scripts

#191 Moure mòdul CCGG i CCPP
  som_polissa_condicions_generals/__init__.py
  som_polissa_condicions_generals/__terp__.py
  som_polissa_condicions_generals/giscedata_polissa_condicions_generals_data.xml
  som_polissa_condicions_generals/giscedata_polissa_condicions_generals_report.xml
  som_polissa_condicions_generals/i18n/babel.cfg
  som_polissa_condicions_generals/i18n/es_ES.po
  som_polissa_condicions_generals/i18n/som_polissa_condicions_generals.pot
  som_polissa_condicions_generals/report/__init__.py
  som_polissa_condicions_generals/report/assets/acceptacio_digital.png
  som_polissa_condicions_generals/report/assets/acceptacio_digital_ca.png
  som_polissa_condicions_generals/report/assets/acceptacio_digital_es.png
  som_polissa_condicions_generals/report/assets/logo.png
  som_polissa_condicions_generals/report/assets/warning_icon.png
  som_polissa_condicions_generals/report/condiciones_generales.mako
  som_polissa_condicions_generals/report/condicions_generals.mako
  som_polissa_condicions_generals/report/condicions_generals_dummy.mako
  som_polissa_condicions_generals/report/condicions_particulars.css
  som_polissa_condicions_generals/report/condicions_particulars.mako
  som_polissa_condicions_generals/report/condicions_particulars_canvi_preus.mako
  som_polissa_condicions_generals/report/condicions_particulars_nous_peatges_temporal.mako
  som_polissa_condicions_generals/report/contracte.mako
  som_polissa_condicions_generals/report/giscedata_polissa_comer_somenergia.py
  som_polissa_condicions_generals/report/stylesheet_generic_contract.css
  som_polissa_condicions_generals_m101/__init__.py
  som_polissa_condicions_generals_m101/__terp__.py
  som_polissa_condicions_generals_m101/giscedata_polissa_condicions_generals_m101_report.xml
  som_polissa_condicions_generals_m101/giscedata_switching_data_m1.xml
  som_polissa_condicions_generals_m101/i18n/babel.cfg
  som_polissa_condicions_generals_m101/i18n/es_ES.po
  som_polissa_condicions_generals_m101/i18n/som_polissa_condicions_generals_m101.pot
  som_polissa_condicions_generals_m101/report/__init__.py
  som_polissa_condicions_generals_m101/report/assets/acceptacio_digital_ca.png
  som_polissa_condicions_generals_m101/report/assets/acceptacio_digital_es.png
  som_polissa_condicions_generals_m101/report/condicions_particulars.css
  som_polissa_condicions_generals_m101/report/condicions_particulars_m101.mako
  som_polissa_condicions_generals_m101/report/giscedata_polissa_comer_somenergia.py
Labels: som_polissa_condicions_generals, som_polissa_condicions_generals_m101

#192 Afegir MAJ a les CCPP i calcular impostos amb rebaixes
  som_polissa_condicions_generals/giscedata_polissa_condicions_generals_data.xml
  som_polissa_condicions_generals/i18n/es_ES.po
  som_polissa_condicions_generals/i18n/som_polissa_condicions_generals.pot
  som_polissa_condicions_generals/report/condicions_particulars.css
  som_polissa_condicions_generals/report/condicions_particulars.mako
  som_webforms_helpers/__terp__.py
  som_webforms_helpers/giscedata_polissa_tarifa.py
  som_webforms_helpers/som_webforms_helpers_data.xml
Labels: som_webforms_helpers, som_polissa_condicions_generals

#195 Mostrar correctament el detall de Generation quan hi ha dos préstecs.
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
Labels: bug, giscedata_facturacio_comer_som

#199 Arreglar factura quan no es troba telèfon de la distri
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
Labels: giscedata_facturacio_comer_som
