Repository Som-Energia/openerp_som_addons, pull requests merged in 2022-03, with the labels that each got.

#96 Moure scripts de enviar factures
  scripts/send_invoice_emails.py
  scripts/send_invoice_emails.sh
Labels: scripts

#101 Permetre generar pd's de factura signats digitalment
  giscedata_facturacio_comer_som/giscedata_facturacio_comer_data.xml
  giscedata_facturacio_comer_som/report/giscedata_facturacio_comer_som.py
Labels: enhancement, feature, Factura en PDF, giscedata_facturacio_comer_som

#104 Nou mòdul per a la facturació calculada a partir de corbes
  som_facturacio_calculada/__init__.py
  som_facturacio_calculada/__terp__.py
  som_facturacio_calculada/som_facturacio_calculada_data.xml
Labels: som_facturacio_calculada

#106 Corregir el circleci config per afegir el nou repositori poweremail-modules
  .circleci/config.yml
Labels: circleci

#105 FIX: No es podien imprimir més d'una factura generant un sol PDF
  giscedata_facturacio_comer_som/report/giscedata_facturacio_comer_som.py
Labels: bug, Factura en PDF, giscedata_facturacio_comer_som

#112 FIX: Evitar propagació de totes les active_ids en cada un dels jobs
  som_infoenergia/wizard/wizard_create_enviaments_from_object.py
  som_infoenergia/wizard/wizard_download_pdf.py
Labels: bug, som_infoenergia

#110 Afegir l'origen calculada per CCH a la factura en pdf
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/i18n/es_ES.po
  giscedata_facturacio_comer_som/i18n/giscedata_facturacio_comer_som.pot
  giscedata_facturacio_comer_som/report/components/energy_consumption_detail_td_base/energy_consumption_detail_td_base.mako
Labels: enhancement, Need translation, Factura en PDF, giscedata_facturacio_comer_som

#111 Afegir el model d'extra lines al `wizard_model_list_from_file`
  giscedata_facturacio_som/__terp__.py
  giscedata_facturacio_som/wizard/__init__.py
  giscedata_facturacio_som/wizard/wizard_model_list_from_file.py
  giscedata_facturacio_som/wizard/wizard_model_list_from_file_data.xml
Labels: giscedata_facturacio_som

#103 Payment order add invoices wiz
  account_invoice_som/__init__.py
  account_invoice_som/__terp__.py
  account_invoice_som/account_invoice.py
  account_invoice_som/security/ir.model.access.csv
  account_invoice_som/tests/__init__.py
  account_invoice_som/tests/account_invoice_demo.xml
  account_invoice_som/tests/tests_account_invoice.py
  account_invoice_som/tests/tests_wizard_payment_order_add_invoices.py
  account_invoice_som/wizard/__init__.py
  account_invoice_som/wizard/wizard_payment_order_add_invoices.py
  account_invoice_som/wizard/wizard_payment_order_add_invoices_view.xml
Labels: enhancement, account_invoice_som
