Repository Som-Energia/openerp_som_addons, pull requests merged in 2022-04, with the labels that each got.

#116 Controlar cas quan no hi ha prou lectures cch en genear lectures a 7 dies
  som_facturacio_calculada/giscedata_polissa.py
  som_facturacio_calculada/tests/__init__.py
  som_facturacio_calculada/tests/test_polissa_lectures_calculades.py
Labels: bug, som_facturacio_calculada

#113 Simplificar el fitxer de manteniment
  Manteniment.md
Labels: enhancement

#122 power prices updated
  som_infoenergia/report/components/power_prices/power_prices.mako
Labels: som_infoenergia

#121 added partner to assistent lot d'enviament massiu
  som_infoenergia/__terp__.py
  som_infoenergia/security/ir.model.access.csv
  som_infoenergia/tests/test_wizards.py
  som_infoenergia/wizard/__init__.py
  som_infoenergia/wizard/wizard_create_enviaments_from_partner.py
  som_infoenergia/wizard/wizard_create_enviaments_from_partner_view.xml
Labels: som_infoenergia

#120 Millorar la creació de lectures: tenir en compte els casos ATR i intentar fer el màx entre (21,14,7) dies
  som_facturacio_calculada/giscedata_polissa.py
  som_facturacio_calculada/som_facturacio_calculada_data.xml
  som_facturacio_calculada/tests/test_polissa_lectures_calculades.py
  som_facturacio_calculada/wizard/wizard_crear_lectures_calculades.py
  som_facturacio_calculada/wizard/wizard_crear_lectures_calculades_view.xml
Labels: som_facturacio_calculada

#123 Afegir el mòdul `som_facturacio_comer`
  som_facturacio_comer/__init__.py
  som_facturacio_comer/__terp__.py
  som_facturacio_comer/giscedata_facturacio.py
  som_facturacio_comer/giscedata_facturacio_contracte_lot.py
  som_facturacio_comer/giscedata_facturacio_contracte_lot_view.xml
  som_facturacio_comer/giscedata_facturacio_data.xml
  som_facturacio_comer/giscedata_facturacio_factura_view.xml
  som_facturacio_comer/giscedata_facturacio_validation.py
  som_facturacio_comer/giscedata_facturacio_validation_data.xml
  som_facturacio_comer/giscedata_polissa.py
  som_facturacio_comer/giscedata_polissa_view.xml
  som_facturacio_comer/security/ir.model.access.csv
  som_facturacio_comer/tests/__init__.py
  som_facturacio_comer/tests/tests_facturacio_warnings.py
  som_facturacio_comer/tests/tests_wizard_open_factures_send_mail.py
  som_facturacio_comer/tests/tests_wizard_revert_incident_fact_contracte_lot.py
  som_facturacio_comer/wizard/__init__.py
  som_facturacio_comer/wizard/wizard_move_contracts_to_prev_lot.py
  som_facturacio_comer/wizard/wizard_open_factures_send_mail.py
  som_facturacio_comer/wizard/wizard_open_factures_send_mail_view.xml
  som_facturacio_comer/wizard/wizard_revert_incident_fact_contracte_lot.py
  som_facturacio_comer/wizard/wizard_revert_incident_fact_contracte_lot_view.xml
Labels: som_facturacio_comer

#115 Afegim el nou component simplificat per mandat del BOE-A-2021-20574
  giscedata_facturacio_comer_som/giscedata_facturacio_comer_data.xml
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/i18n/es_ES.po
  giscedata_facturacio_comer_som/i18n/giscedata_facturacio_comer_som.pot
  giscedata_facturacio_comer_som/report/components/electricity_information/electricity_information.mako
  giscedata_facturacio_comer_som/report/components/environmental_impact/environmental_impact.mako
  giscedata_facturacio_comer_som/report/components/gdo/gdo_graf_ca_2020.png
  giscedata_facturacio_comer_som/report/components/gdo/gdo_graf_ca_2021.png
  giscedata_facturacio_comer_som/report/components/gdo/gdo_graf_es_2020.png
  giscedata_facturacio_comer_som/report/components/gdo/gdo_graf_es_2021.png
  giscedata_facturacio_comer_som/report/components/simplified_enviromental_impact/grafic-factura-100xcent-renovable.png
  giscedata_facturacio_comer_som/report/components/simplified_enviromental_impact/grafic-factura-impacte-ambiental.png
  giscedata_facturacio_comer_som/report/components/simplified_enviromental_impact/simplified_enviromental_impact.css
  giscedata_facturacio_comer_som/report/components/simplified_enviromental_impact/simplified_enviromental_impact.mako
  giscedata_facturacio_comer_som/report/report_giscedata_facturacio_factura_comer.mako
  giscedata_facturacio_comer_som/tests/tests_FacturacioFacturaReport_some.py
Labels: enhancement, Need translation, BOE, Factura en PDF, giscedata_facturacio_comer_som

#130 Calcular la data de renovació a partir de la data d'alta
  som_infoenergia/report/components/tail_text/tail_text.py
Labels: som_infoenergia

#127 Add refund rectify origin
  som_facturacio_comer/__terp__.py
  som_facturacio_comer/wizard/__init__.py
  som_facturacio_comer/wizard/wizard_refund_rectify_from_origin.py
  som_facturacio_comer/wizard/wizard_refund_rectify_from_origin_view.xml
Labels: WIP, som_facturacio_comer
