Repository Som-Energia/openerp_som_addons, pull requests merged in 2022-02, with the labels that each got.

#88 Canviar el link de la Junta arbitral
  giscedata_facturacio_comer_som/report/components/emergency_complaints/emergency_complaints.mako
Labels: bug, Factura en PDF, giscedata_facturacio_comer_som

#89 Canviar el link de la Junta arbitral pel component TD
  giscedata_facturacio_comer_som/report/components/emergency_complaints_td/emergency_complaints_td.mako
Labels: bug, Factura en PDF, giscedata_facturacio_comer_som

#92 FIX prices with taxes
  som_webforms_helpers/giscedata_polissa_tarifa.py
Labels: bug, som_webforms_helpers

#90 Add extra_info when CSV is loaded in Lot Enviament
  som_infoenergia/som_infoenergia_enviament.py
  som_infoenergia/som_infoenergia_lot.py
  som_infoenergia/tests/EiE_extra_info.csv
  som_infoenergia/tests/test_lot_enviament.py
  som_infoenergia/tests/test_wizards.py
  som_infoenergia/wizard/wizard_create_enviaments_from_csv.py
  som_infoenergia/wizard/wizard_create_enviaments_from_csv_view.xml
Labels: som_infoenergia

#93 Wizard de fraccionament via extralines agafant el `residual` en lloc del `amount_total`
  giscedata_facturacio_som/wizard/wizard_fraccionar_via_extralines.py
Labels: enhancement

#84 Millores per l'assistent de factures en paper
  som_factures_paper/__init__.py
  som_factures_paper/__terp__.py
  som_factures_paper/giscedata_polissa.py
  som_factures_paper/giscedata_polissa_view.xml
  som_factures_paper/wizard/wizard_paper_invoice_som.py
Labels: enhancement, feature, som_factures_paper

#86 quan hi ha canvi de titular setejar enviament a email per defecte
  som_switching/__init__.py
  som_switching/wizard/__init__.py
  som_switching/wizard/giscedata_switching_mod_con_wizard.py
Labels: enhancement, som_switching

#73 Poder fer el balanç contable asincron
  account_account_som/__init__.py
  account_account_som/__terp__.py
  account_account_som/security/ir.model.access.csv
  account_account_som/tests/tests_wizard_account_balance.py
  account_account_som/wizard/__init__.py
  account_account_som/wizard/wizard_account_balance_report.py
  account_account_som/wizard/wizard_account_balance_report_view.xml
Labels: account_account_som

#91 Plantilla pel document de Oferta de la indexada
  som_infoenergia/__init__.py
  som_infoenergia/__terp__.py
  som_infoenergia/i18n/.tx/config
  som_infoenergia/i18n/babel.cfg
  som_infoenergia/i18n/es_ES.po
  som_infoenergia/i18n/som_infoenergia.pot
  som_infoenergia/report/__init__.py
  som_infoenergia/report/components/__init__.py
  som_infoenergia/report/components/antecedents/__init__.py
  som_infoenergia/report/components/antecedents/antecedents.mako
  som_infoenergia/report/components/antecedents/antecedents.py
  som_infoenergia/report/components/conclusions/__init__.py
  som_infoenergia/report/components/conclusions/conclusions.mako
  som_infoenergia/report/components/conclusions/conclusions.py
  som_infoenergia/report/components/cond_contr/__init__.py
  som_infoenergia/report/components/cond_contr/cond_contr.mako
  som_infoenergia/report/components/cond_contr/cond_contr.py
  som_infoenergia/report/components/energy_prices/__init__.py
  som_infoenergia/report/components/energy_prices/energy_prices.mako
  som_infoenergia/report/components/energy_prices/energy_prices.py
  som_infoenergia/report/components/first_page/__init__.py
  som_infoenergia/report/components/first_page/first_page.mako
  som_infoenergia/report/components/first_page/first_page.py
  som_infoenergia/report/components/first_page/logo_som.png
  som_infoenergia/report/components/header/__init__.py
  som_infoenergia/report/components/header/header.mako
  som_infoenergia/report/components/header/header.py
  som_infoenergia/report/components/main/__init__.py
  som_infoenergia/report/components/main/main.mako
  som_infoenergia/report/components/main/main.py
  som_infoenergia/report/components/objecte/__init__.py
  som_infoenergia/report/components/objecte/objecte.mako
  som_infoenergia/report/components/objecte/objecte.py
  som_infoenergia/report/components/power_prices/__init__.py
  som_infoenergia/report/components/power_prices/power_prices.mako
  som_infoenergia/report/components/power_prices/power_prices.py
  som_infoenergia/report/components/tail_text/__init__.py
  som_infoenergia/report/components/tail_text/tail_text.mako
  som_infoenergia/report/components/tail_text/tail_text.py
  som_infoenergia/report/report_indexed_offer.css
  som_infoenergia/report/report_indexed_offer.mako
  som_infoenergia/report/report_indexed_offer.py
  som_infoenergia/report/sepa.css
  som_infoenergia/report/sepa.mako
  som_infoenergia/report/sepa_report.py
  som_infoenergia/som_infoenergia_data.xml
  som_infoenergia/som_infoenergia_report.xml
  som_infoenergia/som_infoenergia_sepa.xml
Labels: enhancement, som_infoenergia, WIP

#98 Millores per l'assistent de factures en paper
  som_factures_paper/giscedata_polissa.py
Labels: bug, som_factures_paper
