Repository Som-Energia/openerp_som_addons, pull requests merged in 2022-10, with the labels that each got.

#219 Guardar al resultat la informació final del wizard d'importació
  som_crawlers/models/som_crawlers_task_step.py
Labels: bug, som_crawlers🤖

#218 Migrar captures d'error a Mongo
  som_crawlers/data/som_crawlers_data.xml
  som_crawlers/models/som_crawlers_task.py
  som_crawlers/models/som_crawlers_task_step.py
  som_crawlers/tests/__init__.py
  som_crawlers/tests/som_crawlers_task_step_tests.py
  som_crawlers/views/som_crawlers_config_view.xml
Labels: som_crawlers🤖, hacktoberfest

#217 Update som_crawlers data
  som_crawlers/data/som_crawlers_data.xml
  som_crawlers/models/som_crawlers_task_step.py
  som_crawlers/scripts/script_run_crawler.py
Labels: bug, som_crawlers🤖

#222 Arreglar dia pròxima execució quan és divendres
  som_crawlers/models/som_crawlers_task.py
Labels: bug, som_crawlers🤖

#220 Retry script also for errors
  scripts/clean_mailboxes.py
Labels: enhancement

#223 Add wizard to close obsolete ATR cases
  som_switching/__terp__.py
  som_switching/wizard/__init__.py
  som_switching/wizard/wizard_close_obsolete_cases.py
  som_switching/wizard/wizard_close_obsolete_cases.xml
Labels: som_switching

#227 Add category energetica when contract creation
  som_energetica/__terp__.py
  som_energetica/giscedata_polissa.py
  som_energetica/tests/test_som_energetica_contract.py
Labels: enhancement

#226 Fix viesgo and add D
  som_crawlers/data/som_crawlers_data.xml
Labels: bug, som_crawlers🤖

#224 Add anselmo exporter
  som_crawlers/data/som_crawlers_data.xml
  som_crawlers/models/som_crawlers_config.py
  som_crawlers/models/som_crawlers_task.py
  som_crawlers/models/som_crawlers_task_step.py
  som_crawlers/outputFiles/empty_folder.txt
  som_crawlers/scripts/script_run_crawler.py
  som_crawlers/spiders
  som_crawlers/views/som_crawlers_config_view.xml
Labels: WIP, som_crawlers🤖

#225 Afegir control d'errors a casos ATC
  som_switching/__terp__.py
  som_switching/demo/som_switching_demo_data.xml
  som_switching/giscedata_atc.py
  som_switching/tests/tests_unlink_atc.py
Labels: WIP, som_switching, feature

#214 Nou modul base_extend_som
  base_extended_som/__init__.py
  base_extended_som/__terp__.py
  base_extended_som/demo/poweremail_demo_data.xml
  som_l10n_ES_aeat_mod347/__terp__.py
  som_l10n_ES_aeat_mod347/demo/som_l10n_ES_aeat_mod347_demo.xml
  som_l10n_ES_aeat_mod347/som_l10n_ES_aeat_mod347.py
  som_l10n_ES_aeat_mod347/tests/test_som_l10n_ES_aeat_mod347.py
Labels: base_extended_som

#231 Refactor data.xml i mostrar erros de crawlers
  som_crawlers/__terp__.py
  som_crawlers/data/som_crawlers_config_data.xml
  som_crawlers/data/som_crawlers_step_data.xml
  som_crawlers/data/som_crawlers_task_data.xml
  som_crawlers/models/som_crawlers_task_step.py
  som_crawlers/scripts/script_run_crawler.py
  som_crawlers/tests/wizard_executar_tasca_tests.py
Labels: som_crawlers🤖

#230 Canvis al pdf de Infoenergia
  som_infoenergia/report/infoenergia_header.mako
  som_infoenergia/som_infoenergia_lot.py
Labels: som_infoenergia
