Repository Som-Energia/openerp_som_addons, pull requests merged in 2022-05, with the labels that each got.

#135 Portar mòdul www_som i afegir un filtre
  www_som/__init__.py
  www_som/__terp__.py
  www_som/giscedata_facturacio.py
  www_som/giscedata_polissa.py
  www_som/res_partner.py
  www_som/res_partner_view.xml
  www_som/tests/__init__.py
  www_som/tests/res_partner_demo.xml
  www_som/tests/tests_factura.py
  www_som/tests/tests_polissa.py
  www_som/wizard/__init__.py
  www_som/wizard/wizard_model_list_from_file.py
  www_som/wizard/wizard_model_list_from_file_data.xml
  www_som/www_som_data.xml
Labels: www_som

#118 Afegit assistent per exportar factures Tugesto
  som_account_invoice_pending/__terp__.py
  som_account_invoice_pending/demo/som_account_invoice_pending_demo_data.xml
  som_account_invoice_pending/security/ir.model.access.csv
  som_account_invoice_pending/som_account_invoice_pending_data.xml
  som_account_invoice_pending/som_account_invoice_pending_demo.xml
  som_account_invoice_pending/tests/__init__.py
  som_account_invoice_pending/tests/wizard_tugesto_invoices_export_tests.py
  som_account_invoice_pending/update_pending_states.py
  som_account_invoice_pending/wizard/__init__.py
  som_account_invoice_pending/wizard/wizard_tugesto_invoices_export.py
  som_account_invoice_pending/wizard/wizard_tugesto_invoices_export.xml
Labels: som_account_invoice_pending

#140 ADD mapping from address city and Tugesto specific ID for each city
  som_account_invoice_pending/requirements.txt
  som_account_invoice_pending/wizard/wizard_tugesto_invoices_export.py
Labels: som_account_invoice_pending

#109 Nou mòdul som_autofactura
  som_autofactura/__init__.py
  som_autofactura/__terp__.py
  som_autofactura/security/ir.model.access.csv
  som_autofactura/som_autofactura_data.xml
  som_autofactura/som_autofactura_task.py
  som_autofactura/som_autofactura_task_view.xml
  som_autofactura/wizard/__init__.py
  som_autofactura/wizard/wizard_autofactura.py
  som_autofactura/wizard/wizard_autofactura.xml
Labels: som_autofactura

#107 WIP: Improvements on reports
  som_informe/i18n/es_ES.po
  som_informe/i18n/som_informe.pot
  som_informe/report/components/InvoiceF1A/InvoiceF1A.mako
  som_informe/report/components/InvoiceF1A/InvoiceF1A.py
  som_informe/report/components/InvoiceF1A/__init__.py
  som_informe/report/components/InvoiceF1C/InvoiceF1C.mako
  som_informe/report/components/InvoiceF1C/InvoiceF1C.py
  som_informe/report/components/InvoiceF1NG/InvoiceF1NG.mako
  som_informe/report/components/InvoiceF1NG/InvoiceF1NG.py
  som_informe/report/components/InvoiceF1R/InvoiceF1R.mako
  som_informe/report/components/InvoiceF1R/InvoiceF1R.py
  som_informe/report/components/InvoiceF1R/__init__.py
  som_informe/report/components/InvoiceF1RA/InvoiceF1RA.mako
  som_informe/report/components/InvoiceF1RA/__init__.py
  som_informe/report/components/InvoiceF1Unsupported/InvoiceF1Unsupported.mako
  som_informe/report/components/InvoiceF1Unsupported/InvoiceF1Unsupported.py
  som_informe/report/components/InvoiceFE/InvoiceFE.mako
  som_informe/report/components/InvoiceFE/InvoiceFE.py
  som_informe/report/components/ProcesATR/ProcesATR.py
  som_informe/report/components/R104/R104.mako
  som_informe/report/components/TableInvoices/TableInvoices.mako
  som_informe/report/components/TableInvoices/TableInvoices.py
  som_informe/report/components/TableInvoices/__init__.py
  som_informe/report/components/TableReadings/TableReadings.mako
  som_informe/report/components/TableReadings/TableReadings.py
  som_informe/report/components/TableReadings/__init__.py
  som_informe/report/components/__init__.py
  som_informe/report/components/component_utils.py
  som_informe/report/components/header/header.mako
  som_informe/report/components/header/header.py
  som_informe/report/components/note/__init__.py
  som_informe/report/components/note/note.mako
  som_informe/report/components/note/note.py
  som_informe/tests/test_wizard_create_technical_report.py
  som_informe/wizard/wizard_create_technical_report.py
  som_informe/wizard/wizard_create_technical_report_view.xml
Labels: WIP, som_informe, Need translation

#69 Add render_mako_text function for uiqmako tool
  uiqmako_helpers/__init__.py
  uiqmako_helpers/__terp__.py
  uiqmako_helpers/security/ir.model.access.csv
  uiqmako_helpers/tests/__init__.py
  uiqmako_helpers/tests/test_uiqmako_helper.py
  uiqmako_helpers/uiqmako_helper.py
Labels: uiqmako_helpers

#139 Refactor get pending states ids instead of names
  www_som/giscedata_facturacio.py
  www_som/tests/__init__.py
  www_som/tests/tests_factura.py
Labels: enhancement, som_account_invoice_pending

#126 Unificar l'actualització dels camps funció de la polissa lot
  som_facturacio_comer/giscedata_facturacio_contracte_lot.py
Labels: som_facturacio_comer
