Repository Som-Energia/openerp_som_addons, pull requests merged in 2022-12, with the labels that each got.

#263 Afegir llistat de tasques fallides sense els "SENSE RESULTATS"
  .gitignore
  som_crawlers/models/exceptions.py
  som_crawlers/models/som_crawlers_task.py
  som_crawlers/models/som_crawlers_task_step.py
  som_crawlers/views/som_crawlers_config_view.xml
  som_crawlers/views/som_crawlers_holiday_view.xml
  som_crawlers/views/som_crawlers_result_view.xml
  som_crawlers/views/som_crawlers_task_view.xml
Labels: feature, som_crawlers🤖

#262 Fix path to screenshots
  som_crawlers/models/som_crawlers_task_step.py
Labels: bug, som_crawlers🤖

#260 Afegir "active_test" a l'acció de "Tots els casos"
  som_atc/views/giscedata_atc_view.xml
Labels: som_atc, feature

#267 Forçar dia de pagament al model terminis de pagament
  account_account_som/__init__.py
  account_account_som/account_payment_term.py
Labels: account_account_som

#270 Bug no poder eliminar un termini de pagament
  account_account_som/account_payment_term.py
Labels: bug, account_account_som

#273 Add script update sequence on January 1th
  scripts/reset_sequences_january_1th.py
Labels: scripts
