Repository Som-Energia/openerp_som_addons, pull requests merged in 2022-01, with the labels that each got.

#80 Afegida cerca exacta per origen
  account_invoice_som/account_invoice.py
  account_invoice_som/account_invoice_data.xml
  account_invoice_som/tests/__init__.py
  giscedata_facturacio_som/giscedata_facturacio.py
  giscedata_facturacio_som/tests/__init__.py
Labels: enhancement, account_invoice_som, giscedata_facturacio_som

#72 WIP: invoice components
  som_informe/__terp__.py
  som_informe/i18n/es_ES.po
  som_informe/i18n/som_informe.pot
  som_informe/report/components/InvoiceF1C/InvoiceF1C.mako
  som_informe/report/components/InvoiceF1C/InvoiceF1C.py
  som_informe/report/components/InvoiceF1C/__init__.py
  som_informe/report/components/InvoiceF1NG/InvoiceF1NG.mako
  som_informe/report/components/InvoiceF1NG/InvoiceF1NG.py
  som_informe/report/components/InvoiceF1NG/__init__.py
  som_informe/report/components/InvoiceF1RA/InvoiceF1RA.mako
  som_informe/report/components/InvoiceF1RA/InvoiceF1RA.py
  som_informe/report/components/InvoiceF1RA/__init__.py
  som_informe/report/components/InvoiceF1Unsupported/InvoiceF1Unsupported.mako
  som_informe/report/components/InvoiceF1Unsupported/InvoiceF1Unsupported.py
  som_informe/report/components/InvoiceF1Unsupported/__init__.py
  som_informe/report/components/InvoiceFE/InvoiceFE.mako
  som_informe/report/components/InvoiceFE/InvoiceFE.py
  som_informe/report/components/InvoiceFE/__init__.py
  som_informe/report/components/__init__.py
  som_informe/report/components/component_utils.py
  som_informe/requirements.txt
  som_informe/tests/__init__.py
  som_informe/tests/som_informe_demo.xml
  som_informe/tests/test_wizard_create_technical_report.py
  som_informe/wizard/wizard_create_technical_report.py
Labels: WIP, som_informe, Need translation

#82 WIP: WizardFraccionarViaExtralines custom
  giscedata_facturacio_som/__init__.py
  giscedata_facturacio_som/__terp__.py
  giscedata_facturacio_som/tests/__init__.py
  giscedata_facturacio_som/tests/tests_giscedata_facturacio_som.py
  giscedata_facturacio_som/tests/tests_wizard_fraccionar_via_extralines.py
  giscedata_facturacio_som/wizard/__init__.py
  giscedata_facturacio_som/wizard/wizard_fraccionar_via_extralines.py
  giscedata_facturacio_som/wizard/wizard_fraccionar_via_extralines_view.xml
  som_account_invoice_pending/som_account_invoice_pending_data.xml
Labels: giscedata_facturacio_som, feature

#76 Tornem a posar els filtres correctes en la notifiació del M102
  som_switching/giscedata_switching_notification_data.xml
Labels: som_switching

#85 canvi de texts a la factura en pdf amb excés de potència quartihoraria per BOE
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/report/components/invoice_details_td_excess_power_quarterhours/invoice_details_td_excess_power_quarterhours.mako
Labels: bug, BOE, Factura en PDF

#87 Afegida prioritat 1 a `account.account.fast.tree`
  account_account_som/account_view.xml
Labels: enhancement
