Repository Som-Energia/openerp_som_addons, pull requests merged in 2022-11, with the labels that each got.

#235 add cide f1
  som_crawlers/data/som_crawlers_step_data.xml
  som_crawlers/data/som_crawlers_task_data.xml
  som_crawlers/tests/wizard_executar_tasca_tests.py
Labels: enhancement, som_crawlers🤖, hacktoberfest

#236 Fix liquidacio interessos
  som_inversions/wizard/wizard_liquidacio_interessos.py
Labels: bug

#232 Afegir funcionalitat descarregar fitxers de distribuidores per FTP
  som_crawlers/data/som_crawlers_config_data.xml
  som_crawlers/data/som_crawlers_step_data.xml
  som_crawlers/data/som_crawlers_task_data.xml
  som_crawlers/models/__init__.py
  som_crawlers/models/som_crawlers_config.py
  som_crawlers/models/som_crawlers_task_step.py
  som_crawlers/models/som_ftp.py
  som_crawlers/models/som_ftp_file_register.py
  som_crawlers/models/som_sftp.py
  som_crawlers/requirements.txt
  som_crawlers/security/ir.model.access.csv
  som_crawlers/views/som_crawlers_config_view.xml
Labels: feature, som_crawlers🤖

#237 some fixes
  som_crawlers/data/som_crawlers_config_data.xml
  som_crawlers/data/som_crawlers_step_data.xml
  som_crawlers/data/som_crawlers_task_data.xml
  som_crawlers/scripts/script_run_crawler.py
Labels: bug

#234 Add logs to som_crawlers_config
  som_crawlers/__terp__.py
  som_crawlers/models/som_crawlers_config.py
  som_crawlers/security/ir.model.access.csv
  som_crawlers/views/som_crawlers_config_view.xml
  som_crawlers/wizard/__init__.py
  som_crawlers/wizard/wizard_canviar_contrasenya.py
  som_crawlers/wizard/wizard_canviar_contrasenya.xml
  som_crawlers/wizard/wizard_canviar_usuari.py
  som_crawlers/wizard/wizard_canviar_usuari.xml
Labels: enhancement, som_crawlers🤖

#238 Allow add telephons from form
  powersms/wizard/wizard_send_sms.py
Labels: bug

#239 Add seconds to filename
  som_crawlers/models/som_crawlers_task_step.py
Labels: bug

#240 Support different servers
  som_crawlers/models/som_crawlers_task_step.py
  som_crawlers/tests/wizard_executar_tasca_tests.py
Labels: enhancement, feature, som_crawlers🤖

#243 new template when D101 titular != titular
  som_switching/giscedata_switching_data.xml
Labels: enhancement, som_switching, feature

#138 Wrapper per la funció get_tariff_period
  som_webforms_helpers/giscedata_polissa_tarifa.py
  som_webforms_helpers/tests/test_tarifes.py
Labels: som_webforms_helpers

#241 Add som crawlers off days
  som_crawlers/__terp__.py
  som_crawlers/models/__init__.py
  som_crawlers/models/som_crawlers_holiday.py
  som_crawlers/models/som_crawlers_task.py
  som_crawlers/security/ir.model.access.csv
  som_crawlers/tests/__init__.py
  som_crawlers/tests/som_crawlers_task_tests.py
  som_crawlers/views/som_crawlers_holiday_view.xml
  som_crawlers/views/som_crawlers_result_view.xml
Labels: enhancement, feature, som_crawlers🤖

#246 Fix mongo errors
  som_crawlers/models/som_crawlers_task.py
  som_crawlers/models/som_crawlers_task_step.py
Labels: som_crawlers🤖

#245 New filters
  som_atc/__init__.py
  som_atc/__terp__.py
  som_atc/models/__init__.py
  som_atc/models/giscedata_atc.py
  som_atc/views/giscedata_atc_view.xml
Labels: enhancement, som_atc, feature

#247 Notificar tant titular de generació com titular de contracte quan D101 sense relació contractual
  som_atc/wizard/wizard_change_state.py
Labels: enhancement, som_atc

#233 Modificacions al pdf de la factura per boe 18/2022 part 1 segona edició
  giscedata_facturacio_comer_som/__terp__.py
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/i18n/es_ES.po
  giscedata_facturacio_comer_som/i18n/giscedata_facturacio_comer_som.pot
  giscedata_facturacio_comer_som/report/components/invoice_details_info_td/invoice_details_info_td.mako
Labels: WIP, Need translation, BOE, Factura en PDF, giscedata_facturacio_comer_som

#244 Afegir el nou logo d'energêtica a la factura
  giscedata_facturacio_comer_som/report/components/logo/logo_S019753.png
Labels: Factura en PDF, giscedata_facturacio_comer_som

#249 Script renquar faileds del RQ
  scripts/requeue_failed.py
Labels: scripts

#255 Fer que les CCPP mostrin l'IVA no reduit, quan ja no és aplicable
  som_polissa_condicions_generals/report/condicions_particulars.mako
Labels: bug, som_polissa_condicions_generals

#248 Fix infoenergia test emails and names with accents
  som_infoenergia/i18n/es_ES.po
  som_infoenergia/i18n/som_infoenergia.pot
  som_infoenergia/som_enviament_massiu.py
  som_infoenergia/som_infoenergia_enviament.py
Labels: bug, som_infoenergia

#228 Modificar l'assistent de refacturar per poder triar accions per separat
  som_facturacio_switching/__init__.py
  som_facturacio_switching/giscedata_facturacio_importacio_linia.py
  som_facturacio_switching/giscedata_facturacio_switching.py
  som_facturacio_switching/wizard/wizard_refund_rectify_from_origin.py
  som_facturacio_switching/wizard/wizard_refund_rectify_from_origin_view.xml
Labels: som_facturacio_switching

#257 CCPP data de firma al dia que s'envia
  som_polissa_condicions_generals/i18n/som_polissa_condicions_generals.pot
  som_polissa_condicions_generals/report/condicions_particulars.mako
Labels: bug, som_polissa_condicions_generals
