Repository Som-Energia/openerp_som_addons, pull requests merged in 2022-06, with the labels that each got.

#141 Add tags to ATC
  som_switching/__terp__.py
  som_switching/giscedata_atc.py
  som_switching/giscedata_atc_data.xml
  som_switching/giscedata_atc_view.xml
  som_switching/giscedata_polissa_view.xml
  som_switching/security/ir.model.access.csv
  som_switching/wizard/__init__.py
  som_switching/wizard/wizard_create_atc_from_polissa.py
  som_switching/wizard/wizard_create_atc_from_polissa.xml
Labels: som_switching, feature

#151 changing the store function base member
  som_facturacio_comer/giscedata_facturacio_contracte_lot.py
Labels: bug, som_facturacio_comer

#133 WIP; Afegir tests pel wizar_refund_recitify_from_origin
  som_facturacio_comer/tests/__init__.py
  som_facturacio_comer/tests/tests_wizard_refund_rectify_from_origin.py
Labels: som_facturacio_comer

#149 Add Github Actions
  .circleci/config.yml
  .github/workflows/integration_config.yml
  scripts/dbconfig.py
Labels: circleci

#156 Fix reference before assignment
  som_informe/wizard/wizard_create_technical_report.py
Labels: bug, som_informe

#158 Sobreescriu mètode d'activació de casos ATR per tenir comportament anterior
  som_switching/giscedata_switching.py
Labels: som_switching

#159 Fix #158
  som_switching/giscedata_switching.py
Labels: bug, som_switching

#157 Update integration_config.yml
  .github/workflows/integration_config.yml
Labels: GithubActions

#161 Update giscedata_switching_data.xml
  som_switching/giscedata_switching_data.xml
Labels: bug, som_switching

#160 Afegida variable `res.config` per ometre comprovació de factures en esborrany
  giscedata_facturacio_som/__terp__.py
  giscedata_facturacio_som/giscedata_facturacio_data.xml
Labels: bug, enhancement

#147 WIP: Afegir dates de les línies d'energia, potència i GkWh al PDF de la factura
  giscedata_facturacio_comer_som/giscedata_facturacio_comer_som_demo.xml
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/i18n/es_ES.po
  giscedata_facturacio_comer_som/i18n/giscedata_facturacio_comer_som.pot
  giscedata_facturacio_comer_som/report/components/hourly_curve/hourly_curve.css
  giscedata_facturacio_comer_som/report/components/hourly_curve/hourly_curve.mako
  giscedata_facturacio_comer_som/report/components/invoice_details_td_energy/invoice_details_td_energy.mako
  giscedata_facturacio_comer_som/report/components/invoice_details_td_energy_generationkwh/invoice_details_td_energy_generationkwh.mako
  giscedata_facturacio_comer_som/report/components/invoice_details_td_excess_power_maximeter/invoice_details_td_excess_power_maximeter.mako
  giscedata_facturacio_comer_som/report/components/invoice_details_td_excess_power_quarterhours/invoice_details_td_excess_power_quarterhours.mako
  giscedata_facturacio_comer_som/report/components/invoice_details_td_generation/invoice_details_td_generation.mako
  giscedata_facturacio_comer_som/report/components/invoice_details_td_other_concepts/invoice_details_td_other_concepts.mako
  giscedata_facturacio_comer_som/report/components/invoice_details_td_power/invoice_details_td_power.mako
  giscedata_facturacio_comer_som/report/report_giscedata_facturacio_factura_comer.mako
  giscedata_facturacio_comer_som/tests/tests_FacturacioFacturaReport_some.py
Labels: WIP, giscedata_facturacio_comer_som

#163 Afegim script del servirdor al repositori
  scripts/clean_mailboxes.py
Labels: scripts

#154 Modifica adjunts tarifa indexada
  som_infoenergia/i18n/es_ES.po
  som_infoenergia/i18n/som_infoenergia.pot
  som_infoenergia/report/components/antecedents/antecedents.mako
  som_infoenergia/report/components/energy_prices/energy_prices.mako
  som_infoenergia/report/components/energy_prices/energy_prices.py
  som_infoenergia/report/components/power_prices/power_prices.mako
  som_infoenergia/report/components/power_prices/power_prices.py
  som_infoenergia/report/components/tail_text/tail_text.mako
  som_infoenergia/report/components/tail_text/tail_text.py
  som_infoenergia/report/report_indexed_offer.css
Labels: som_infoenergia

#136 Pagar factures des de la OV: adaptació del `facturacio.pay.invoice` per generar avísos
  som_account_invoice_pending/__terp__.py
  som_account_invoice_pending/demo/som_account_invoice_pending_demo_data.xml
  som_account_invoice_pending/requirements.txt
  som_account_invoice_pending/som_account_invoice_pending_data.xml
  som_account_invoice_pending/tests/__init__.py
  som_account_invoice_pending/tests/update_pending_states_tests.py
  som_account_invoice_pending/tests/wizard_pay_invoice_tests.py
  som_account_invoice_pending/wizard/__init__.py
  som_account_invoice_pending/wizard/wizard_pay_invoice.py
Labels: som_account_invoice_pending

#166 Noves llistes de preus indexades
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
Labels: giscedata_facturacio_comer_som

#129 Agregar el telefon al cas B101
  som_switching/__init__.py
  som_switching/__terp__.py
  som_switching/giscedata_switching_b1.py
  som_switching/tests/__init__.py
  som_switching/tests/tests_wizard_switching_b1.py
  som_switching/wizard/__init__.py
  som_switching/wizard/giscedata_switching_wizard_b1.py
  som_switching/wizard/giscedata_switching_wizard_b1.xml
Labels: som_switching
