Repository Som-Energia/openerp_som_addons, pull requests merged in 2022-07, with the labels that each got.

#150 Canviar el camp teoric_maximum_consume_GC a la pestanya Facturació
  som_facturacio_comer/giscedata_facturacio_validation.py
  som_facturacio_comer/giscedata_polissa.py
  som_facturacio_comer/giscedata_polissa_view.xml
  som_facturacio_comer/tests/tests_facturacio_warnings.py
Labels: som_facturacio_comer

#168 FIX autofactura: Quan un pas intermig està desactivat, detectar-ho
  som_autofactura/__terp__.py
  som_autofactura/som_autofactura_task.py
  som_autofactura/som_autofactura_task_view.xml
  som_autofactura/wizard/wizard_autofactura.py
Labels: bug, som_autofactura

#170 Add email template for rebaixa iva 5%
  som_infoenergia/som_infoenergia_data.xml
Labels: som_infoenergia

#172 Fer que les tags de CACs no es sobreescriguin amb l'update
  som_switching/giscedata_atc_data.xml
Labels: som_switching

#173 VAT number only indentifier
  som_account_invoice_pending/wizard/wizard_tugesto_invoices_export.py
Labels: som_account_invoice_pending

#143 Canviar el camp `agree_tipus` (deprecated) per `tipo_medida` al wizard add_contracts_lot
  som_infoenergia/wizard/wizard_add_contracts_lot.py
  som_infoenergia/wizard/wizard_add_contracts_lot_view.xml
Labels: som_infoenergia

#169 Overwrite _create_tmp_zip and _get_b64_zip_files methods
  som_switching/tests/__init__.py
  som_switching/tests/tests_wizard_import_atr_and_f1.py
  som_switching/wizard/__init__.py
  som_switching/wizard/wizard_import_atr_and_f1.py
Labels: som_switching

#94 WIP: Afegir mòdul som_autoreclama
  som_autoreclama/__init__.py
  som_autoreclama/__terp__.py
  som_autoreclama/giscedata_atc.py
  som_autoreclama/giscedata_atc_view.xml
  som_autoreclama/migrations/5.0.2.107.0/post-0001_set_initial_history_atc_state.py
  som_autoreclama/security/ir.model.access.csv
  som_autoreclama/security/som_autoreclama.xml
  som_autoreclama/som_autoreclama_state.py
  som_autoreclama/som_autoreclama_state_condition.py
  som_autoreclama/som_autoreclama_state_data.xml
  som_autoreclama/som_autoreclama_state_history.py
  som_autoreclama/som_autoreclama_state_updater.py
  som_autoreclama/som_autoreclama_state_view.xml
  som_autoreclama/som_autoreclama_state_workflow.py
  som_autoreclama/tests/__init__.py
  som_autoreclama/tests/test_som_autoreclama_states.py
  som_autoreclama/wizard/__init__.py
  som_autoreclama/wizard/wizard_massive_create_r1029.py
  som_autoreclama/wizard/wizard_massive_create_r1029_view.xml
  som_autoreclama/wizard/wizard_som_autoreclama_execute_step.py
  som_autoreclama/wizard/wizard_som_autoreclama_execute_step_view.xml
  som_autoreclama/wizard/wizard_som_autoreclama_generated_atc.py
  som_autoreclama/wizard/wizard_som_autoreclama_generated_atc_view.xml
  som_autoreclama/wizard/wizard_som_autoreclama_set_disable_state.py
  som_autoreclama/wizard/wizard_som_autoreclama_set_disable_state_view.xml
  som_autoreclama/wizard/wizard_som_autoreclama_set_manual_state.py
  som_autoreclama/wizard/wizard_som_autoreclama_set_manual_state_view.xml
Labels: enhancement, WIP, som_autoreclama

#177 Remove subfolder from file_name and unit tests added
  som_switching/tests/tests_wizard_import_atr_and_f1.py
  som_switching/wizard/wizard_import_atr_and_f1.py
Labels: som_switching

#176 Afegir límit correus lot per enviar i poder eliminar els correus de la bústia
  som_infoenergia/som_enviament_massiu.py
  som_infoenergia/som_infoenergia_data.xml
  som_infoenergia/som_infoenergia_enviament.py
  som_infoenergia/tests/test_wizards.py
  som_infoenergia/wizard/wizard_send_reports.py
  som_infoenergia/wizard/wizard_send_reports_view.xml
Labels: som_infoenergia

#162 Afegir plantmeter a githubactions
  .github/workflows/integration_config.yml
Labels: WIP, GithubActions
