Repository Som-Energia/openerp_som_addons, pull requests merged in 2022-09, with the labels that each got.

#201 FIX: poder cancel·lar pòlisses de baixa i emplenar amb 0 a l'esquerra el nom de les pòlisses
  som_infoenergia/som_infoenergia_lot.py
  som_infoenergia/tests/test_lot_enviament.py
  som_infoenergia/tests/test_wizards.py
  som_infoenergia/wizard/wizard_cancel_from_csv.py
  som_infoenergia/wizard/wizard_cancel_from_csv_view.xml
Labels: som_infoenergia

#204 Afegir carpeta on es mouen els SMS amb error
  powersms/powersms_smsbox.py
  powersms/powersms_smsbox_view.xml
Labels: enhancement, powersms

#187 Initial commit
  som_crawlers/Readme.md
  som_crawlers/__init__.py
  som_crawlers/__terp__.py
  som_crawlers/data/som_crawlers_data.xml
  som_crawlers/demo/anselmo_2022-07-26_15_11_GRCW_W4X151_20220726151137.zip
  som_crawlers/demo/som_crawlers_demo.xml
  som_crawlers/demo/zip_demo_2/empty_folder.txt
  som_crawlers/models/__init__.py
  som_crawlers/models/som_crawlers.py
  som_crawlers/models/som_crawlers_config.py
  som_crawlers/models/som_crawlers_result.py
  som_crawlers/models/som_crawlers_task.py
  som_crawlers/models/som_crawlers_task_step.py
  som_crawlers/outputFiles/empty_folder.txt
  som_crawlers/scripts/script_run_crawler.py
  som_crawlers/security/crawlers_security.xml
  som_crawlers/security/ir.model.access.csv
  som_crawlers/spiders
  som_crawlers/tests/__init__.py
  som_crawlers/tests/som_crawlers_config_tests.py
  som_crawlers/tests/wizard_executar_tasca_tests.py
  som_crawlers/views/som_crawlers_config_view.xml
  som_crawlers/views/som_crawlers_result_view.xml
  som_crawlers/views/som_crawlers_task_step_view.xml
  som_crawlers/views/som_crawlers_task_view.xml
  som_crawlers/wizard/__init__.py
  som_crawlers/wizard/wizard_canviar_dies_de_marge.py
  som_crawlers/wizard/wizard_canviar_dies_de_marge.xml
  som_crawlers/wizard/wizard_executar_tasca.py
  som_crawlers/wizard/wizard_executar_tasca.xml
Labels: som_crawlers🤖

#212 Amagar camp GC fins que s'arregli scroll
  som_facturacio_comer/__terp__.py
  som_facturacio_comer/giscedata_polissa_view.xml
Labels: som_facturacio_comer

#153 Cridar el botó des de F1 i agrupar totes les factures de la mateixa pòlissa
  som_facturacio_comer/__terp__.py
  som_facturacio_comer/giscedata_facturacio_data.xml
  som_facturacio_comer/security/ir.model.access.csv
  som_facturacio_comer/tests/__init__.py
  som_facturacio_comer/wizard/__init__.py
  som_facturacio_switching/__terp__.py
  som_facturacio_switching/migrations/5.0.2.107.6/pre-0001_move_refund_rectify_wizard.py
  som_facturacio_switching/security/ir.model.access.csv
  som_facturacio_switching/tests/__init__.py
  som_facturacio_switching/tests/tests_wizard_refund_rectify_from_origin.py
  som_facturacio_switching/wizard/__init__.py
  som_facturacio_switching/wizard/wizard_refund_rectify_from_origin.py
  som_facturacio_switching/wizard/wizard_refund_rectify_from_origin_view.xml
Labels: WIP, som_facturacio_comer, som_facturacio_switching

#209 Modificacions vàries al som_crawlers
  som_crawlers/models/som_crawlers_config.py
  som_crawlers/models/som_crawlers_result.py
  som_crawlers/models/som_crawlers_task.py
  som_crawlers/models/som_crawlers_task_step.py
  som_crawlers/views/som_crawlers_config_view.xml
  som_crawlers/views/som_crawlers_result_view.xml
  som_crawlers/views/som_crawlers_task_view.xml
Labels: som_crawlers🤖

#216 Support inherited files
  .github/workflows/integration_config.yml
  som_crawlers/data/som_crawlers_data.xml
  som_crawlers/models/som_crawlers_task_step.py
  som_crawlers/scripts/script_run_crawler.py
  som_crawlers/tests/wizard_executar_tasca_tests.py
Labels: som_crawlers🤖

#193 Afegir el MAJ al PDF de la factura
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/i18n/es_ES.po
  giscedata_facturacio_comer_som/i18n/giscedata_facturacio_comer_som.pot
  giscedata_facturacio_comer_som/report/components/invoice_details_td_energy/invoice_details_td_energy.mako
Labels: Need translation, Factura en PDF, giscedata_facturacio_comer_som

#185 [MAJ] Fer readonly el camp de pòlissa de `coef_repercusio_gas`
  som_facturacio_comer/__terp__.py
  som_facturacio_comer/giscedata_polissa_view.xml
Labels: som_facturacio_comer

#215 FIX: `giscedata.polissa` priority view added
  som_switching/giscedata_polissa_view.xml
Labels: bug

#210 Arreglar error d'adreces al mailchimp
  som_polissa_soci/res_partner_address.py
  som_polissa_soci/tests/__init__.py
  som_polissa_soci/tests/tests_partner_address.py
Labels: bug, WIP, som_polissa_soci
