Repository Som-Energia/openerp_som_addons, pull requests merged in 2023-09, with the labels that each got.

#426 Canviar valor de URL per wizard en configuració de crawlers
  som_crawlers/__terp__.py
  som_crawlers/models/som_crawlers_config.py
  som_crawlers/security/ir.model.access.csv
  som_crawlers/views/som_crawlers_config_view.xml
  som_crawlers/wizard/__init__.py
  som_crawlers/wizard/wizard_change_field_value.py
  som_crawlers/wizard/wizard_change_field_value.xml
Labels: som_crawlers🤖

#427 Afegir la capacitat d'executar una validació de factura en esborrany isolada sobre una factura qualsevol
  som_facturacio_comer/giscedata_facturacio_validation.py
Labels: feature, som_facturacio_comer

#423 👔 Modify condicions particulars signed text for contracts with business tariff category
  som_polissa/migrations/5.0.2.108/pre-0001_business_tariff_semantic_id_creation.py
  som_polissa/som_polissa_data.xml
  som_polissa_condicions_generals/i18n/es_ES.po
  som_polissa_condicions_generals/report/condicions_particulars.mako
  som_polissa_condicions_generals_m101/i18n/es_ES.po
  som_polissa_condicions_generals_m101/report/condicions_particulars_m101.mako
Labels: enhancement, som_polissa_condicions_generals, som_polissa_condicions_generals_m101, som_polissa

#431 modificacions camp autoconsum id
  som_polissa/giscedata_polissa_view.xml
  som_polissa/migrations/5.0.2.108/post-0001_modify_autoconsum_field.py
Labels: som_polissa

#424 Canvi prioritzat llistat polissa cau per no sobrescriure cerca polissa general
  som_polissa/giscedata_polissa_view.xml
Labels: bug, som_polissa

#425 ✨ Afegir Flux Solar parametres a factura PDF
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/i18n/es_ES.po
  giscedata_facturacio_comer_som/i18n/giscedata_facturacio_comer_som.pot
  giscedata_facturacio_comer_som/report/components/invoice_details_td/invoice_details_td.mako
  giscedata_facturacio_comer_som/report/components/invoice_details_td_flux_solar/invoice_details_td_flux_solar.mako
  giscedata_facturacio_comer_som/report/components/invoice_summary_td/invoice_summary_td.mako
Labels: giscedata_facturacio_comer_som

#432 👔 Remove contract categories on owner change
  som_switching/__init__.py
  som_switching/giscedata_switching_m1.py
Labels: enhancement, som_switching

#300 Ajustos a la visualització de "Pòlisses amb deute"
  som_facturacio_comer/__terp__.py
  som_facturacio_comer/giscedata_polissa.py
  som_facturacio_comer/giscedata_polissa_view.xml
  som_facturacio_comer/migrations/5.0.23.1.0/post-0001_load_views_polissa_deute.py
Labels: enhancement, som_facturacio_comer, deployed

#437 Eliminar fitxer de codi repetit som_crawlers
  som_crawlers/models/som_crawlers.py
Labels: som_crawlers🤖

#434 Pobresa state into impagament confirmat automatized
  som_account_invoice_pending/__terp__.py
  som_account_invoice_pending/data/custom_search_data.xml
  som_account_invoice_pending/tests/update_pending_states_tests.py
  som_account_invoice_pending/update_pending_states.py
Labels: enhancement, som_account_invoice_pending

#436 🎨 Add code format to multiple modules
  som_control_reports/__init__.py
  som_control_reports/__terp__.py
  som_control_reports/report/__init__.py
  som_control_reports/report/company_control_report.mako
  som_control_reports/report/company_control_reports.py
  som_control_reports/res_company.py
  som_control_reports/som_control_reports_report.xml
  som_documents_sensibles/__terp__.py
  som_documents_sensibles/som_documents_sensibles.py
  som_documents_sensibles/som_documents_sensibles_data.xml
  som_documents_sensibles/som_documents_sensibles_view.xml
  som_empowering/__terp__.py
  som_empowering/giscedata_polissa.py
  som_empowering/i18n/babel.cfg
  som_empowering/i18n/ca_ES.po
  som_empowering/report/report_informe_energetic.css
  som_empowering/report/report_informe_energetic.mako
  som_empowering/report/style.css
  som_empowering/res_partner.py
  som_empowering/res_partner_view.xml
  som_empowering/tests/test_res_partner.py
  som_energetica/__terp__.py
  som_energetica/giscedata_facturacio.py
  som_energetica/giscedata_facturacio_data.xml
  som_energetica/giscedata_polissa.py
  som_energetica/som_energetica_data.xml
  som_energetica/tests/__init__.py
  som_energetica/tests/test_som_energetica_contract.py
Labels: som_empowering, som_documents_sensibles, som_control_reports, som_energetica

#430 🎨 Add code format som_autoreclama
  som_autoreclama/__init__.py
  som_autoreclama/__terp__.py
  som_autoreclama/giscedata_atc.py
  som_autoreclama/giscedata_atc_view.xml
  som_autoreclama/migrations/5.0.2.107.0/post-0001_set_initial_history_atc_state.py
  som_autoreclama/som_autoreclama_state.py
  som_autoreclama/som_autoreclama_state_condition.py
  som_autoreclama/som_autoreclama_state_data.xml
  som_autoreclama/som_autoreclama_state_history.py
  som_autoreclama/som_autoreclama_state_updater.py
  som_autoreclama/som_autoreclama_state_view.xml
  som_autoreclama/som_autoreclama_state_workflow.py
  som_autoreclama/tests/__init__.py
  som_autoreclama/tests/test_som_autoreclama_states.py
  som_autoreclama/wizard/wizard_massive_create_r1029.py
  som_autoreclama/wizard/wizard_massive_create_r1029_view.xml
  som_autoreclama/wizard/wizard_som_autoreclama_execute_step.py
  som_autoreclama/wizard/wizard_som_autoreclama_execute_step_view.xml
  som_autoreclama/wizard/wizard_som_autoreclama_generated_atc.py
  som_autoreclama/wizard/wizard_som_autoreclama_generated_atc_view.xml
  som_autoreclama/wizard/wizard_som_autoreclama_set_disable_state.py
  som_autoreclama/wizard/wizard_som_autoreclama_set_disable_state_view.xml
  som_autoreclama/wizard/wizard_som_autoreclama_set_manual_state.py
  som_autoreclama/wizard/wizard_som_autoreclama_set_manual_state_view.xml
Labels: som_autoreclama

#435 Permetre seleccionar polisses per codi postal de CUPS a l'assitent de csv
  som_facturacio_switching/wizard/wizard_model_list_from_file_data.xml
Labels: feature, som_facturacio_switching

#369 [Bateria Virtual] - Accions i columnes llistat + Modificacions Origen + Percentatges Acumulacio
  som_facturacio_flux_solar/__init__.py
  som_facturacio_flux_solar/__terp__.py
  som_facturacio_flux_solar/giscedata_bateria_virtual.py
  som_facturacio_flux_solar/giscedata_bateria_virtual.xml
  som_facturacio_flux_solar/giscedata_bateria_virtual_origen.py
  som_facturacio_flux_solar/giscedata_bateria_virtual_origen.xml
  som_facturacio_flux_solar/giscedata_bateria_virtual_percentatges_acumulacio.py
  som_facturacio_flux_solar/giscedata_bateria_virtual_percentatges_acumulacio_data.xml
  som_facturacio_flux_solar/giscedata_bateria_virtual_polissa.py
  som_facturacio_flux_solar/migrations/5.0.23.9.0/post-0001_flux_solar_inici.py
  som_facturacio_flux_solar/security/ir.model.access.csv
Labels: WIP, feature, deployed

#356 Validacions custom assistent bateria virtual
  som_facturacio_comer/wizard/__init__.py
  som_facturacio_comer/wizard/wizard_afegir_contracte_bateria_virtual.py
Labels: WIP, deployed

#413 Que el descompte tingui en compte data inici factura i no data emissió
  som_facturacio_comer/giscedata_polissa.py
Labels: deployed

#442 update ref
  som_indexada/wizard/wizard_change_to_indexada.py
Labels: bug, som_indexada

#438 🎨 Format som_extend_facturacio_comer and som_extend_facturacio_facturae
  som_extend_facturacio_comer/__terp__.py
  som_extend_facturacio_comer/facturacio_extra.py
  som_extend_facturacio_comer/giscedata_facturacio_validation.py
  som_extend_facturacio_comer/giscedata_facturacio_view.xml
  som_extend_facturacio_comer/payment_order.py
  som_extend_facturacio_comer/payment_order_data.xml
  som_extend_facturacio_comer/security/ir.model.access.csv
  som_extend_facturacio_comer/tests/__init__.py
  som_extend_facturacio_comer/tests/test_facturacio.py
  som_extend_facturacio_comer/tests/tests_add_automatically_invoices.py
  som_extend_facturacio_comer/utils.py
  som_extend_facturacio_comer/wizard/__init__.py
  som_extend_facturacio_comer/wizard/wizard_change_payment_type.py
  som_extend_facturacio_facturae/__terp__.py
  som_extend_facturacio_facturae/facturae_module.py
  som_extend_facturacio_facturae/giscedata_facturacio.py
  som_extend_facturacio_facturae/wizard/wizard_export_facturae.py
Labels: som_extend_facturacio_comer, som_extend_facturacio_facturae
