Repository Som-Energia/openerp_som_addons, pull requests merged in 2023-01, with the labels that each got.

#274 selecció automàtica de tipus de reclamant al wizard de creació de R1 segons canal al wizard de creació de cas ATC
  som_switching/wizard/wizard_create_r1.py
Labels: bug, som_switching, feature

#268 Afegir consum mitjà per codi postal a la factura en pdf
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/i18n/es_ES.po
  giscedata_facturacio_comer_som/i18n/giscedata_facturacio_comer_som.pot
  giscedata_facturacio_comer_som/report/components/energy_consumption_graphic_td/energy_consumption_graphic_td.mako
Labels: Need translation, Factura en PDF, giscedata_facturacio_comer_som

#269 Add generation kwh detection to f1 observation field
  som_facturacio_switching/tests/tests_wizard_refund_rectify_from_origin.py
  som_facturacio_switching/wizard/wizard_refund_rectify_from_origin.py
  som_facturacio_switching/wizard/wizard_refund_rectify_from_origin_view.xml
Labels: enhancement, som_facturacio_switching

#276 Add TDVE to wizard
  som_facturacio_comer/wizard/wizard_informe_factures_dades_desagregades.py
Labels: bug

#279 fix pr 275
  som_account_invoice_pending/update_pending_states.py
Labels: bug, som_account_invoice_pending

#281 Asignar grupo de pago por defecto cuando se modifica el titular de la póliza.
  som_polissa/giscedata_polissa.py
  som_switching/giscedata_switching_helpers.py
Labels: enhancement, som_switching, som_polissa

#282 Fix Error de càlcul al pdf de factura a l'energia total consumida les últims 12 mesos
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/tests/tests_FacturacioFacturaReport_some.py
Labels: bug, Factura en PDF

#283 refactor messages
  som_crawlers/models/som_crawlers_task.py
  som_crawlers/models/som_crawlers_task_step.py
  som_crawlers/tests/wizard_executar_tasca_tests.py
Labels: bug, som_crawlers🤖

#277 Script per reimportar resultats incorrectes dels crawlers que tinguin adjunts baixats
  scripts/reimport_som_crawlers_zips.py
  scripts/run_all_som_crawlers_tasks.py
  som_crawlers/models/som_crawlers_task_step.py
  som_crawlers/tests/wizard_executar_tasca_tests.py
Labels: som_crawlers🤖

#285 Fix waiting for annex cancelled contracts
  som_account_invoice_pending/update_pending_states.py
Labels: bug, som_account_invoice_pending
