Repository Som-Energia/openerp_som_addons, pull requests merged in 2023-12, with the labels that each got.

#493 Mostar el qr de la factura sempre que sigui possible
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
Labels: bug, giscedata_facturacio_comer_som

#500 Afegir una conversió a int per resoldre un error.
  som_facturacio_comer/wizard/wizard_afegir_contracte_bateria_virtual.py
Labels: bug

#497 Evitar la validació de dates en les remeses d'altes socis
  account_invoice_som/__init__.py
  account_invoice_som/__terp__.py
  account_invoice_som/account_move_line.py
  account_invoice_som/wizard/wizard_export_remesas_view.xml
Labels: account_invoice_som

#504 ✨ (leads) Utilitzar preus de potencies de tarifes existents
  som_leads_polissa/giscedata_crm_lead.py
  som_leads_polissa/giscedata_crm_lead_view.xml
  som_polissa_condicions_generals/report/condicions_particulars.mako
Labels: som_polissa_condicions_generals, som_leads_polissa

#505 allow tags for contracts cobraments and reclama
  som_switching/wizard/wizard_create_atc_from_polissa.py
  som_switching/wizard/wizard_create_atc_from_polissa.xml
Labels: enhancement, som_switching
