Repository Som-Energia/openerp_som_addons, pull requests merged in 2023-06, with the labels that each got.

#363 Add code format giscedata facturacio som
  giscedata_facturacio_som/__init__.py
  giscedata_facturacio_som/__terp__.py
  giscedata_facturacio_som/giscedata_facturacio.py
  giscedata_facturacio_som/tests/tests_giscedata_facturacio_som.py
  giscedata_facturacio_som/tests/tests_wizard_fraccionar_via_extralines.py
  giscedata_facturacio_som/wizard/__init__.py
  giscedata_facturacio_som/wizard/wizard_fraccionar_via_extralines.py
  giscedata_facturacio_som/wizard/wizard_model_list_from_file.py
Labels: giscedata_facturacio_som

#364 Add code format scripts
  scripts/change_partner_in_invoice.py
  scripts/clean_mailboxes.py
  scripts/cron_informe_cnmc_canvi_comer.py
  scripts/cron_switchingreport.sh
  scripts/reimport_som_crawlers_zips.py
  scripts/requeue_failed.py
  scripts/reset_sequences_january_1th.py
  scripts/run_all_som_crawlers_tasks.py
  scripts/send_invoice_emails.py
Labels: scripts

#370 [FIX] Crea un job per cada linia a importar
  som_facturacio_switching/giscedata_facturacio_importacio_linia.py
Labels: som_facturacio_switching

#375 Change blockquote by padding
  som_polissa_condicions_generals/report/condiciones_especificas_indexada.mako
  som_polissa_condicions_generals/report/condicions_especifiques_indexada.mako
Labels: bug

#380 Canvis al pdf de la factura per tarifes indexades
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/i18n/es_ES.po
  giscedata_facturacio_comer_som/i18n/giscedata_facturacio_comer_som.pot
  giscedata_facturacio_comer_som/report/components/contract_data_td/contract_data_td.mako
  giscedata_facturacio_comer_som/report/components/invoice_details_td_energy/invoice_details_td_energy.mako
Labels: bug, Need translation, giscedata_facturacio_comer_som

#386 Fix som_crawlers errors not being detected
  som_crawlers/data/som_crawlers_config_data.xml
  som_crawlers/models/som_crawlers_task.py
Labels: som_crawlers🤖

#387 Arreglar reimportació de F1's agafant el cups que toca
  som_facturacio_switching/giscedata_facturacio_importacio_linia.py
Labels: bug, som_facturacio_switching

#347 Create new wizard to change indexed contracts K from CSV
  som_indexada/__terp__.py
  som_indexada/giscedata_polissa_modcontractual.py
  som_indexada/security/ir.model.access.csv
  som_indexada/wizard/__init__.py
  som_indexada/wizard/wizard_massive_k_change.py
  som_indexada/wizard/wizard_massive_k_change.xml
Labels: som_indexada
