Repository Som-Energia/openerp_som_addons, pull requests merged in 2023-11, with the labels that each got.

#471 Modificació de mètode per a obtenir la data d'inici del flux solar de cares a calcular descomptes
  som_facturacio_flux_solar/giscedata_polissa.py
Labels: som_flux_solar

#468 Modificar camps referents a flux solar en la vista de polissa
  som_polissa/giscedata_polissa.py
  som_polissa/giscedata_polissa_view.xml
  som_polissa/migrations/5.0.23.12.0/pre-0001_bateria_virtual_polissa_fields.py
Labels: enhancement, WIP, scripts, som_polissa, deployed, som_flux_solar

#465 FIX en dates d'aplicació de descomptes i canvis en dates en general de FS
  .gitignore
  som_facturacio_comer/giscedata_polissa.py
  som_facturacio_flux_solar/giscedata_bateria_virtual.py
  som_facturacio_flux_solar/giscedata_bateria_virtual_origen.py
  som_facturacio_flux_solar/giscedata_bateria_virtual_polissa.py
Labels: som_polissa, som_flux_solar

#475 (FIX) fix bug in report
  som_polissa_condicions_generals/report/condicions_particulars.mako
Labels: som_polissa_condicions_generals

#477 Add script update forks
  scripts/update_gisce_forks.sh
Labels: scripts

#478 Codi per reforçar l'update del camp stored process_step
  som_atc/models/__init__.py
  som_atc/models/giscedata_atc.py
  som_atc/models/giscedata_switching_helpers.py
Labels: bug, som_atc

#472 Actualitzar IBAN de les factures no pagades
  som_polissa/security/ir.model.access.csv
  som_polissa/som_polissa_webforms_helpers.py
Labels: som_polissa, deployed

#483 Afegeix métode custom per a crear origens de Flux Solar
  som_facturacio_flux_solar/wizard/wizard_afegir_contracte_bateria_virtual.py
Labels: som_flux_solar

#484 Millora obtenció de factures per a calcular descomptes Flux solar per nou camp a l'origen
  som_facturacio_comer/giscedata_polissa.py
Labels: som_facturacio_comer, som_flux_solar

#486 Add backend mail canvi preus
  som_polissa_condicions_generals/__init__.py
  som_polissa_condicions_generals/__terp__.py
  som_polissa_condicions_generals/giscedata_polissa_condicions_generals_data.xml
  som_polissa_condicions_generals/report_backend_mailcanvipreus.py
  som_polissa_condicions_generals/security/ir.model.access.csv
Labels: som_polissa_condicions_generals, deployed

#487 Add indexada estimation cost
  som_polissa_condicions_generals/report_backend_mailcanvipreus.py
Labels: som_polissa_condicions_generals

#488 🐛 (backend preus): Fix mode facturacio indexada
  som_polissa_condicions_generals/report_backend_mailcanvipreus.py
Labels: som_polissa_condicions_generals

#489 Fix typo a data_inici per a càlcul de descomptes de flux solar
  som_facturacio_comer/giscedata_polissa.py
Labels: bug, som_flux_solar

#491 Backend correu canvi preus: Afegir bo_social, autoconsum i info de modcon
  som_polissa_condicions_generals/report_backend_mailcanvipreus.py
Labels: som_polissa_condicions_generals
