Repository Som-Energia/openerp_som_addons, pull requests merged in 2023-07, with the labels that each got.

#383 Modificar columnes polisses amb incidencies
  som_facturacio_comer/giscedata_facturacio_contracte_lot.py
  som_facturacio_comer/giscedata_facturacio_contracte_lot_view.xml
  som_facturacio_comer/giscedata_facturacio_view.xml
  som_facturacio_comer/migrations/5.0.23.6.0/post-0001_modificacions_contracte_lot.py
  som_facturacio_comer/migrations/5.0.23.6.0/post-0002_modif_contracte_lot_incidencies.py
Labels: feature, som_facturacio_comer, deployed

#342 Adaptar webforms helpers per fer el canvi d'indexada a períodes
  som_indexada/__terp__.py
  som_indexada/data/res_config_data.xml
  som_indexada/som_indexada_webforms_helpers.py
  som_indexada/tests/test_wizard_change_to_indexada.py
Labels: som_webforms_helpers

#398 intereses
  som_inversions/i18n/es_ES.po
Labels: bug, som_inversions

#376 Refactor del codi de canvi de compte
  som_polissa/__init__.py
  som_polissa/__terp__.py
  som_polissa/som_polissa_webforms_helpers.py
  som_polissa/tests/__init__.py
  som_polissa/tests/som_polissa_demo.xml
  som_polissa/tests/som_polissa_webforms_helpers_tests.py
Labels: som_polissa

#400 Force tariff to take into account tariff changes
  som_facturacio_switching/giscedata_polissa.py
  som_indexada/wizard/wizard_change_to_indexada.py
  som_switching/__terp__.py
  som_switching/giscedata_switching.py
Labels: bug, som_facturacio_switching, som_indexada

#399 Solucionar problemes al generar Som informe quan no es troba F1 de la factura
  som_informe/report/components/InvoiceF1NG/InvoiceF1NG.py
Labels: bug, som_informe

#393 fix condition pending modcons
  som_indexada/giscedata_polissa_modcontractual.py
Labels: bug, som_indexada

#391 Adaptar condicions generals en report contracte quan es canvia de indexada a periodes
  som_polissa_condicions_generals/report/condicions_particulars.mako
  som_polissa_condicions_generals_m101/report/condicions_particulars_m101.mako
Labels: som_polissa_condicions_generals, som_indexada

#379 Add code format som_atc
  som_atc/__init__.py
  som_atc/__terp__.py
  som_atc/models/__init__.py
  som_atc/models/giscedata_atc.py
  som_atc/views/giscedata_atc_view.xml
  som_atc/wizard/wizard_change_state.py
  som_atc/wizard/wizard_create_atc_from_polissa.py
Labels: som_atc

#377 Add code format som_crawlers
  som_crawlers/Readme.md
  som_crawlers/__init__.py
  som_crawlers/__terp__.py
  som_crawlers/models/__init__.py
  som_crawlers/models/exceptions.py
  som_crawlers/models/som_crawlers.py
  som_crawlers/models/som_crawlers_config.py
  som_crawlers/models/som_crawlers_holiday.py
  som_crawlers/models/som_crawlers_result.py
  som_crawlers/models/som_crawlers_task.py
  som_crawlers/models/som_crawlers_task_step.py
  som_crawlers/models/som_ftp.py
  som_crawlers/models/som_ftp_file_register.py
  som_crawlers/models/som_sftp.py
  som_crawlers/scripts/script_run_crawler.py
  som_crawlers/security/ir.model.access.csv
  som_crawlers/tests/som_crawlers_config_tests.py
  som_crawlers/tests/som_crawlers_task_step_tests.py
  som_crawlers/tests/som_crawlers_task_tests.py
  som_crawlers/tests/wizard_executar_tasca_tests.py
  som_crawlers/views/som_crawlers_holiday_view.xml
  som_crawlers/views/som_crawlers_task_step_view.xml
  som_crawlers/wizard/__init__.py
  som_crawlers/wizard/wizard_canviar_contrasenya.py
  som_crawlers/wizard/wizard_canviar_contrasenya.xml
  som_crawlers/wizard/wizard_canviar_dies_de_marge.py
  som_crawlers/wizard/wizard_canviar_dies_de_marge.xml
  som_crawlers/wizard/wizard_canviar_usuari.py
  som_crawlers/wizard/wizard_canviar_usuari.xml
  som_crawlers/wizard/wizard_executar_tasca.py
  som_crawlers/wizard/wizard_executar_tasca.xml
Labels: som_crawlers🤖

#378 Add code format som_account_invoice_pending
  som_account_invoice_pending/__terp__.py
  som_account_invoice_pending/account_invoice_pending_history.py
  som_account_invoice_pending/migrations/0.1.1/pre-0001_new_semantic_ids_for_template.py
  som_account_invoice_pending/migrations/0.1/pre-0001_new_semantic_ids_for_template.py
  som_account_invoice_pending/migrations/update_prod_states.py
  som_account_invoice_pending/norma57.py
  som_account_invoice_pending/som_account_invoice_pending_exceptions.py
  som_account_invoice_pending/stategenerator/generate_states_data.py
  som_account_invoice_pending/stategenerator/states_example.tsv
  som_account_invoice_pending/tests/pendingstates_data_tests.py
  som_account_invoice_pending/tests/update_pending_states_tests.py
  som_account_invoice_pending/tests/wizard_pay_invoice_tests.py
  som_account_invoice_pending/tests/wizard_returned_invoices_export_tests.py
  som_account_invoice_pending/tests/wizard_tugesto_invoices_export_tests.py
  som_account_invoice_pending/tests/wizard_unlink_sms_pending_history_tests.py
  som_account_invoice_pending/update_pending_states.py
  som_account_invoice_pending/wizard/wizard_change_pending.py
  som_account_invoice_pending/wizard/wizard_change_pending_view.xml
  som_account_invoice_pending/wizard/wizard_pay_invoice.py
  som_account_invoice_pending/wizard/wizard_returned_invoices_export.py
  som_account_invoice_pending/wizard/wizard_tugesto_invoices_export.py
  som_account_invoice_pending/wizard/wizard_unlink_sms_pending_history.py
  som_account_invoice_pending/wizard/wizard_unlink_sms_pending_history_view.xml
Labels: som_account_invoice_pending

#374 Afegir "helper" per comprovar si es pot modificar el contracte
  www_som/__terp__.py
  www_som/giscedata_polissa.py
  www_som/tests/tests_polissa.py
Labels: www_som
