Repository Som-Energia/openerp_som_addons, pull requests merged in 2023-08, with the labels that each got.

#402 Nou model per gestionar el comportament del cron de reimportació de F1's
  som_facturacio_switching/__init__.py
  som_facturacio_switching/__terp__.py
  som_facturacio_switching/giscedata_facturacio_importacio_linia.py
  som_facturacio_switching/giscedata_facturacio_switching_cron.xml
  som_facturacio_switching/security/ir.model.access.csv
  som_facturacio_switching/som_error_cron_f1_reimport.py
  som_facturacio_switching/som_error_cron_f1_reimport_data.xml
  som_facturacio_switching/som_error_cron_f1_reimport_view.xml
  som_facturacio_switching/wizard/__init__.py
  som_facturacio_switching/wizard/wizard_change_cron_reimport_days.py
  som_facturacio_switching/wizard/wizard_change_cron_reimport_days_view.xml
Labels: feature, som_facturacio_switching

#405 Fix function get_location_polissa and refactor
  som_indexada/wizard/wizard_change_to_indexada.py
Labels: bug, som_indexada

#312 Fer grup de pagament readonly
  som_facturacio_comer/giscedata_polissa_view.xml
Labels: som_facturacio_comer

#403 Add only standard prices from indexed form without exceptions
  som_indexada/data/product_pricelist_data.xml
  som_indexada/exceptions/indexada_exceptions.py
  som_indexada/migrations/5.0.2.108/pre-0001_pricelist_indexada_peninsula_semantic_id_creation.py
  som_indexada/som_indexada_webforms_helpers.py
  som_indexada/wizard/wizard_change_to_indexada.py
Labels: som_indexada

#412 Posar com a cercable generation_kwh
  som_facturacio_comer/giscedata_facturacio_factura_view.xml
Labels: som_facturacio_comer

#416 improve logs
  som_facturacio_switching/giscedata_facturacio_importacio_linia.py
Labels: enhancement, som_facturacio_switching

#415 fix exces potencia
  som_informe/report/components/InvoiceF1NG/InvoiceF1NG.mako
  som_informe/report/components/InvoiceF1NG/InvoiceF1NG.py
Labels: bug, som_informe

#310 (IMP) powersms
  powersms/__init__.py
  powersms/__terp__.py
  powersms/migrations/5.0.23.1.0/post-0001-set_lleidanet_provider_for_existing_acc.py
  powersms/powersms_core.py
  powersms/powersms_core_view.xml
  powersms/powersms_provider.py
  powersms/powersms_provider_data.xml
  powersms/powersms_provider_lleidanet.py
  powersms/powersms_smsbox.py
  powersms/powersms_smsbox_view.xml
  powersms/powersms_template_view.xml
  powersms/powersms_templates.py
  powersms/security/ir.model.access.csv
  powersms/tests/__init__.py
  powersms/tests/test_powersms_coding_validation.py
  powersms/wizard/wizard_send_sms.py
Labels: enhancement, powersms, deployed PRE

#419 code -> codes
  som_facturacio_switching/giscedata_facturacio_importacio_linia.py
Labels: bug, som_facturacio_switching

#420 👔 Afegir fue pending states
  som_account_invoice_pending/som_account_invoice_pending_data.xml
Labels: som_account_invoice_pending
