Repository Som-Energia/openerp_som_addons, pull requests merged in 2023-03, with the labels that each got.

#303 Fix include cases without '/' in the name of unit meassures
  som_webforms_helpers/giscedata_polissa_tarifa.py
Labels: bug

#305 Fix field data_creacio
  som_informe/report/components/M106/M106.mako
Labels: bug, som_informe

#284 millores al wizard de re-facturació de f1's
  som_facturacio_switching/wizard/wizard_refund_rectify_from_origin.py
Labels: bug, feature, som_facturacio_switching

#307 Tanca CAC al rebre R102 finalitzador o de rebuig
  som_switching/giscedata_switching_helpers.py
Labels: enhancement, som_switching

#313 modificar SobrecostesREE per SC i Interrump per I a la formula d'indexada
  som_polissa_condicions_generals/report/condicions_particulars.mako
Labels: feature, som_polissa_condicions_generals

#320 fix to int
  som_infoenergia/wizard/wizard_create_enviaments_from_csv.py
Labels: bug
