Repository Som-Energia/openerp_som_addons, pull requests merged in 2023-05, with the labels that each got.

#339 Hacer el campo factura_rectificada readonly
  som_facturacio_switching/__terp__.py
  som_facturacio_switching/giscedata_facturacio_switching_view.xml
Labels: enhancement, som_facturacio_switching

#341 Eliminar camp antic i crear script de migració per guardar les dades (por si aca)
  som_facturacio_switching/giscedata_facturacio_importacio_linia.py
  som_facturacio_switching/giscedata_facturacio_importacio_linia_view.xml
  som_facturacio_switching/migrations/5.0.2.108.0/post-0001_delete_codi_rectificada_anulada.py
  som_facturacio_switching/migrations/5.0.2.108.0/pre-0001_delete_codi_rectificada_anulada.py
Labels: enhancement, som_facturacio_switching, deployed, deployed PRE

#345 fix canaries
  som_indexada/wizard/wizard_change_to_indexada.py
Labels: bug, som_indexada

#351 Add more error codes and reimport phase 1 f1s
  som_facturacio_switching/giscedata_facturacio_importacio_linia.py
  som_facturacio_switching/giscedata_facturacio_switching_cron.xml
Labels: enhancement, som_facturacio_switching

#353 Arreglar espaiament i lletres a Informe Infoenergia
  som_infoenergia/report/infoenergia_header.mako
Labels: som_infoenergia, deployed PRE

#343 Millores en l'informe tècnic
  som_informe/i18n/es_ES.po
  som_informe/report/components/InvoiceF1A/InvoiceF1A.py
  som_informe/report/components/InvoiceF1C/InvoiceF1C.py
  som_informe/report/components/InvoiceF1NG/InvoiceF1NG.py
  som_informe/report/components/InvoiceF1R/InvoiceF1R.py
  som_informe/report/components/InvoiceF1Unsupported/InvoiceF1Unsupported.py
  som_informe/report/components/InvoiceFE/InvoiceFE.py
  som_informe/report/components/TableReadings/TableReadings.mako
  som_informe/report/components/TableReadings/TableReadings.py
Labels: enhancement, som_informe

#358 Permetre adjunts en els enviaments massius d'un lot
  som_indexada/data/email_template_data.xml
  som_infoenergia/__terp__.py
  som_infoenergia/security/ir.model.access.csv
  som_infoenergia/som_enviament_massiu.py
  som_infoenergia/wizard/__init__.py
  som_infoenergia/wizard/wizard_create_attachments_from_zip.py
  som_infoenergia/wizard/wizard_create_attachments_from_zip_view.xml
Labels: enhancement, som_infoenergia

#357 remove baixa2 from prev modcon
  som_indexada/wizard/wizard_change_to_indexada.py
Labels: bug, som_indexada

#354 Format account_invoice_som directory
  account_invoice_som/__init__.py
  account_invoice_som/__terp__.py
  account_invoice_som/account_invoice.py
  account_invoice_som/account_invoice_data.xml
  account_invoice_som/i18n/es_ES.po
  account_invoice_som/report/__init__.py
  account_invoice_som/report/account_invoice_som.mako
  account_invoice_som/report/account_invoice_som.py
  account_invoice_som/security/ir.model.access.csv
  account_invoice_som/tests/__init__.py
  account_invoice_som/tests/account_invoice_demo.xml
  account_invoice_som/tests/tests_account_invoice.py
  account_invoice_som/tests/tests_wizard_payment_order_add_invoices.py
  account_invoice_som/wizard/__init__.py
  account_invoice_som/wizard/wizard_payment_order_add_invoices.py
Labels: account_invoice_som

#361 Format dx_invoice_supplier_renumber directory
  dx_invoice_supplier_renumber/__init__.py
  dx_invoice_supplier_renumber/__terp__.py
  dx_invoice_supplier_renumber/account_invoice.py
  dx_invoice_supplier_renumber/account_invoice_view.xml
  dx_invoice_supplier_renumber/wizard/__init__.py
  dx_invoice_supplier_renumber/wizard/wizard_invoice_supplier_renumber.py
Labels: dx_invoice_supplier_renumber
