Repository Som-Energia/openerp_som_addons, pull requests merged in 2023-02, with the labels that each got.

#292 Arreglar errors recurrents a la cua del rq referents al pdf de factura
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
Labels: bug, Factura en PDF, giscedata_facturacio_comer_som

#294 Afegir les columnes d'excedents de generació per tipus al informe de factures desagregades
  som_facturacio_comer/wizard/wizard_informe_factures_dades_desagregades.py
Labels: bug, feature, som_facturacio_comer

#289 Add conditional to not schedule next execution in some cases
  som_crawlers/models/som_crawlers_task.py
Labels: enhancement, som_crawlers🤖

#288 Update percentage of charges and tolls to 2023 BOE
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/report/components/amount_destination_td/amount_destination_td.mako
Labels: enhancement, BOE, Factura en PDF, giscedata_facturacio_comer_som

#278 Add comment to invoice when email and SMS are sent
  som_account_invoice_pending/tests/update_pending_states_tests.py
  som_account_invoice_pending/update_pending_states.py
Labels: enhancement, som_account_invoice_pending

#297 Enviaments massius, fer requrit el camp raó al wizard de cancelar des de csv
  som_infoenergia/wizard/wizard_cancel_from_csv.py
Labels: bug, som_infoenergia

#296 arreglar el total d'energia de la factura en pdf al resum
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
Labels: bug, Factura en PDF, giscedata_facturacio_comer_som

#295 mostrar els camps de cerca per autoconsum pòlissa i tarifa al al vista de llista de "fitxers F1 importats"
  som_facturacio_switching/giscedata_facturacio_importacio_linia_view.xml
Labels: bug, som_facturacio_switching

#298 Afegir la columna de polissa a la vista de comptadors
  som_facturacio_comer/giscedata_lectures_view.xml
Labels: feature, som_facturacio_comer

#265 Update distribution agreement som
  som_switching/__terp__.py
  som_switching/security/ir.model.access.csv
  som_switching/tests/__init__.py
  som_switching/tests/tests_wizard_validate_d101.py
  som_switching/wizard/__init__.py
  som_switching/wizard/wizard_validate_d101.py
  som_switching/wizard/wizard_validate_d101_view.xml
Labels: enhancement, som_switching

#290 Fix malfunction when sending SMS from multiple invoices
  powersms/wizard/wizard_send_sms.py
Labels: bug, powersms

#293 Cancel related R101 ATC case when canceling CAC if it has not been sent to distri
  som_switching/demo/som_switching_demo_data.xml
  som_switching/giscedata_atc.py
  som_switching/security/ir.model.access.csv
  som_switching/tests/tests_activacions_b1.py
  som_switching/tests/tests_activacions_m1.py
  som_switching/tests/tests_wizard_import_atr_and_f1.py
Labels: enhancement, som_atc

#299 Canviar la formula de les condicions particulars de PA a PTD
  som_polissa_condicions_generals/i18n/es_ES.po
  som_polissa_condicions_generals/i18n/som_polissa_condicions_generals.pot
  som_polissa_condicions_generals/report/condicions_particulars.mako
Labels: bug, som_polissa_condicions_generals

#302 Fix screenshots not being deleted and do not attach old files
  som_crawlers/models/som_crawlers_task_step.py
  som_crawlers/tests/wizard_executar_tasca_tests.py
Labels: bug, enhancement, som_crawlers🤖
