Repository Som-Energia/openerp_som_addons, pull requests merged in 2023-04, with the labels that each got.

#311 New get tariff prices by date range
  som_webforms_helpers/exceptions/__init__.py
  som_webforms_helpers/exceptions/som_webforms_exceptions.py
  som_webforms_helpers/giscedata_polissa_tarifa.py
  som_webforms_helpers/som_webforms_helpers_data.xml
  som_webforms_helpers/tests/tarifes_demo.xml
  som_webforms_helpers/tests/test_tarifes.py
Labels: enhancement

#321 Moure el cups a la dreta per l'informe de infoenergia
  som_infoenergia/report/infoenergia_header.mako
Labels: bug, som_infoenergia, feature

#319 Mostrar la k correcta a condicions particulars per polisses amb k definida per tarifa
  som_polissa_condicions_generals/report/condicions_particulars.mako
Labels: bug, Need translation, som_polissa_condicions_generals

#325 Ficar la columna 'additional information' al final del tree de facturas de cliente
  som_extend_facturacio_comer/giscedata_facturacio_view.xml
Labels: som_extend_facturacio_comer

#323 add scq crawler
  som_crawlers/data/som_crawlers_config_data.xml
  som_crawlers/data/som_crawlers_step_data.xml
  som_crawlers/data/som_crawlers_task_data.xml
Labels: feature, som_crawlers🤖

#326 modificar el wizard de refacturació per afegir toleràncies i arreglar errors
  som_facturacio_switching/wizard/wizard_refund_rectify_from_origin.py
Labels: bug, som_facturacio_switching

#329 Nova logica per wizard de refacturació de f1 tipus R
  som_facturacio_switching/wizard/wizard_refund_rectify_from_origin.py
Labels: bug, som_facturacio_switching

#330 Eliminar duplicats a la vista de arbre de fitxers f1 importats
  som_switching/giscedata_switching_view.xml
Labels: bug, som_switching

#316 Afegir bo social 2023 a la factura en pdf
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/i18n/es_ES.po
  giscedata_facturacio_comer_som/i18n/giscedata_facturacio_comer_som.pot
  giscedata_facturacio_comer_som/report/components/invoice_details_td/invoice_details_td.mako
  giscedata_facturacio_comer_som/report/components/invoice_details_td_bo_social_2023/invoice_details_td_bo_social_2023.mako
  giscedata_facturacio_comer_som/report/components/invoice_summary_td/invoice_summary_td.mako
Labels: enhancement, Need translation, Factura en PDF, giscedata_facturacio_comer_som

#328 Habilitar camp 'Nombre total de incidencies' a Pòlisses amb incidències
  som_facturacio_comer/giscedata_facturacio_contracte_lot_view.xml
Labels: bug, som_facturacio_comer

#331 Prioritzar camps filtre en trees de factures
  som_account_invoice_pending/account_invoice_pending_view.xml
Labels: enhancement, som_account_invoice_pending

#252 Fix ccpp and update to indexada
  som_polissa_condicions_generals/i18n/es_ES.po
  som_polissa_condicions_generals/i18n/som_polissa_condicions_generals.pot
  som_polissa_condicions_generals/report/anexo_prueba_piloto_indexada.mako
  som_polissa_condicions_generals/report/annex_prova_pilot_indexada.mako
  som_polissa_condicions_generals/report/condiciones_especificas_indexada.mako
  som_polissa_condicions_generals/report/condicions_especifiques_indexada.mako
  som_polissa_condicions_generals/report/condicions_particulars.css
  som_polissa_condicions_generals/report/condicions_particulars.mako
  som_polissa_condicions_generals_m101/i18n/es_ES.po
  som_polissa_condicions_generals_m101/i18n/som_polissa_condicions_generals_m101.pot
  som_polissa_condicions_generals_m101/report/condicions_particulars.css
  som_polissa_condicions_generals_m101/report/condicions_particulars_m101.mako
Labels: bug, som_polissa_condicions_generals, som_polissa_condicions_generals_m101

#315 Add som indexada
  som_indexada/__init__.py
  som_indexada/__terp__.py
  som_indexada/data/email_template_data.xml
  som_indexada/data/giscedata_polissa_category_data.xml
  som_indexada/data/product_pricelist_data.xml
  som_indexada/exceptions/__init__.py
  som_indexada/exceptions/indexada_exceptions.py
  som_indexada/giscedata_polissa_modcontractual.py
  som_indexada/requirements.txt
  som_indexada/security/ir.model.access.csv
  som_indexada/som_indexada_webforms_helpers.py
  som_indexada/tests/__init__.py
  som_indexada/tests/test_indexada_exceptions.py
  som_indexada/tests/test_wizard_change_to_indexada.py
  som_indexada/wizard/__init__.py
  som_indexada/wizard/wizard_change_to_indexada.py
  som_indexada/wizard/wizard_change_to_indexada.xml
Labels: WIP, feature, som_indexada

#332 hotfix k from polissa
  som_polissa_condicions_generals/report/condicions_particulars.mako
  som_polissa_condicions_generals_m101/report/condicions_particulars_m101.mako
Labels: bug, som_polissa_condicions_generals, som_polissa_condicions_generals_m101

#337 fix esborrany contracts
  som_polissa_condicions_generals/report/condicions_particulars.mako
  som_polissa_condicions_generals_m101/report/condicions_particulars_m101.mako
Labels: bug, som_polissa_condicions_generals, som_polissa_condicions_generals_m101
