Repository Som-Energia/openerp_som_addons, pull requests merged in 2023-10, with the labels that each got.

#443 ⚡️ (som_atc): Make field process step stored
  som_atc/models/giscedata_atc.py
Labels: enhancement, som_atc

#414 Refactor: common www interface
  som_indexada/__init__.py
  som_indexada/__terp__.py
  som_indexada/exceptions/__init__.py
  som_indexada/security/ir.model.access.csv
  som_indexada/som_indexada_webforms_helpers.py
  som_indexada/tests/__init__.py
  som_indexada/tests/test_wizard_change_to_indexada.py
  som_indexada/tests/test_wizard_change_to_periodes.py
  som_indexada/wizard/wizard_change_to_indexada.py
  som_polissa/__init__.py
  som_polissa/exceptions/__init__.py
  som_polissa/exceptions/exceptions.py
  som_polissa/giscedata_polissa.py
  som_polissa/tests/test_exceptions.py
  www_som/__init__.py
  www_som/__terp__.py
  www_som/giscedata_polissa.py
  www_som/helpers.py
  www_som/security/ir.model.access.csv
  www_som/som_indexada_webforms_helpers.py
  www_som/tests/__init__.py
  www_som/tests/tests_indexada_helpers.py
  www_som/tests/tests_polissa.py
Labels: www_som, som_polissa, som_indexada

#452 FIX: Eliminar Security Permisos
  www_som/__terp__.py
  www_som/security/ir.model.access.csv
Labels: www_som

#455 Afegir dependència al terp
  som_polissa/__terp__.py
Labels: som_polissa

#453 add step ids to trigger function
  som_atc/models/giscedata_atc.py
Labels: bug, som_atc

#450 FIX d'script de migració per a som_polissa
  som_polissa/migrations/5.0.23.9.0/post-0001_rename_category_desestiment.py
Labels: bug, som_polissa

#461 create the semantic id for the hidden flux solar category
  som_polissa/migrations/5.0.2.108/pre-0002_put_hidden_flux_solar_polissa_category_as_semantic_id.py
  som_polissa/som_polissa_data.xml
Labels: feature, som_polissa

#463 Afegir marges automàtics al PDF del Contracte
  som_polissa_condicions_generals/giscedata_polissa_condicions_generals_report.xml
Labels: som_polissa_condicions_generals

#462 try new priorities
  som_atc/models/giscedata_atc.py
Labels: bug, som_atc

#454 Refacturacions massives
  som_facturacio_switching/__init__.py
  som_facturacio_switching/giscedata_refacturacio.py
Labels: giscedata_facturacio_som, som_facturacio_switching
