Repository Som-Energia/openerp_som_addons, pull requests merged in 2024-09, with the labels that each got.

#699 Fix som_informe more than 1 line when different years
  som_informe/report/components/InvoiceF1NG/InvoiceF1NG.py
  som_informe/report/components/InvoiceF1R/InvoiceF1R.py
  som_informe/report/components/component_utils.py
Labels: som_informe

#724 🐛 fix upcoming prices
  som_polissa_condicions_generals/models/report_backend_ccpp.py
Labels: som_polissa_condicions_generals

#717 Add is_peninsula for indexada prices link
  som_facturacio_comer/giscedata_facturacio_correu_backend.py
  som_facturacio_comer/tests/tests_facturacio_warnings.py
Labels: som_facturacio_comer

#722 Update price change backend to november 2024
  som_polissa_condicions_generals/report_backend_mailcanvipreus.py
Labels: som_polissa_condicions_generals

#714 Nou mòdul gestió pagament impost municipal
  .github/labeler.yml
  .github/workflows/schedule_tests_som_municipal_taxes.yml
  README.md
  som_municipal_taxes/README.md
  som_municipal_taxes/__init__.py
  som_municipal_taxes/__terp__.py
  som_municipal_taxes/data/som_municipal_taxes_data.xml
  som_municipal_taxes/migrations/5.0.24.9.0/post-00001_new_module_som_municipal_taxes.py
  som_municipal_taxes/models/__init__.py
  som_municipal_taxes/models/som_municipal_taxes_config.py
  som_municipal_taxes/security/ir.model.access.csv
  som_municipal_taxes/security/som_municipal_taxes_security.xml
  som_municipal_taxes/tests/__init__.py
  som_municipal_taxes/tests/som_municipal_taxes_demo.xml
  som_municipal_taxes/tests/test_wizard_creacio_remesa_pagament_taxes.py
  som_municipal_taxes/views/som_municipal_taxes_config_view.xml
  som_municipal_taxes/wizard/__init__.py
  som_municipal_taxes/wizard/wizard_creacio_remesa_pagament_taxes.py
  som_municipal_taxes/wizard/wizard_creacio_remesa_pagament_taxes.xml
Labels: GithubActions, som_municipal_taxes

#652 Nou mòdul som_auvidi per a customitzacions pòpies de SOM.
  .github/labeler.yml
  .github/workflows/schedule_tests_som_auvidi.yml
  README.md
  som_auvidi/__init__.py
  som_auvidi/__terp__.py
  som_auvidi/wizard/__init__.py
  som_auvidi/wizard/wizard_load_servei_gen_records_from_file.py
Labels: GithubActions, deployed PRE, som_auvidi

#729 🐛 No moure l'estat pendent de les factures quan la consulta pobresa es negativa
  som_account_invoice_pending/models/som_consulta_pobresa.py
  som_account_invoice_pending/tests/test_som_consulta_pobresa.py
Labels: som_account_invoice_pending

#730 fix ccpp esborrany
  som_polissa_condicions_generals/models/report_backend_ccpp.py
Labels: som_polissa_condicions_generals
