Repository Som-Energia/openerp_som_addons, pull requests merged in 2024-10, with the labels that each got.

#731 Fix wizards move to indexada to show errors
  som_indexada/wizard/wizard_change_to_indexada.py
  som_polissa/exceptions/exceptions.py
Labels: som_polissa, som_indexada

#739 update gc referent
  scripts/cron_switchingreport.sh
Labels: scripts

#737 fix ccpp lead lang
  som_leads_polissa/giscedata_crm_lead.py
  som_polissa_condicions_generals/models/report_backend_ccpp.py
Labels: bug, som_polissa_condicions_generals, som_leads_polissa

#728 Mode 0 de Flux Solar custom per a Som Energia
  som_facturacio_flux_solar/__init__.py
  som_facturacio_flux_solar/giscedata_facturacio.py
Labels: deployed PRE, som_facturacio_flux_solar

#733 Modificació de la posició d'elements informatius del flux solar a la factura en pdf
  giscedata_facturacio_comer_som/report/components/invoice_details_td/invoice_details_td.css
  giscedata_facturacio_comer_som/report/components/invoice_details_td/invoice_details_td.mako
  giscedata_facturacio_comer_som/report/components/invoice_details_td_flux_solar/invoice_details_td_flux_solar.mako
  giscedata_facturacio_comer_som/report/components/invoice_summary_td/invoice_summary_td.mako
Labels: feature, Factura en PDF, giscedata_facturacio_comer_som

#741 Casos atr de gurb sense tenir en compte la categoria
  som_gurb/data/som_gurb_data.xml
  som_gurb/demo/som_gurb_cups_demo.xml
  som_gurb/demo/som_gurb_demo.xml
  som_gurb/models/giscedata_facturacio.py
  som_gurb/models/giscedata_switching.py
  som_gurb/models/som_gurb.py
  som_gurb/models/som_gurb_cups.py
  som_gurb/tests/fixtures/m104_new.xml
  som_gurb/tests/tests_gurb_cups.py
  som_gurb/tests/tests_gurb_services.py
  som_gurb/tests/tests_gurb_switching.py
  som_gurb/views/som_gurb_cups_view.xml
  som_gurb/views/som_gurb_view.xml
Labels: som_gurb

#742 fix lang when not lead
  som_polissa_condicions_generals/models/report_backend_ccpp.py
Labels: bug, som_polissa_condicions_generals

#734 Millores en wizard de carregar registres AUVIDI
  som_auvidi/wizard/wizard_load_servei_gen_records_from_file.py
Labels: som_auvidi

#746 Arrodonir mode 0 de Flux Solar amb round en comptes de decimal_round
  som_facturacio_flux_solar/giscedata_facturacio.py
Labels: bug, som_facturacio_flux_solar

#745 Solucionar diferents errors de GURB durant la importació ATR
  som_gurb/models/giscedata_switching.py
  som_gurb/models/som_gurb_cups.py
  som_gurb/tests/tests_gurb_switching.py
  som_gurb/views/som_gurb_cups_view.xml
Labels: som_gurb

#748 🐛 (gurb): Més errors per solucionar
  som_gurb/models/giscedata_switching.py
  som_gurb/tests/tests_gurb_switching.py
Labels: som_gurb
