Repository Som-Energia/openerp_som_addons, pull requests merged in 2024-04, with the labels that each got.

#574 Fix GURB custom behaviour of some ATR cases
  .github/labeler.yml
  .github/workflows/all_modules_test.yml
  .github/workflows/schedule_tests_som_gurb.yml
  README.md
  som_gurb/__terp__.py
  som_gurb/giscedata_switching.py
  som_gurb/tests/__init__.py
  som_gurb/tests/tests_gurb_switching.py
Labels: GithubActions, som_gurb

#580 Detect canarias with subsistema
  som_indexada/wizard/wizard_change_to_indexada.py
Labels: enhancement, som_indexada

#579 desactivar script de migració que pot donar problemes
  som_autoreclama/migrations/5.0.2.108.0/post-0001_set_inital_history_polissa_state.py
Labels: feature, som_autoreclama

#589 Fix account_invoice_som tests
  account_invoice_som/tests/tests_wizard_payment_order_add_invoices.py
Labels: account_invoice_som

#568 Fix tests som_switching
  som_polissa/tests/som_polissa_demo.xml
  som_switching/demo/som_switching_demo_data.xml
  som_switching/giscedata_switching_helpers.py
  som_switching/security/ir.model.access.csv
  som_switching/tests/tests_activaciones.py
  som_switching/tests/tests_activacions_m1.py
  som_switching/tests/tests_wizard_reexport_log.py
Labels: bug, som_switching, som_polissa

#592 Millorar rendiment de camp funció a la pòlissa
  som_polissa/giscedata_polissa.py
Labels: som_polissa

#594 Nova plantilla subministraments essencials
  som_infoenergia/migrations/5.0.2.108/post-0002_add_template_essencials.py
  som_infoenergia/som_infoenergia_data.xml
Labels: som_infoenergia

#565 Update destino to 2024 BOE and fix FS
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/i18n/es_ES.po
  giscedata_facturacio_comer_som/i18n/giscedata_facturacio_comer_som.pot
  giscedata_facturacio_comer_som/report/components/amount_destination_td/amount_destination_td.mako
  giscedata_facturacio_comer_som/tests/tests_FacturacioFacturaReport_some.py
Labels: enhancement, Factura en PDF, giscedata_facturacio_comer_som

#576 Create crear_nou_modul.md
  .github/workflows/labeler.yml
  .github/workflows/pull_request_labeler.yml
  README.md
  docs/crear_nou_modul.md
Labels: GithubActions

#588 ✨ Taking into account repeated prices and gaps
  www_som/som_indexada_webforms_helpers.py
  www_som/tests/indexed_prices_demo.xml
  www_som/tests/tests_indexada_helpers.py
Labels: enhancement, www_som

#561 Fix wizard inherit view
  som_leads_polissa/wizard/wizard_crm_lead_create_entities_view.xml
Labels: bug, som_leads_polissa, no aplicar fins 23.9

#540 Nou mòdul som_stash
  som_stash/__init__.py
  som_stash/__terp__.py
  som_stash/data/res_config_data.xml
  som_stash/models/__init__.py
  som_stash/models/som_stash.py
  som_stash/models/som_stash_setting.py
  som_stash/security/ir.model.access.csv
  som_stash/security/som_stash.xml
  som_stash/sql/query_partner_pol_expired.sql
  som_stash/sql/query_soci_expired.sql
  som_stash/tests/__init__.py
  som_stash/tests/test_som_stash.py
  som_stash/views/som_stash_setting_view.xml
  som_stash/views/som_stash_view.xml
  som_stash/wizard/__init__.py
  som_stash/wizard/wizard_som_stash_this.py
  som_stash/wizard/wizard_som_stash_this_view.xml
  som_stash/wizard/wizard_som_stasher.py
  som_stash/wizard/wizard_som_stasher_view.xml
  som_stash/wizard/wizard_som_unstasher.py
  som_stash/wizard/wizard_som_unstasher_view.xml
Labels: enhancement, WIP, feature, som_stash

#559 Fix a som_switching per a versió 23.9
  som_switching/giscedata_switching_helpers.py
Labels: som_switching, blocked

#517 Arreglar vista perquè no falli en nous canvis ERP
  som_facturacio_comer/giscedata_facturacio_contracte_lot_view.xml
  som_facturacio_comer/migrations/5.0.23.6.0/post-0004_update_view_to_status_tree.py
Labels: som_facturacio_comer, no aplicar fins 23.9

#597 Canviar branca de testos a rolling_erp01
  .github/workflows/reusable_workflow.yml
  .github/workflows/som_modules_tests_developer.yml
  destral/mamba.root_path.xml
  destral/som_facturacio_comer.xml
Labels: GithubActions

#601 Fer que el GA de test PR utilitz el reusable workflow
  .github/workflows/integration_config.yml
  account_invoice_som/__init__.py
Labels: account_invoice_som, GithubActions

#603 Fix tests www_som, failed from GISCE PR #19660
  www_som/__terp__.py
  www_som/demo/indexed_prices_demo.xml
  www_som/demo/res_partner_demo.xml
  www_som/tests/tests_indexada_helpers.py
Labels: www_som

#599 Add OV attachments management and endpoints
  base_extended_som/__init__.py
  base_extended_som/__terp__.py
  base_extended_som/migrations/5.0.24.5.0/post-0001_move_res_partner_fields.py
  base_extended_som/res_partner.py
  base_extended_som/res_partner_view.xml
  www_som/__init__.py
  www_som/__terp__.py
  www_som/demo/ov_attachment_demo.xml
  www_som/ir_attachment.py
  www_som/ir_attachment_view.xml
  www_som/migrations/5.0.24.5.0/post-0001_add_ov_attachments.py
  www_som/res_partner.py
  www_som/tests/__init__.py
  www_som/tests/tests_partner.py
  www_som/www_som_data.xml
Labels: www_som, base_extended_som

#596 Arreglar el calcul dels kWh per al donatiu voluntari
  som_polissa_soci/giscedata_facturacio.py
Labels: bug, som_polissa_soci

#602 Change unit measure for excedent compensation: MWh -> kWh
  www_som/som_indexada_webforms_helpers.py
  www_som/tests/tests_indexada_helpers.py
Labels: www_som
