Repository Som-Energia/openerp_som_addons, pull requests merged in 2024-11, with the labels that each got.

#725 add 347 email backend
  som_l10n_ES_aeat_mod347/__init__.py
  som_l10n_ES_aeat_mod347/migrations/5.0.25.1.0/post-0001_update_backend_security.py
  som_l10n_ES_aeat_mod347/security/ir.model.access.csv
  som_l10n_ES_aeat_mod347/som_347_email_backend.py
Labels: som_l10n_ES_aeat_mod347

#672 Preu de demà amb Indexades 2024
  som_indexada/__init__.py
  som_indexada/giscedata_hourly_energy_price.py
Labels: enhancement, som_indexada, deployed, deployed PRE

#755 🐛 Arreglar tipus en fitxer de taxa municipal
  som_crawlers/models/som_crawlers_task.py
  som_municipal_taxes/migrations/5.0.24.9.0/post-00002_new_fields_in_view_config.py
  som_municipal_taxes/models/som_municipal_taxes_config.py
  som_municipal_taxes/views/som_municipal_taxes_config_view.xml
Labels: deployed PRE, som_crawlers, som_municipal_taxes

#749 Modificar referències a AUVI amb nomenclatura correcte
  som_auvidi/giscedata_serveis_generacio.py
  som_auvidi/giscedata_serveis_generacio_data.xml
  som_auvidi/migrations/5.0.25.1.0/post-0001_loads_auvidi_new_categories_again.py
Labels: deployed PRE, GHA_branch_developer, som_auvidi

#750 Corregir arrodoniment en el total d'energia
  som_facturacio_flux_solar/giscedata_facturacio.py
Labels: bug, som_facturacio_flux_solar

#751 Mostrar data inici generació descomptes als origens de Flux Solar
  som_facturacio_flux_solar/giscedata_bateria_virtual_origen.xml
  som_facturacio_flux_solar/migrations/5.0.25.1.0/post-0001_update_origin_view.py
Labels: som_facturacio_flux_solar

#756 Targeta/457 gurb044 correcció errors del txt (targeta 43)
  som_gurb/wizard/wizard_create_coef_file.py
  som_gurb/wizard/wizard_create_coef_file_view.xml
Labels: som_gurb

#757 Nou fix a flux solar per a intentar controlar les cosetes que te Python amb les operacions aritmètiques amb els floats
  som_facturacio_flux_solar/giscedata_facturacio.py
Labels: som_facturacio_flux_solar

#476 ✨ (helpers): Give a better exception description
  som_indexada/wizard/wizard_change_to_indexada.py
  som_polissa/exceptions/exceptions.py
Labels: som_polissa, som_indexada

#761 🔧 Install python with pyenv
  .github/workflows/reusable_workflow.yml
Labels: GithubActions

#762 Simplify and clean GA reusable workflow
  .github/workflows/reusable_workflow.yml
Labels: GithubActions

#760 ✅ change module dependency and install in tests due Destral PR #156
  som_facturacio_comer/__terp__.py
  som_facturacio_comer/tests/tests_wizard_revert_incident_fact_contracte_lot.py
  som_polissa_soci/__terp__.py
  som_polissa_soci/tests/tests_facturacio.py
Labels: som_facturacio_comer, som_polissa_soci

#764 🐛 (atr) Arreglar canvi de nom d'una funció "punxada"
  som_atc/models/giscedata_switching_helpers.py
Labels: som_atc

#759 🧹 (polissa): Posar com a readonly el check de no estimable
  som_polissa/giscedata_polissa_view.xml
  som_polissa/migrations/5.0.24.9.0/post-0002_reload_polissa_view_for_no_estimable.py
Labels: som_polissa
