Repository Som-Energia/openerp_som_addons, pull requests merged in 2024-02, with the labels that each got.

#528 Afegir GA per passar tests dels mòduls per separat
  .github/workflows/all_modules_test.yml.disabled
  .github/workflows/reusable_workflow.yml
  .github/workflows/schedule_tests_account_account_som.yml
  .github/workflows/schedule_tests_account_invoice_som.yml
  .github/workflows/schedule_tests_base_extended_som.yml
  .github/workflows/schedule_tests_dx_invoice_supplier_renumber.yml
  .github/workflows/schedule_tests_giscedata_facturacio_comer_som.yml
  .github/workflows/schedule_tests_giscedata_facturacio_som.yml
  .github/workflows/schedule_tests_powersms.yml
  .github/workflows/schedule_tests_som_account_invoice_pending.yml
  .github/workflows/schedule_tests_som_atc.yml
  .github/workflows/schedule_tests_som_autofactura.yml
  .github/workflows/schedule_tests_som_autoreclama.yml
  .github/workflows/schedule_tests_som_control_reports.yml
  .github/workflows/schedule_tests_som_crawlers.yml
  .github/workflows/schedule_tests_som_dashboard.yml
  .github/workflows/schedule_tests_som_documents_sensibles.yml
  .github/workflows/schedule_tests_som_empowering.yml
  .github/workflows/schedule_tests_som_energetica.yml
  .github/workflows/schedule_tests_som_extend_facturacio_comer.yml
  .github/workflows/schedule_tests_som_extend_facturacio_facturae.yml
  .github/workflows/schedule_tests_som_facturacio_calculada.yml
  .github/workflows/schedule_tests_som_facturacio_comer.yml
  .github/workflows/schedule_tests_som_facturacio_flux_solar.yml
  .github/workflows/schedule_tests_som_facturacio_switching.yml
  .github/workflows/schedule_tests_som_factures_paper.yml
  .github/workflows/schedule_tests_som_indexada.yml
  .github/workflows/schedule_tests_som_infoenergia.yml
  .github/workflows/schedule_tests_som_informe.yml
  .github/workflows/schedule_tests_som_inversions.yml
  .github/workflows/schedule_tests_som_l10n_ES_aeat_mod347.yml
  .github/workflows/schedule_tests_som_partner_account.yml
  .github/workflows/schedule_tests_som_partner_seq.yml
  .github/workflows/schedule_tests_som_polissa.yml
  .github/workflows/schedule_tests_som_polissa_administradora.yml
  .github/workflows/schedule_tests_som_polissa_condicions_generals.yml
  .github/workflows/schedule_tests_som_polissa_condicions_generals_m101.yml
  .github/workflows/schedule_tests_som_polissa_soci.yml
  .github/workflows/schedule_tests_som_poweremail_common_templates.yml
  .github/workflows/schedule_tests_som_remeses_base.yml
  .github/workflows/schedule_tests_som_switching.yml
  .github/workflows/schedule_tests_som_telemesura.yml
  .github/workflows/schedule_tests_som_webforms_helpers.yml
  .github/workflows/schedule_tests_uiqmako_helpers.yml
  .github/workflows/schedule_tests_www_som.yml
  README.md
Labels: GithubActions

#525 Reorgantizar pestanyes de la fitxa de pòlissa
  som_facturacio_comer/giscedata_polissa_view.xml
  som_facturacio_comer/migrations/5.0.2.108/post-0001_modify_polissa_tabs.py
  som_infoenergia/giscedata_polissa_view.xml
  som_infoenergia/migrations/5.0.2.108/post-0001_modify_polissa_tabs.py
  som_polissa/__terp__.py
  som_polissa/giscedata_polissa.py
  som_polissa/giscedata_polissa_view.xml
  som_polissa/migrations/5.0.2.108/post-0002_modify_polissa_tabs.py
Labels: som_infoenergia, som_facturacio_comer, som_polissa

#533 🐛 Arreglar vista agafant inherit
  som_polissa/giscedata_polissa_view.xml
Labels: bug, som_polissa

#482 ✨ Afegeix càlcul d'optimització de potències
  som_estalvi/__init__.py
  som_estalvi/__terp__.py
  som_estalvi/requirements.txt
  som_estalvi/scripts/optimization.mzn
  som_estalvi/scripts/optimization.py
  som_estalvi/wizard/__init__.py
  som_estalvi/wizard/wizard_contract_power_optimization.py
  som_estalvi/wizard/wizard_contract_power_optimization_view.xml
Labels: deployed, som_estalvi

#537 Afegir els identificadors per les noves posicions fiscals de canaries al wizard de canvi cap a indexada
  som_indexada/wizard/wizard_change_to_indexada.py
Labels: bug, som_indexada

#536 Permetre importar Zips de distris quan estan plen amb zips mal-formats
  som_crawlers/models/som_crawlers_task_step.py
Labels: bug, som_crawlers

#535 Solucionar caràcter erroni
  som_polissa/giscedata_polissa.py
Labels: bug, som_polissa

#539 🐛 Paràmetre per ctx de force_pricelist com a enter en comptes de browse
  som_polissa_condicions_generals/report/condicions_particulars.mako
Labels: bug, som_polissa_condicions_generals

#543 Fix annex3 cancelled contracts
  som_account_invoice_pending/update_pending_states.py
Labels: bug, som_account_invoice_pending

#547 Fix tests som_account_invoice_pending
  som_account_invoice_pending/tests/update_pending_states_tests.py
  som_account_invoice_pending/update_pending_states.py
Labels: som_account_invoice_pending

#546 Arreglar tests de som_facturacio_calculada
  som_facturacio_calculada/giscedata_polissa.py
  som_facturacio_calculada/tests/test_polissa_lectures_calculades.py
Labels: som_facturacio_calculada

#548 Fix test som_inversions
  som_inversions/tests/test_wizard.py
Labels: som_inversions

#422 Validació de expedient de frau o anomalia nomes si hi ha flux solar
  som_facturacio_switching/__init__.py
  som_facturacio_switching/giscedata_facturacio_validation.py
Labels: feature, som_facturacio_switching, deployed PRE

#544 FIX Vista heretada de contracte lot a v.23.9
  som_facturacio_comer/giscedata_facturacio_contracte_lot_view.xml
  som_facturacio_comer/migrations/5.0.24.5.0/post-0001_load_views_contracte_lot_tree.py
Labels: bug, som_facturacio_comer, blocked
