Repository Som-Energia/openerp_som_addons, pull requests merged in 2024-03, with the labels that each got.

#550 Fix somutils
  .github/labeler.yml
  .github/workflows/integration_config.yml
  .github/workflows/reusable_workflow.yml
Labels: GithubActions

#549 backend 'te_iva21' property
  som_facturacio_comer/__terp__.py
  som_facturacio_comer/data/res_config_data.xml
  som_facturacio_comer/giscedata_facturacio_report_v2.py
Labels: som_facturacio_comer

#551 Make workflow reusable for other SomEnergia repositories with openerp modules
  .github/workflows/reusable_workflow.yml
Labels: GithubActions

#553 Fix wizard change to indexada multi view
  som_indexada/wizard/wizard_change_to_indexada_multi.xml
Labels: bug, som_indexada

#554 Treure referències al mòdul spawn_oop
  .github/workflows/integration_config.yml
  .github/workflows/reusable_workflow.yml
Labels: GithubActions

#555 Afegim variables al workflow de GA
  .github/workflows/integration_config.yml
  .github/workflows/reusable_workflow.yml
Labels: GithubActions

#556 Arreglar testos de som_polissa
  som_polissa/tests/som_polissa_tests.py
Labels: som_polissa

#534 Fer que l'històric d'autoconsum sigui modificable
  som_polissa/giscedata_cups_view.xml
  som_polissa/migrations/5.0.24.5.0/post-0001_makes_cups_autoconsum_not_read_only.py
Labels: enhancement, som_polissa, deployed PRE

#557 Fix www_som tests
  base_extended_som/demo/som_data.xml
  scripts/README.md
  www_som/tests/tests_factura.py
Labels: scripts, www_som, base_extended_som

#541 Actualitzar backend canvi de preus per propera renovació
  som_extend_facturacio_comer/utils.py
  som_polissa_condicions_generals/report/condicions_particulars.mako
  som_polissa_condicions_generals/report_backend_mailcanvipreus.py
  som_polissa_condicions_generals_m101/report/condicions_particulars_m101.mako
Labels: som_polissa_condicions_generals, som_polissa_condicions_generals_m101, som_extend_facturacio_comer, deployed

#560 Desfer canvis introduïts per PR 544 ja que només ha d'entrar després de l'update a 23.9
  som_facturacio_comer/giscedata_facturacio_contracte_lot_view.xml
  som_facturacio_comer/migrations/5.0.24.5.0/post-0001_load_views_contracte_lot_tree.py
Labels: bug, som_facturacio_comer

#562 Nou GA amb tots els mòduls d'aquest repo
  .github/workflows/all_modules_test.yml
  .github/workflows/all_modules_test.yml.disabled
Labels: GithubActions

#552 New indexed prices
  som_polissa/exceptions/exceptions.py
  www_som/__terp__.py
  www_som/som_indexada_webforms_helpers.py
  www_som/tests/indexed_prices_demo.xml
  www_som/tests/tests_indexada_helpers.py
Labels: enhancement, www_som, som_polissa

#566 Arreglar testos de account_invoice_som
  account_invoice_som/tests/account_invoice_demo.xml
  destral/mamba.root_path.xml
  destral/som_facturacio_comer.xml
Labels: account_invoice_som

#567 Fix som webforms helpers tests
  som_webforms_helpers/tests/tarifes_demo.xml
  som_webforms_helpers/tests/test_tarifes.py
Labels: som_webforms_helpers

#571 Fer que a les CCPP surti IVA 21% si l'últim més el preu ha set inverior a 45€/MWh
  som_polissa_condicions_generals/report/condicions_particulars.mako
Labels: som_polissa_condicions_generals

#570 Fix tests som facturacio Comer
  som_facturacio_comer/migrations/5.0.23.6.0/pre-0002_add_permissions_to_bakend_invoice_email.py
  som_facturacio_comer/security/ir.model.access.csv
  som_facturacio_comer/tests/tests_wizard_open_factures_send_mail.py
Labels: som_facturacio_comer

#569 Treure inherit coef gas
  som_facturacio_comer/giscedata_polissa_view.xml
  som_facturacio_comer/migrations/5.0.23.6.0/post-0004_remove_coef_gas_readonly.py
Labels: som_facturacio_comer

#542 Mod script esios
  scripts/download_esios_files.py
Labels: bug, scripts

#563 Multiple som_leads improvements
  som_leads_polissa/__terp__.py
  som_leads_polissa/giscedata_crm_lead.py
  som_polissa/giscedata_polissa.py
  som_polissa/migrations/5.0.24.5.0/post-0002-create_res_config_canarias.py
  som_polissa/som_polissa_data.xml
Labels: enhancement, som_polissa, som_leads_polissa

#578 Wizard no cut off to polisses
  som_polissa/__terp__.py
  som_polissa/migrations/5.0.24.5.0/post-0003_add_wizard_add_cut_off_to_polissa_from_csv.py
  som_polissa/security/ir.model.access.csv
  som_polissa/wizard/__init__.py
  som_polissa/wizard/wizard_add_cut_off_to_polissa_from_csv.py
  som_polissa/wizard/wizard_add_cut_off_to_polissa_from_csv_view.xml
Labels: enhancement, som_polissa

#581 Add pyversion to GA reusable ERP
  .github/workflows/reusable_workflow.yml
Labels: GithubActions

#582 Update reusable_workflow.yml
  .github/workflows/reusable_workflow.yml
  .github/workflows/schedule_tests_account_account_som_py3.yml
Labels: GithubActions

#584 Fix account account som py3
  .github/workflows/schedule_tests_powersms_py3.yml
  account_account_som/__init__.py
  account_account_som/wizard/__init__.py
Labels: account_account_som, GithubActions
