Repository Som-Energia/openerp_som_addons, pull requests merged in 2024-12, with the labels that each got.

#704 Afagir camp 'Té AUVIDI' al contracte i a la modificació contractual
  som_auvidi/__init__.py
  som_auvidi/__terp__.py
  som_auvidi/giscedata_polissa.py
  som_auvidi/giscedata_polissa_view.xml
  som_auvidi/giscedata_serveis_generacio_view.xml
  som_auvidi/migrations/5.0.24.9.0/post-0001_afagir_te_auvidi_al_contracte.py
  som_auvidi/migrations/5.0.25.1.0/post-0001_afagir_te_auvi_al_contracte_again.py
  som_auvidi/wizard/wizard_load_servei_gen_records_from_file.py
Labels: feature, deployed PRE, GHA_branch_developer, som_auvidi

#765 FIX arreglar enviament de correus quan les dades venen en unicode
  som_autoreclama/som_autoreclama_state_updater.py
  som_infoenergia/giscedata_polissa.py
Labels: bug, som_infoenergia, som_autoreclama

#768 Correcció de càlcul d'IESE en factures on després s'eliminarà pel Flux Solar
  som_facturacio_flux_solar/giscedata_facturacio.py
Labels: som_facturacio_flux_solar

#743 Nou mòdul personalitzat d'ofertes de Representació
  .github/labeler.yml
  .github/workflows/schedule_tests_somre_giscere_oferta.yml
  README.md
  somre_giscere_oferta/__init__.py
  somre_giscere_oferta/__terp__.py
  somre_giscere_oferta/giscere_oferta_scheduler.xml
  somre_giscere_oferta/somre_giscere_oferta_template.xml
  somre_giscere_oferta/wizard/__init__.py
  somre_giscere_oferta/wizard/wizard_generar_oferta.py
Labels: feature, GithubActions, hacktoberfest, deployed, GHA_branch_developer, somre_giscere_oferta

#732 Nou mòdul personalitzat de facturació de Representació
  .github/labeler.yml
  .github/workflows/schedule_tests_somre_giscere_facturacio.yml
  README.md
  somre_giscere_facturacio/__init__.py
  somre_giscere_facturacio/__terp__.py
  somre_giscere_facturacio/giscere_facturacio.py
  somre_giscere_facturacio/tarifes.py
Labels: enhancement, GithubActions, hacktoberfest, deployed, deployed PRE, GHA_branch_developer, somre_giscere_facturacio

#773 Modificar script ESIOS per baixar tots els fitxers i amb dos certificats diferents
  scripts/download_esios_files.py
Labels: scripts

#752 Emmagatzemar les factures en pdf i recuperar les ja guardades
  giscedata_facturacio_comer_som/__init__.py
  giscedata_facturacio_comer_som/__terp__.py
  giscedata_facturacio_comer_som/giscedata_facturacio_comer_data.xml
  giscedata_facturacio_comer_som/giscedata_facturacio_factura.py
  giscedata_facturacio_comer_som/giscedata_facturacio_factura.xml
  giscedata_facturacio_comer_som/invoice_pdf_storer.py
  giscedata_facturacio_comer_som/migrations/5.0.24.11.0/manual_migration.py
  giscedata_facturacio_comer_som/migrations/5.0.24.11.0/migration_query.sql
  giscedata_facturacio_comer_som/migrations/5.0.24.11.0/post-0001_create_enviat_mail_id_field_in_factura.py
  giscedata_facturacio_comer_som/report/giscedata_facturacio_comer_som.py
  giscedata_facturacio_comer_som/requirements.txt
  giscedata_facturacio_comer_som/sql/query_fact_to_pdf_store.sql
  giscedata_facturacio_comer_som/tests/__init__.py
  giscedata_facturacio_comer_som/tests/tests_FacturacioFacturaReport_some.py
  giscedata_facturacio_comer_som/tests/tests_invoice_pdf_storer.py
  scripts/store_unsent_pdf_invoices.py
Labels: enhancement, scripts, Factura en PDF, giscedata_facturacio_comer_som

#738 Report Test module
  .github/labeler.yml
  .github/workflows/schedule_tests_report_tester.yml
  README.md
  report_tester/__init__.py
  report_tester/__terp__.py
  report_tester/models/__init__.py
  report_tester/models/report_test.py
  report_tester/models/report_test_group.py
  report_tester/requirements.txt
  report_tester/scripts/pdfcmp.sh
  report_tester/security/ir.model.access.csv
  report_tester/tests/__init__.py
  report_tester/tests/test_report_test.py
  report_tester/views/report_test_group_view.xml
  report_tester/views/report_test_view.xml
  report_tester/wizard/__init__.py
  report_tester/wizard/wizard_report_test_accept_test.py
  report_tester/wizard/wizard_report_test_accept_test.xml
  report_tester/wizard/wizard_report_test_execute_test.py
  report_tester/wizard/wizard_report_test_execute_test.xml
  report_tester/wizard/wizard_report_test_group_accept_tests.py
  report_tester/wizard/wizard_report_test_group_accept_tests.xml
  report_tester/wizard/wizard_report_test_group_execute_tests.py
  report_tester/wizard/wizard_report_test_group_execute_tests.xml
  report_tester/wizard/wizard_report_test_group_view_tests.py
  report_tester/wizard/wizard_report_test_group_view_tests.xml
Labels: feature, GithubActions, report_tester

#772 Fer que som_factures_paper emmagatzemi les factures al imprimir-les
  som_factures_paper/wizard/wizard_paper_invoice_som.py
Labels: feature, Factura en PDF, som_factures_paper

#769 Auto flake8 sobre mòdul somre_giscere_facturacio que no compleix coding style de som_energia
  somre_giscere_facturacio/giscere_facturacio.py
  somre_giscere_facturacio/tarifes.py
Labels: somre_giscere_facturacio, representació

#777 Desempaquetar els fitxers baixats de la distri Constancia-Aren
  som_crawlers/models/som_crawlers_task_step.py
Labels: som_crawlers

#778 💄 Make field baixa_soci readonly from partner view
  som_polissa_soci/migrations/5.0.24.9.0/post-0002_field_baixa_readonly.py
  som_polissa_soci/somenergia_soci_view.xml
Labels: som_polissa_soci

#782 Fix ftp crawlers using active and preparing to proxy
  .github/workflows/pre-commit.yml
  .github/workflows/reusable_workflow.yml
  som_crawlers/migrations/5.0.24.9.0/post-0001_increase_username_size.py
  som_crawlers/models/som_crawlers_config.py
  som_crawlers/models/som_ftp.py
Labels: GithubActions, som_crawlers

#783 Fix llistat socis sql (get first address, check baixa soci)
  som_polissa_soci/sql/llistat_socis.sql
Labels: som_polissa_soci
