Repository Som-Energia/openerp_som_addons, pull requests merged in 2024-01, with the labels that each got.

#509 New wizard change to indexada
  som_indexada/__terp__.py
  som_indexada/security/ir.model.access.csv
  som_indexada/wizard/__init__.py
  som_indexada/wizard/wizard_change_to_indexada.py
  som_indexada/wizard/wizard_change_to_indexada_multi.py
  som_indexada/wizard/wizard_change_to_indexada_multi.xml
Labels: WIP, som_indexada

#508 Modificar el càlcul del valor de impSA pel codi QR
  som_facturacio_comer/giscedata_facturacio_report_v2.py
Labels: bug, Factura en PDF, som_facturacio_comer

#510 update 2024 taxes ccpp
  som_polissa_condicions_generals/report/condicions_particulars.mako
Labels: som_polissa_condicions_generals

#512 CCPP: Arreglar obtenir posició fiscal quan pot > 10
  som_polissa_condicions_generals/report/condicions_particulars.mako
Labels: som_polissa_condicions_generals

#513 Afegir el 2.5 i 3.8 % de iese a la factura en pdf
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/i18n/es_ES.po
  giscedata_facturacio_comer_som/i18n/giscedata_facturacio_comer_som.pot
  giscedata_facturacio_comer_som/report/components/invoice_details_td_other_concepts/invoice_details_td_other_concepts.mako
Labels: bug, Need translation, Factura en PDF, giscedata_facturacio_comer_som

#516 Afegir seqüences a reiniciar l'1 de gener
  scripts/reset_sequences_january_1th.py
Labels: scripts

#514 name instead of id
  som_indexada/wizard/wizard_change_to_indexada_multi.py
Labels: som_indexada

#515 add flux to informe
  som_facturacio_comer/wizard/wizard_informe_factures_dades_desagregades.py
Labels: som_facturacio_comer

#506 Noves columnes a les polisses
  som_polissa/giscedata_polissa_view.xml
  som_polissa/migrations/5.0.23.12.0/post-0001_afegir_columnes_autoconsum_i_provincies_cups.py
Labels: som_polissa, deployed

#518 Add iva 10 phrase to pdf
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/i18n/es_ES.po
  giscedata_facturacio_comer_som/i18n/giscedata_facturacio_comer_som.pot
  giscedata_facturacio_comer_som/report/components/invoice_details_td_other_concepts/invoice_details_td_other_concepts.mako
Labels: giscedata_facturacio_comer_som

#519 🧹 Afegir migració pels permisos del helper
  www_som/migrations/5.0.23.12.0/pre-0001_afegir_permisos_helper_indexada.py
Labels: www_som

#520 Nou assistent per reexportar casos swithing
  som_switching/__terp__.py
  som_switching/demo/som_switching_demo_data.xml
  som_switching/migrations/5.0.107.0/post-0001_new_wizard_reexport.py
  som_switching/tests/__init__.py
  som_switching/tests/tests_wizard_reexport_log.py
  som_switching/wizard/__init__.py
  som_switching/wizard/giscedata_switching_log_reexport_wizard.py
  som_switching/wizard/giscedata_switching_log_reexport_wizard_view.xml
Labels: som_switching
