Repository Som-Energia/openerp_som_addons, pull requests merged in 2024-06, with the labels that each got.

#626 2023 generation data and gdos
  giscedata_facturacio_comer_som/giscedata_facturacio_comer_data.xml
  giscedata_facturacio_comer_som/migrations/5.0.23.9.0/post-0001_update_generation_and_gdos_data.py
  giscedata_facturacio_comer_som/report/components/gdo/gdo_graf_ca_2023.png
  giscedata_facturacio_comer_som/report/components/gdo/gdo_graf_es_2023.png
Labels: giscedata_facturacio_comer_som

#441 Fix var config percentatges
  som_facturacio_flux_solar/giscedata_bateria_virtual_percentatges_acumulacio_data.xml
  som_facturacio_flux_solar/migrations/5.0.23.9.0/post-0002_var_config_percentatge_acumulacio.py
Labels: bug, som_facturacio_flux_solar

#621 Fer que la validació F051 salti per a totes les factures per igual
  som_facturacio_switching/__init__.py
  som_facturacio_switching/giscedata_facturacio_validation.py
Labels: enhancement, som_facturacio_switching, deployed PRE

#629 Make Resum Deute report beautiful
  giscedata_facturacio_som/__init__.py
  giscedata_facturacio_som/_backend_puppeteer_reports.py
  giscedata_facturacio_som/report/resum_factures_deute.css
  giscedata_facturacio_som/report/resum_factures_deute.mako
Labels: giscedata_facturacio_som

#625 Creació de factures d'inscripció de GURB
  account_invoice_som/report/account_invoice_som.mako
  som_gurb/__terp__.py
  som_gurb/data/som_gurb_data.xml
  som_gurb/models/som_gurb_cups.py
  som_gurb/security/ir.model.access.csv
  som_gurb/tests/tests_gurb_initial_quota.py
  som_gurb/views/som_gurb_cups_view.xml
  som_gurb/wizard/__init__.py
  som_gurb/wizard/wizard_gurb_create_initial_invoice.py
  som_gurb/wizard/wizard_gurb_create_initial_invoice_view.xml
Labels: enhancement, account_invoice_som, som_gurb

#628 El cercador de polisses de autoreclama no cerca totes les polisses
  som_autoreclama/som_autoreclama_state_updater.py
Labels: bug, som_autoreclama

#608 Facturació amb cobrament bloquejat
  giscedata_facturacio_som/__init__.py
  giscedata_facturacio_som/__terp__.py
  giscedata_facturacio_som/giscedata_facturacio.py
  giscedata_facturacio_som/giscedata_polissa.py
  giscedata_facturacio_som/giscedata_polissa_view.xml
  giscedata_facturacio_som/migrations/5.0.24.5.0/post-0001_init_fact_bloquejada_fields.py
Labels: giscedata_facturacio_som, deployed PRE

#634 Allow to choose ERP branch with a tag
  .github/workflows/integration_config.yml
Labels: GithubActions

#638 Fer powersms compatible amb python 3
  powersms/requirements.txt
  powersms/tests/__init__.py
  powersms/wizard/__init__.py
  powersms/wizard/wizard_send_sms.py
Labels: powersms

#637 Correccions per la prova pilot de GURB
  som_gurb/__terp__.py
  som_gurb/i18n/babel.cfg
  som_gurb/i18n/es_ES.po
  som_gurb/i18n/som_gurb.pot
  som_gurb/models/report_backend_som_gurb_documents.py
  som_gurb/models/som_gurb.py
  som_gurb/models/som_gurb_cups.py
  som_gurb/report/som_gurb.css
  som_gurb/report/som_gurb_autoritzacio_representant.mako
  som_gurb/report/som_gurb_consentiment_baixa.mako
  som_gurb/report/som_gurb_reports.xml
  som_gurb/views/som_gurb_cups_view.xml
Labels: som_gurb

#631 ✨ (canvi-preus): Primera adaptacio per Juliol
  som_indexada/__init__.py
  som_indexada/security/ir.model.access.csv
  som_indexada/som_polissa_k_change.py
  som_indexada/wizard/wizard_massive_k_change.py
  som_indexada/wizard/wizard_massive_k_change.xml
  som_polissa_condicions_generals/report_backend_mailcanvipreus.py
Labels: som_polissa_condicions_generals, som_indexada

#633 Fix del error al generar som informes amb D1 pas 02
  som_informe/report/components/ProcesATR/ProcesATR.py
Labels: bug, som_informe

#636 Fix iva reduit
  som_webforms_helpers/__terp__.py
  som_webforms_helpers/giscedata_polissa_tarifa.py
  som_webforms_helpers/migrations/5.0.24.6.0/post-0001_reaload_fiscal_position_igic_and_iva_reduit.py
  som_webforms_helpers/som_webforms_helpers_data.xml
  som_webforms_helpers/tests/test_tarifes.py
Labels: bug, som_webforms_helpers

#622 fix demo
  www_som/demo/ov_attachment_demo.xml
Labels: bug, www_som

#627 Signatura dels documents del gurb
  som_gurb/__init__.py
  som_gurb/__terp__.py
  som_gurb/data/som_gurb_data.xml
  som_gurb/data/som_gurb_email_template_data.xml
  som_gurb/report/condicions_particulars.py
  som_gurb/report/som_gurb_reports.xml
  som_gurb/wizard/__init__.py
  som_gurb/wizard/wizard_create_gurb_cups_signature.py
  som_gurb/wizard/wizard_create_gurb_cups_signature_view.xml
Labels: som_gurb

#639 Arreglar inits del Gurb
  som_gurb/__init__.py
  som_gurb/__terp__.py
  som_gurb/report/__init__.py
  som_gurb/security/ir.model.access.csv
Labels: som_gurb

#630 Afegir nous camps a GURB CUPS
  som_gurb/__terp__.py
  som_gurb/data/som_gurb_email_template_data.xml
  som_gurb/models/som_gurb_cups.py
  som_gurb/tests/tests_gurb_services.py
  som_gurb/views/som_gurb_cups_view.xml
Labels: som_gurb

#640 (canvi-preus): Segona adaptació per Juliol
  som_polissa_condicions_generals/report_backend_mailcanvipreus.py
Labels: som_polissa_condicions_generals

#643 Fix py3 unicode error
  powersms/wizard/wizard_send_sms.py
Labels: powersms

#644 ✨ (canviPreus): Eie valiadtion
  som_polissa_condicions_generals/report_backend_mailcanvipreus.py
Labels: som_polissa_condicions_generals

#647 comment empowering fields
  som_switching/security/ir.model.access.csv
  som_switching/wizard/giscedata_switching_mod_con_wizard.py
Labels: bug, som_switching

#645 (canvi-preus): Adaptacio per Juliol 3
  som_polissa_condicions_generals/report_backend_mailcanvipreus.py
Labels: som_polissa_condicions_generals

#646 Treure max_proc dels workers
  som_infoenergia/som_enviament_massiu.py
  som_infoenergia/som_infoenergia_data.xml
  som_infoenergia/som_infoenergia_enviament.py
  som_infoenergia/som_infoenergia_lot.py
Labels: som_infoenergia

#586 Millorar Importador de leads
  som_leads_polissa/__init__.py
  som_leads_polissa/__terp__.py
  som_leads_polissa/wizard/__init__.py
  som_leads_polissa/wizard/wizard_importador_leads_comercials.py
  som_leads_polissa/wizard/wizard_importador_leads_comercials_view.xml
Labels: som_leads_polissa

#635 Create new polissa and partner views for list from file
  .github/labeler.yml
  .github/workflows/schedule_tests_som_custom_views.yml
  README.md
  som_custom_views/__init__.py
  som_custom_views/__terp__.py
  som_custom_views/giscedata_polissa_view.xml
  som_custom_views/res_partner_view.xml
Labels: GithubActions, som_custom_views

#623 Canvis en les CCPP i CCEE Indexada + migració a Puppeteer
  som_extend_facturacio_comer/utils.py
  som_gurb/__terp__.py
  som_gurb/models/__init__.py
  som_gurb/models/report_backend_ccpp.py
  som_gurb/models/som_gurb.py
  som_gurb/views/som_gurb_view.xml
  som_polissa_condicions_generals/__init__.py
  som_polissa_condicions_generals/__terp__.py
  som_polissa_condicions_generals/data/giscedata_polissa_condicions_generals_data.xml
  som_polissa_condicions_generals/data/giscedata_switching_data_m1.xml
  som_polissa_condicions_generals/demo/res_partner_demo.xml
  som_polissa_condicions_generals/giscedata_polissa_condicions_generals_report.xml
  som_polissa_condicions_generals/i18n/es_ES.po
  som_polissa_condicions_generals/i18n/som_polissa_condicions_generals.pot
  som_polissa_condicions_generals/migrations/5.0.23.9.0/pre-0001_migrate_report_puppeteer.py
  som_polissa_condicions_generals/models/__init__.py
  som_polissa_condicions_generals/models/report_backend_ccpp.py
  som_polissa_condicions_generals/models/report_backend_ccpp_m1.py
  som_polissa_condicions_generals/report/anexo_prueba_piloto_indexada.mako
  som_polissa_condicions_generals/report/annex_prova_pilot_indexada.mako
  som_polissa_condicions_generals/report/components/capcalera.mako
  som_polissa_condicions_generals/report/components/contact_info.mako
  som_polissa_condicions_generals/report/components/disclaimers.mako
  som_polissa_condicions_generals/report/components/footer.mako
  som_polissa_condicions_generals/report/components/gurb.mako
  som_polissa_condicions_generals/report/components/payment_info.mako
  som_polissa_condicions_generals/report/components/potencies_info.mako
  som_polissa_condicions_generals/report/components/prices_info.mako
  som_polissa_condicions_generals/report/components/upcoming_index.mako
  som_polissa_condicions_generals/report/condiciones_especificas_indexada.mako
  som_polissa_condicions_generals/report/condiciones_generales.mako
  som_polissa_condicions_generals/report/condicions_especifiques_indexada.mako
  som_polissa_condicions_generals/report/condicions_generals.mako
  som_polissa_condicions_generals/report/condicions_generals_dummy.mako
  som_polissa_condicions_generals/report/condicions_particulars.css
  som_polissa_condicions_generals/report/condicions_particulars.mako
  som_polissa_condicions_generals/report/condicions_particulars_canvi_preus.mako
  som_polissa_condicions_generals/report/condicions_particulars_nous_peatges_temporal.mako
  som_polissa_condicions_generals/report/condicions_particulars_puppeteer.css
  som_polissa_condicions_generals/report/condicions_particulars_puppeteer.mako
  som_polissa_condicions_generals/report/contracte.mako
  som_polissa_condicions_generals/report/giscedata_polissa_comer_somenergia.py
  som_polissa_condicions_generals/report/giscedata_polissa_condicions_generals_m101_report.xml
  som_polissa_condicions_generals/report/giscedata_polissa_condicions_generals_report.xml
  som_polissa_condicions_generals/security/ir.model.access.csv
  som_polissa_condicions_generals/tests/__init__.py
  som_polissa_condicions_generals/tests/tests_report_backend_ccpp.py
  som_polissa_condicions_generals_m101/__init__.py
  som_polissa_condicions_generals_m101/__terp__.py
  som_polissa_condicions_generals_m101/i18n/babel.cfg
  som_polissa_condicions_generals_m101/i18n/es_ES.po
  som_polissa_condicions_generals_m101/i18n/som_polissa_condicions_generals_m101.pot
  som_polissa_condicions_generals_m101/report/__init__.py
  som_polissa_condicions_generals_m101/report/assets/acceptacio_digital_ca.png
  som_polissa_condicions_generals_m101/report/assets/acceptacio_digital_es.png
  som_polissa_condicions_generals_m101/report/condicions_particulars_m101.mako
  som_polissa_condicions_generals_m101/report/giscedata_polissa_comer_somenergia.py
Labels: enhancement, som_polissa_condicions_generals, som_polissa_condicions_generals_m101, som_extend_facturacio_comer, som_gurb

#642 ✨ (gurb) More gurb things
  som_gurb/models/som_gurb_cups.py
  som_gurb/wizard/wizard_create_gurb_cups_signature.py
Labels: som_gurb

#651 (canvi-preus): Adaptació per Juliol 4
  som_indexada/som_polissa_k_change.py
  som_polissa_condicions_generals/report_backend_mailcanvipreus.py
Labels: som_polissa_condicions_generals, som_indexada

#648 Arreglar tests de som_facturacio_switching
  som_facturacio_switching/tests/test_giscedata_facturacio_importacio_linia.py
Labels: som_facturacio_switching
