Repository Som-Energia/openerp_som_addons, pull requests merged in 2024-05, with the labels that each got.

#607 moure els camps gest massiva i gest endarrerida
  som_polissa/giscedata_polissa_view.xml
  som_polissa/migrations/5.0.24.5.1/post-0001_modify_polissa_tabs_bis.py
Labels: feature, som_polissa

#600 Crear nou estat pendent per factures “Pèrdues FACT”.
  som_account_invoice_pending/__init__.py
  som_account_invoice_pending/account_invoice.py
  som_account_invoice_pending/som_account_invoice_pending_data.xml
  som_account_invoice_pending/tests/__init__.py
  som_account_invoice_pending/tests/account_invoice_tests.py
Labels: som_account_invoice_pending, feature

#606 add tg comer provider module
  som_tg_comer_provider/__init__.py
  som_tg_comer_provider/__terp__.py
  som_tg_comer_provider/tg_comer_provider_data.xml
Labels: som_tg_comer_provider

#564 Create som estalvi report
  .github/labeler.yml
  .github/workflows/schedule_tests_som_estalvi.yml
  LICENSE
  README.md
  som_assets/__init__.py
  som_assets/__terp__.py
  som_assets/css/report_base_style.css
  som_assets/img/logo.svg
  som_assets/js/echarts-5.5.0.min.js
  som_estalvi/__init__.py
  som_estalvi/__terp__.py
  som_estalvi/i18n/babel.cfg
  som_estalvi/i18n/es_ES.po
  som_estalvi/i18n/som_estalvi.pot
  som_estalvi/models/__init__.py
  som_estalvi/models/report_backend_som_estalvi.py
  som_estalvi/report/components/analisi_potencies.mako
  som_estalvi/report/components/capcalera.mako
  som_estalvi/report/components/footer.mako
  som_estalvi/report/components/graphic.mako
  som_estalvi/report/components/resum_facturacio_anual.mako
  som_estalvi/report/som_estalvi.css
  som_estalvi/report/som_estalvi.mako
  som_estalvi/report/som_estalvi_report.xml
  som_estalvi/security/ir.model.access.csv
  som_estalvi/wizard/wizard_contract_power_optimization.py
Labels: GithubActions, som_estalvi

#609 🐛 Arreglar vista a empowering
  som_empowering/__terp__.py
  som_empowering/migrations/5.0.23.9.0/post-0001_update_view_inherit.py
  som_empowering/res_partner_view.xml
Labels: som_empowering

#595 Noves eines per gestionar les consultes de pobresa energètica en el canvi d'estats pendents
  .github/workflows/pre-commit.yml
  som_account_invoice_pending/README.md
  som_account_invoice_pending/__init__.py
  som_account_invoice_pending/__terp__.py
  som_account_invoice_pending/data/agrupacio_supramunicipal_data.xml
  som_account_invoice_pending/data/som_account_invoice_pending_data.xml
  som_account_invoice_pending/data/som_consulta_pobresa_data.xml
  som_account_invoice_pending/demo/som_account_invoice_pending_demo_data.xml
  som_account_invoice_pending/demo/som_consulta_pobresa_demo.xml
  som_account_invoice_pending/migrations/5.0.23.9.0/post-0001_add_consulta_pobresa_objects.py
  som_account_invoice_pending/migrations/5.0.23.9.0/post-0002_migrate_old_cases_to_new_pobresa.py
  som_account_invoice_pending/models/__init__.py
  som_account_invoice_pending/models/account_invoice.py
  som_account_invoice_pending/models/account_invoice_pending_history.py
  som_account_invoice_pending/models/agrupacio_supramunicipal.py
  som_account_invoice_pending/models/crm.py
  som_account_invoice_pending/models/giscedata_polissa.py
  som_account_invoice_pending/models/norma57.py
  som_account_invoice_pending/models/som_account_invoice_pending_exceptions.py
  som_account_invoice_pending/models/som_consulta_pobresa.py
  som_account_invoice_pending/models/update_pending_states.py
  som_account_invoice_pending/security/ir.model.access.csv
  som_account_invoice_pending/tests/__init__.py
  som_account_invoice_pending/tests/test_giscedata_polissa.py
  som_account_invoice_pending/tests/test_som_consulta_pobresa.py
  som_account_invoice_pending/tests/test_wizard_create_som_consulta_pobresa.py
  som_account_invoice_pending/tests/update_pending_states_tests.py
  som_account_invoice_pending/views/account_invoice_pending_view.xml
  som_account_invoice_pending/views/agrupacio_supramunicipal_view.xml
  som_account_invoice_pending/views/som_consulta_pobresa_view.xml
  som_account_invoice_pending/wizard/__init__.py
  som_account_invoice_pending/wizard/wizard_crear_consulta_pobresa.py
  som_account_invoice_pending/wizard/wizard_crear_consulta_pobresa.xml
Labels: som_account_invoice_pending, GithubActions

#612 Small fixes in som_estalvi
  som_estalvi/i18n/es_ES.po
  som_estalvi/i18n/som_estalvi.pot
  som_estalvi/report/components/analisi_potencies.mako
  som_estalvi/report/components/footer.mako
  som_estalvi/report/components/resum_facturacio_anual.mako
  som_estalvi/report/som_estalvi.css
Labels: som_estalvi

#617 Disseny base per correus transaccionals
  som_poweremail_common_templates/commontemplates_data.xml
Labels: som_poweremail_common_templates

#495 Càlcul de la data del consum anual de la factura en pdf de forma mes ràpida
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/tests/tests_FacturacioFacturaReport_some.py
  som_infoenergia/giscedata_polissa.py
  som_infoenergia/migrations/5.0.24.5.0/post-0001_reload_to_create_a_new_configuration_variable.py
  som_infoenergia/som_infoenergia_data.xml
  som_polissa/giscedata_cups.py
  som_polissa/giscedata_polissa.py
  som_polissa/tests/giscedata_polissa_tests.py
Labels: som_infoenergia, feature, Factura en PDF, giscedata_facturacio_comer_som, som_polissa

#593 new modi templates
  som_poweremail_common_templates/commontemplates_data.xml
  som_poweremail_common_templates/migrations/5.0.23.9/pre-0001_add_common_rejection_templates.py
Labels: som_poweremail_common_templates

#615 New attachments script
  som_account_invoice_pending/migrations/5.0.23.9.0/post-0003_migrate_attachments_to_consultes.py
Labels: enhancement, som_account_invoice_pending

#611 🐛 Fix wizard crear consulta pobresa when is called from cronjob updat…
  som_account_invoice_pending/models/crm.py
  som_account_invoice_pending/models/giscedata_polissa.py
  som_account_invoice_pending/models/som_consulta_pobresa.py
  som_account_invoice_pending/models/update_pending_states.py
  som_account_invoice_pending/tests/update_pending_states_tests.py
  som_account_invoice_pending/views/som_consulta_pobresa_view.xml
  som_account_invoice_pending/wizard/wizard_crear_consulta_pobresa.py
  som_account_invoice_pending/wizard/wizard_crear_consulta_pobresa.xml
Labels: bug, som_account_invoice_pending

#618 Fix ff consulta pobresa pendent
  som_account_invoice_pending/models/giscedata_polissa.py
Labels: bug, som_account_invoice_pending

#613 Limitació auto-reclama i nou estat
  som_autoreclama/__terp__.py
  som_autoreclama/giscedata_polissa.py
  som_autoreclama/migrations/5.0.24.5.0/post-0001_reload_atc_states_and_new_conf_parameter.py
  som_autoreclama/res_config_data.xml
  som_autoreclama/som_autoreclama_state.py
  som_autoreclama/som_autoreclama_state_condition.py
  som_autoreclama/som_autoreclama_state_data.xml
  som_autoreclama/som_autoreclama_state_updater.py
  som_autoreclama/tests/test_som_autoreclama_states.py
Labels: enhancement, som_autoreclama

#616 ✨ New method to get distributor
  www_som/giscedata_polissa.py
  www_som/tests/tests_factura.py
  www_som/tests/tests_polissa.py
Labels: enhancement, www_som

#523 Afegir base del nou mòdul de GURB
  som_gurb/__init__.py
  som_gurb/__terp__.py
  som_gurb/data/som_gurb_data.xml
  som_gurb/data/som_gurb_email_template_data.xml
  som_gurb/demo/som_gurb_cups_demo.xml
  som_gurb/demo/som_gurb_demo.xml
  som_gurb/demo/som_gurb_service_demo.xml
  som_gurb/models/__init__.py
  som_gurb/models/giscedata_facturacio.py
  som_gurb/models/giscedata_switching.py
  som_gurb/models/report_backend_som_gurb_documents.py
  som_gurb/models/som_gurb.py
  som_gurb/models/som_gurb_cups.py
  som_gurb/reports/som_gurb.css
  som_gurb/reports/som_gurb_autoritzacio_representant.mako
  som_gurb/reports/som_gurb_consentiment_baixa.mako
  som_gurb/reports/som_gurb_reports.xml
  som_gurb/requirements.txt
  som_gurb/security/ir.model.access.csv
  som_gurb/som_gurb_data.xml
  som_gurb/tests/__init__.py
  som_gurb/tests/tests_gurb_base.py
  som_gurb/tests/tests_gurb_cups.py
  som_gurb/tests/tests_gurb_initial_quota.py
  som_gurb/tests/tests_gurb_services.py
  som_gurb/tests/tests_gurb_switching.py
  som_gurb/views/som_gurb_cups_view.xml
  som_gurb/views/som_gurb_view.xml
  som_gurb/views/som_gurb_webview.xml
  som_gurb/wizard/__init__.py
  som_gurb/wizard/wizard_create_distribution_agreement_file.py
  som_gurb/wizard/wizard_gurb_create_new_beta.py
  som_gurb/wizard/wizard_gurb_create_new_beta_view.xml
  som_gurb/workflow/som_gurb_workflow.xml
Labels: som_gurb

#624 OP#131 [#131] Corregir script de migració de adjunts de mongo pel comportament estrany de datas_ mongo
  som_account_invoice_pending/migrations/5.0.23.9.0/post-0004_migrate_attachments_mongo_id.py
Labels: som_account_invoice_pending
