Repository Som-Energia/openerp_som_addons, pull requests merged in 2024-08, with the labels that each got.

#700 allow current modcon
  som_indexada/migrations/5.0.2.108/post-0002_wizard_massive_k_change_modcon_update.py
  som_indexada/wizard/wizard_massive_k_change.py
  som_indexada/wizard/wizard_massive_k_change.xml
Labels: som_indexada

#701 Arreglar els espais del mòdul de flux solar de la factura en pdf
  giscedata_facturacio_comer_som/i18n/es_ES.po
  giscedata_facturacio_comer_som/i18n/giscedata_facturacio_comer_som.pot
  giscedata_facturacio_comer_som/report/components/solar_flux_info/solar_flux_info.mako
  giscedata_facturacio_comer_som/tests/tests_FacturacioFacturaReport_some.py
Labels: bug, Factura en PDF, giscedata_facturacio_comer_som

#697 ✨ GURB: Generar l'acord de repartiment, fitxer de coeficients i documents de representació
  som_gurb/__terp__.py
  som_gurb/models/report_backend_som_gurb_documents.py
  som_gurb/models/som_gurb.py
  som_gurb/models/som_gurb_cups.py
  som_gurb/report/__init__.py
  som_gurb/report/acord_repartiment.mako
  som_gurb/report/representant.py
  som_gurb/report/som_gurb_reports.xml
  som_gurb/security/ir.model.access.csv
  som_gurb/views/som_gurb_view.xml
  som_gurb/wizard/__init__.py
  som_gurb/wizard/wizard_create_coef_file.py
  som_gurb/wizard/wizard_create_coef_file_view.xml
  som_gurb/wizard/wizard_create_distribution_agreement_file.py
Labels: som_gurb

#702 Correcció de tipus d'autoconsum inactiu en carregar un F1
  som_facturacio_switching/giscedata_facturacio_importacio_linia.py
Labels: som_facturacio_switching, deployed PRE

#703 💄Millorar CSS dels reports de GURB
  som_gurb/report/acord_repartiment.mako
Labels: deployed, som_gurb

#707 ✨ (gurb): Afegeix productora a la fitxa gurb
  som_gurb/models/report_backend_som_gurb_documents.py
  som_gurb/models/som_gurb.py
  som_gurb/views/som_gurb_view.xml
Labels: som_gurb

#708 new soci campaign and tag
  som_polissa_soci/__terp__.py
  som_polissa_soci/giscedata_polissa_category_data.xml
  som_polissa_soci/migrations/5.0.24.9.0/post-0001_update_category_and_soci.py
  som_polissa_soci/somenergia_soci_data.xml
Labels: som_polissa_soci

#710 new modcontractual exception
  som_polissa/exceptions/exceptions.py
  som_polissa/giscedata_polissa.py
  som_polissa/tests/test_exceptions.py
Labels: som_polissa

#712 Optimize get_readings_data_fill with ooquery
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
Labels: giscedata_facturacio_comer_som

#715 Afegir nous camps al generador d'autoconsum
  som_polissa/__init__.py
  som_polissa/__terp__.py
  som_polissa/giscedata_autoconsum.py
  som_polissa/giscedata_autoconsum_view.xml
  som_polissa/migrations/5.0.24.9.0/post-0001_new_fields_on_generadors.py
Labels: som_polissa, deployed PRE

#716 fix checking consulta resolution
  som_account_invoice_pending/models/som_consulta_pobresa.py
  som_account_invoice_pending/models/update_pending_states.py
  som_account_invoice_pending/tests/test_som_consulta_pobresa.py
Labels: bug, som_account_invoice_pending

#711 Arreglar traducció del contracte
  som_polissa_condicions_generals/i18n/es_ES.po
  som_polissa_condicions_generals/i18n/som_polissa_condicions_generals.pot
  som_polissa_condicions_generals/migrations/5.0.23.9.0/post-0001_load_translations.py
  som_polissa_condicions_generals/report/components/prices_info.mako
Labels: som_polissa_condicions_generals

#718 fix upcoming ccpp
  som_polissa_condicions_generals/models/report_backend_ccpp.py
Labels: bug, som_polissa_condicions_generals
