Repository Som-Energia/openerp_som_addons, pull requests merged in 2024-07, with the labels that each got.

#657 El valor del preu de generació es mostra en notació científica quan preus negatius amb indexada a la factura en pdf
  giscedata_facturacio_comer_som/report/components/invoice_details_td_generation/invoice_details_td_generation.mako
Labels: bug, Factura en PDF, giscedata_facturacio_comer_som

#659 Modificar el gràfic del pdf de factura per que sempre es faci espai per 12 grups de barres
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
Labels: bug, enhancement, Factura en PDF, giscedata_facturacio_comer_som

#655 Nova condició d'autoreclama per sortir del estat "Revisar"
  som_autoreclama/migrations/5.0.24.6.0/post-0001_reload_atc_states.py
  som_autoreclama/som_autoreclama_state_data.xml
Labels: enhancement, som_autoreclama

#660 🧹 Treure mòdul obsolet
  .github/labeler.yml
  .github/workflows/schedule_tests_som_polissa_condicions_generals_m101.yml
  README.md
Labels: GithubActions

#656 ✨ Afegim crawlers HC concrets per procés
  som_crawlers/data/som_crawlers_step_data.xml
  som_crawlers/data/som_crawlers_task_data.xml
  som_crawlers/migrations/5.0.23.9.0/post-0001_add_hc_crawlers.py
  som_crawlers/scripts/script_run_crawler.py
Labels: som_crawlers

#662 Fix readings order
  som_informe/report/components/TableReadings/TableReadings.py
Labels: som_informe

#654 Obre i tanca automàticmanent els CAC's creats pel D1 si titular diferent
  som_atc/models/giscedata_switching_helpers.py
Labels: enhancement, som_atc

#658 Update CCPP taxes to july 24
  som_polissa_condicions_generals/models/report_backend_ccpp.py
Labels: som_polissa_condicions_generals

#663 Fix D1 autoclose (send mail when autoconsum is created)
  som_atc/models/giscedata_switching_helpers.py
Labels: som_atc

#665 Fix iva 10 date in ccpp
  som_polissa_condicions_generals/models/report_backend_ccpp.py
Labels: bug, som_polissa_condicions_generals

#666 Afegim som_addons al GA per reusabilitat
  .github/workflows/reusable_workflow.yml
Labels: GithubActions

#669 Fix k taxes
  som_polissa_condicions_generals/models/report_backend_ccpp.py
  som_polissa_condicions_generals/tests/tests_report_backend_ccpp.py
Labels: bug, som_polissa_condicions_generals

#591 Copiar ESIOS zip a servidor FTP
  scripts/download_esios_files.py
Labels: scripts

#671 🐛 date format to string when asking for 10% IVA
  som_webforms_helpers/giscedata_polissa_tarifa.py
Labels: bug, som_webforms_helpers

#667 ✨ Afegir estats pendents de factures tipus calaix de sastre
  som_account_invoice_pending/data/som_account_invoice_pending_data.xml
  som_account_invoice_pending/migrations/5.0.23.9.0/post-0005_add_consulta_pobresa_states.py
Labels: som_account_invoice_pending

#664 Sorting in reverse
  som_informe/report/components/TableInvoices/TableInvoices.py
  som_informe/report/components/TableReadings/TableReadings.py
Labels: som_informe

#675 revert reverse
  som_informe/report/components/TableInvoices/TableInvoices.py
  som_informe/report/components/TableReadings/TableReadings.py
Labels: bug, som_informe

#677 🐛 Error tipogràfic en consulta de valor d'un camp
  som_polissa_condicions_generals/models/report_backend_ccpp.py
Labels: som_polissa_condicions_generals

#674 Petites millores en el gurb
  som_gurb/models/som_gurb_cups.py
  som_gurb/views/som_gurb_cups_view.xml
  som_gurb/wizard/wizard_create_gurb_cups_signature.py
Labels: som_gurb

#680 Fix report liquidacions using regex
  som_inversions/report/report_liquidacions.py
Labels: som_inversions, deployed

#668 Posar el camp procés de tall de la pòlissa a Default process si nou titular es empresa
  som_polissa/giscedata_polissa.py
  som_polissa/giscedata_switching_helpers.py
  som_polissa/tests/som_polissa_tests.py
  som_switching/giscedata_switching_m1.py
Labels: enhancement, som_switching, feature, som_polissa

#688 ✨ Afegir plantilla impagament fraccionament
  som_account_invoice_pending/__terp__.py
  som_account_invoice_pending/data/som_account_invoice_pending_data.xml
  som_account_invoice_pending/migrations/5.0.23.9.0/post-0006_add_template_impagament_fraccionament.py
Labels: som_account_invoice_pending

#682 Correcció de vista de Contractes en CAU per a multicaus.
  som_polissa/giscedata_polissa_view.xml
  som_polissa/migrations/5.0.24.9.0/post-0001_reload_polissa_cau_view_for_multicau.py
Labels: enhancement, som_polissa

#687 🦺 DNI Attachments
  som_polissa/migrations/5.0.23.9.0/post-0002_create_dni_attachment_categ.py
  som_polissa/som_polissa_data.xml
  som_polissa/tests/giscedata_polissa_tests.py
Labels: som_polissa

#689 Fix migration script
  som_crawlers/migrations/5.0.23.9.0/post-0002_add_lazy_one2many_field.py
Labels: som_crawlers

#686 🐛 Intent fallit de solucionar testos de GURB I
  som_gurb/demo/som_gurb_demo.xml
  som_gurb/i18n/es_ES.po
  som_gurb/i18n/som_gurb.pot
  som_gurb/models/som_gurb_cups.py
  som_gurb/tests/tests_gurb_base.py
  som_gurb/tests/tests_gurb_cups.py
  som_gurb/tests/tests_gurb_services.py
  som_gurb/wizard/wizard_create_gurb_cups_signature.py
Labels: som_gurb

#683 Afegir utf8 a som_gurb
  som_gurb/models/__init__.py
Labels: deployed PRE, som_gurb

#685 Mostrar els mútiples CAU's en la factura en pdf
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/report/components/contract_data_td/contract_data_td.mako
Labels: enhancement, Need translation, Factura en PDF, giscedata_facturacio_comer_som

#690 sort by type
  som_informe/report/components/TableInvoices/TableInvoices.py
  som_informe/report/components/TableReadings/TableReadings.py
Labels: som_informe

#693 🎨 Petits retocs GURB Mataró
  som_gurb/data/som_gurb_data.xml
  som_gurb/views/som_gurb_cups_view.xml
Labels: som_gurb

#679 new index 2024 pricelists
  som_indexada/data/product_pricelist_data.xml
  som_indexada/demo/product_pricelist_demo_data.xml
  som_indexada/migrations/5.0.2.108/post-0001_wizard_massive_k_change_pricelist_update.py
  som_indexada/migrations/5.0.2.108/pre-0002_pricelists_indexada_2024_semantic_id_migration.py
  som_indexada/tests/test_wizard_change_to_indexada.py
  som_indexada/wizard/wizard_change_to_indexada.py
  som_indexada/wizard/wizard_massive_k_change.py
  som_indexada/wizard/wizard_massive_k_change.xml
  www_som/tests/tests_indexada_helpers.py
Labels: www_som, som_indexada

#696 update indexed and delete upcoming
  som_polissa_condicions_generals/report/components/prices_info.mako
  som_polissa_condicions_generals/report/components/upcoming_index.mako
Labels: som_polissa_condicions_generals

#684 Partir facturació per modificació de fórmula indexada
  som_facturacio_comer/giscedata_polissa.py
Labels: som_facturacio_comer, deployed PRE

#572 Treure autoconsum_id de la vista de polissa
  som_polissa/giscedata_polissa_view.xml
  som_polissa/migrations/5.0.24.5.0/post-0002_remove_autoconsum_id_from_view.py
Labels: enhancement, WIP, som_polissa, deployed PRE

#698 new udesa crawler
  som_crawlers/data/som_crawlers_config_data.xml
  som_crawlers/data/som_crawlers_step_data.xml
  som_crawlers/data/som_crawlers_task_data.xml
Labels: som_crawlers
