Repository Som-Energia/openerp_som_addons, pull requests merged in 2025-06, with the labels that each got.

#890 Canviar versió del comprovador de la versió de cchloader
  scripts/check_cchloader_version.py
Labels: scripts

#888 ✨ Script to recreate a file passed by parameter
  scripts/recretate_file.py
Labels: scripts

#889 🐛 Mostrar per defecte 00 - Sin Autoconsumo al llistat de fitxers F1 si no TipoSubseccion al F1
  som_facturacio_switching/giscedata_facturacio_importacio_linia.py
Labels: bug, som_facturacio_switching

#880 Add som dashboards again
  .github/labeler.yml
  .github/workflows/schedule_tests_som_dashboard.yml
  som_dashboard/__init__.py
  som_dashboard/__terp__.py
  som_dashboard/som_dashboard_contractes.xml
  som_dashboard/som_dashboard_custom_search.xml
  som_indexada/data/custom_search_data.xml
Labels: GithubActions, som_indexada, som_dashboard

#892 🐛 fix script ids
  som_indexada/data/custom_search_data.xml
  som_indexada/migrations/5.0.2.108/post-0003_custom_search_data.py
Labels: som_indexada

#884 Tenir en compte les linies d'indemnització per calcular el descompte de bateria virtual
  som_facturacio_flux_solar/giscedata_facturacio.py
Labels: bug, som_facturacio_flux_solar

#894 📈 Gestió de Contractes: Dashboard Fase 3
  som_dashboard/__terp__.py
  som_dashboard/migrations/5.0.0-dev/post-0001_som_dashboard_fase_3_update_views_and_fields.py
  som_dashboard/som_dashboard_gc_fase_3.xml
Labels: deployed PRE, som_dashboard

#896 Add DB in redis conn in config file
  .github/workflows/reusable_workflow.yml
Labels: GithubActions, py3

#897 🔧 Add all modules tests for Py3
  .github/workflows/all_modules_test_py3.yml
Labels: GithubActions

#802 [PDF factura] Adaptacions per AUVI
  giscedata_facturacio_comer_som/__terp__.py
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/i18n/es_ES.po
  giscedata_facturacio_comer_som/i18n/giscedata_facturacio_comer_som.pot
  giscedata_facturacio_comer_som/migrations/5.0.25.6.0/post-0001_load_translations.py
  giscedata_facturacio_comer_som/report/components/contract_data_td/contract_data_td.mako
  giscedata_facturacio_comer_som/report/components/invoice_details_td/invoice_details_td.mako
  giscedata_facturacio_comer_som/report/components/invoice_details_td_energy/invoice_details_td_energy.mako
  giscedata_facturacio_comer_som/report/components/invoice_details_td_energy_auvi/invoice_details_td_energy_auvi.mako
  giscedata_facturacio_comer_som/report/components/logo/logo.mako
  giscedata_facturacio_comer_som/tests/tests_FacturacioFacturaReport_some.py
Labels: giscedata_facturacio_comer_som, deployed PRE

#895 Afegir codecov token a som_dashboards tests
  .github/workflows/schedule_tests_som_dashboard.yml
  README.md
Labels: GithubActions

#900 Arreglar traduccions de les condicions generals
  som_polissa_condicions_generals/i18n/es_ES.po
  som_polissa_condicions_generals/i18n/som_polissa_condicions_generals.pot
  som_polissa_condicions_generals/migrations/5.0.25.6/post-0001_load_translations.py
Labels: bug, som_polissa_condicions_generals

#893 ✨ Automatitzar ATR M105 (S)[R] Mod. Acord repartiment/fitxer coeficients
  som_gurb/__terp__.py
  som_gurb/models/giscedata_switching.py
  som_switching/giscedata_switching_activation_data.xml
  som_switching/migrations/5.0.25.6.0/post-0001_m105_SR_new_activation.py
  som_switching/models/giscedata_switching_helpers.py
  som_switching/tests/tests_activacions_m1.py
Labels: som_switching, som_gurb

#901 [GContractes] Nous formats correus M2
  som_switching/giscedata_switching_notification_data.xml
Labels: som_switching

#902 Millorar script de creació de scripts de migració
  scripts/create_migration_script.py
  som_switching/migrations/5.0.24.5.0/post-0004_ADD_M1_02_notification_config_update_views_and_fields.py
Labels: scripts, som_switching

#905 🐛 Restart all services after reinstalling cchloader
  scripts/check_cchloader_version.py
Labels: scripts

#904 ✨ New COELCA Crawler
  som_crawlers/data/som_crawlers_config_data.xml
  som_crawlers/data/som_crawlers_step_data.xml
  som_crawlers/data/som_crawlers_task_data.xml
  som_crawlers/migrations/5.0.24.5.0/post-0003_NEW_COELCA_crawler_update_views_and_fields.py
Labels: som_crawlers

#907 Arreglar redirecció de la vista de l'acció de "Com a Soci" des de partner
  som_polissa_soci/migrations/5.0.24.5.0/post-0001_FIX_view_redirect_for_polissa_soci_update_views_and_fields.py
  som_polissa_soci/res_partner_view.xml
Labels: som_polissa_soci

#909 💄🐬 Canviar números per lletres a les CCGG
  som_polissa_condicions_generals/report/condicions_particulars_puppeteer.css
Labels: som_polissa_condicions_generals

#910 🐬 Canviar el missatge en cas d'ajustos de lectures en autoconsum col·lectiu
  giscedata_facturacio_comer_som/i18n/es_ES.po
  giscedata_facturacio_comer_som/i18n/giscedata_facturacio_comer_som.pot
  giscedata_facturacio_comer_som/migrations/5.0.24.5.0/post-0001_MOD_factura_auto_col_migrate_translations.py
  giscedata_facturacio_comer_som/report/components/energy_consumption_detail_td/energy_consumption_detail_td.mako
  giscedata_facturacio_comer_som/report/components/energy_consumption_detail_td_info/energy_consumption_detail_td_info.mako
  scripts/create_migration_script.py
Labels: scripts, giscedata_facturacio_comer_som
