Repository Som-Energia/openerp_som_addons, pull requests merged in 2025-02, with the labels that each got.

#795 Bug en la generació de factures
  som_facturacio_comer/giscedata_facturacio_report_v2.py
Labels: bug, som_facturacio_comer

#798 Obtenir un flag a la plantilla de mail de factura per poder mostrar un bloc de text en pòlisses amb distri E-DISTRIBUCIÓN
  som_facturacio_comer/giscedata_facturacio_correu_backend.py
Labels: som_facturacio_comer

#799 Afegir codi i scripts que ja estan en producció
  scripts/check_cchloader_version.py
  scripts/kill_firefox.sh
  scripts/requeue_failed.py
  scripts/update_gisce_forks.sh
Labels: scripts

#800 [COBRAMENTS] Despeses 4€ impagament no poden superar total factura
  som_facturacio_comer/__init__.py
  som_facturacio_comer/giscedata_facturacio_factura.py
  som_facturacio_switching/__init__.py
  som_facturacio_switching/__terp__.py
  som_facturacio_switching/demo/som_facturacio_switching_demo.xml
  som_facturacio_switching/giscedata_facturacio_factura.py
  som_facturacio_switching/tests/__init__.py
  som_facturacio_switching/tests/test_polissa.py
  som_facturacio_switching/tests/tests_giscedata_facturacio_factura.py
Labels: som_facturacio_comer, som_facturacio_switching

#807 ♻️ update rep boe and add conf var
  giscedata_facturacio_comer_som/giscedata_facturacio_comer_data.xml
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/migrations/5.0.24.11.0/post-0002_update_rep_boe_data.py
Labels: giscedata_facturacio_comer_som

#774 Upgrade actions cache version
  .github/workflows/pre-commit.yml
Labels: GithubActions

#705 Move powersms
  account_invoice_som/tests/tests_account_invoice.py
  powersms/README.md
  powersms/__init__.py
  powersms/__terp__.py
  powersms/migrations/5.0.23.1.0/post-0001-set_lleidanet_provider_for_existing_acc.py
  powersms/powersms_core.py
  powersms/powersms_core_view.xml
  powersms/powersms_data.xml
  powersms/powersms_provider.py
  powersms/powersms_provider_data.xml
  powersms/powersms_provider_lleidanet.py
  powersms/powersms_scheduler_data.xml
  powersms/powersms_smsbox.py
  powersms/powersms_smsbox_view.xml
  powersms/powersms_template_view.xml
  powersms/powersms_templates.py
  powersms/powersms_workflow.xml
  powersms/requirements.txt
  powersms/security/ir.model.access.csv
  powersms/security/powersms_security.xml
  powersms/tests/__init__.py
  powersms/tests/powersms_demo.xml
  powersms/tests/powersms_tests.py
  powersms/tests/test_powersms_coding_validation.py
  powersms/wizard/__init__.py
  powersms/wizard/wizard_send_sms.py
  powersms/wizard/wizard_send_sms_view.xml
Labels: powersms

#808 🗃️ Afegir script de migració post migració puppeteer
  som_polissa_condicions_generals/demo/res_partner_demo.xml
  som_polissa_condicions_generals/migrations/5.0.23.9.0/post-0001_migrate_report_puppeteer.py
  som_polissa_condicions_generals/tests/tests_report_backend_ccpp.py
Labels: som_polissa_condicions_generals

#811 Arreglar tests de som_auvidi
  som_auvidi/giscedata_serveis_generacio_view.xml
Labels: som_auvidi

#812 ✅ Split writes because write state force datetime to now
  som_account_invoice_pending/tests/test_giscedata_polissa.py
Labels: som_account_invoice_pending

#813 ✅ Arreglar tests som_municipal_taxes
  som_municipal_taxes/__terp__.py
  som_municipal_taxes/tests/test_wizard_creacio_remesa_pagament_taxes.py
Labels: som_municipal_taxes

#814 Delete som_dashboard module
  .github/labeler.yml
  .github/workflows/schedule_tests_som_dashboard.yml
  README.md
  som_dashboard/__init__.py
  som_dashboard/__terp__.py
  som_dashboard/som_dashboard_contractes.xml
  som_dashboard/som_dashboard_custom_search.xml
Labels: GithubActions, som_dashboard

#816 ✅ Fix tests som_webforms_helpers
  som_webforms_helpers/tests/test_tarifes.py
Labels: som_webforms_helpers

#817 ✅ Arreglar els tests de giscedata_omie_api
  .github/workflows/reusable_workflow.yml
  somre_giscere_oferta/__terp__.py
Labels: GithubActions, somre_giscere_oferta

#809 ♻️ (gurb): Ha canviat la quota inicial
  som_gurb/models/som_gurb_cups.py
  som_gurb/tests/tests_gurb_initial_quota.py
  som_polissa_condicions_generals/report/components/gurb.mako
Labels: som_polissa_condicions_generals, som_gurb

#776 Mòdul de la oficina virtual de representació
  .github/labeler.yml
  .github/workflows/schedule_tests_somre_ov_module.yml
  README.md
  somre_ov_module/README.md
  somre_ov_module/__init__.py
  somre_ov_module/__terp__.py
  somre_ov_module/data/email_template_data.xml
  somre_ov_module/data/somre_ov_signed_documents_data.xml
  somre_ov_module/demo/giscere_facturacio_demo.xml
  somre_ov_module/demo/giscere_instalacio_demo.xml
  somre_ov_module/demo/giscere_mhcil_demo.xml
  somre_ov_module/demo/giscere_previsio_publicada_demo.xml
  somre_ov_module/demo/res_partner_demo.xml
  somre_ov_module/demo/somre_ov_users_demo.xml
  somre_ov_module/models/__init__.py
  somre_ov_module/models/decorators.py
  somre_ov_module/models/exceptions.py
  somre_ov_module/models/somre_ov_installations.py
  somre_ov_module/models/somre_ov_invoices.py
  somre_ov_module/models/somre_ov_production_data.py
  somre_ov_module/models/somre_ov_signed_documents.py
  somre_ov_module/models/somre_ov_users.py
  somre_ov_module/requirements.txt
  somre_ov_module/security/ir.model.access.csv
  somre_ov_module/security/somre_ov_module.xml
  somre_ov_module/sql/get_forecast_measures.sql
  somre_ov_module/sql/get_production_measures.sql
  somre_ov_module/sql/get_production_measures_qh.sql
  somre_ov_module/tests/__init__.py
  somre_ov_module/tests/test_somre_ov_installations.py
  somre_ov_module/tests/test_somre_ov_invoices.py
  somre_ov_module/tests/test_somre_ov_production_data.py
  somre_ov_module/tests/test_somre_ov_users.py
  somre_ov_module/tests/test_wizard_create_change_password.py
  somre_ov_module/tests/test_wizard_create_somre_ov_users.py
  somre_ov_module/views/somre_ov_users_view.xml
  somre_ov_module/wizard/__init__.py
  somre_ov_module/wizard/wizard_create_change_password.py
  somre_ov_module/wizard/wizard_create_change_password_view.xml
  somre_ov_module/wizard/wizard_create_somre_ov_users.py
  somre_ov_module/wizard/wizard_create_somre_ov_users.xml
Labels: GithubActions, somre_ov_module

#818 Fix invoice copy_data to dont copy mail info
  giscedata_facturacio_comer_som/giscedata_facturacio_factura.py
Labels: giscedata_facturacio_comer_som
