Repository Som-Energia/openerp_som_addons, pull requests merged in 2025-07, with the labels that each got.

#913 Corregir Plantillas de notificaciones de M2 05
  som_switching/giscedata_switching_notification_data.xml
  som_switching/migrations/5.0.25.9.0/post-0001_fix_m2_sw_notifications.py
Labels: bug, som_switching

#844 New lead from webforms
  base_extended_som/demo/poweremail_demo_data.xml
  base_extended_som/migrations/5.0.24.5.0/post-0002_new_lead_from_webforms_update_views_and_fields.py
  base_extended_som/res_partner.py
  base_extended_som/res_partner_view.xml
  som_indexada/demo/product_pricelist_demo_data.xml
  som_leads_polissa/__init__.py
  som_leads_polissa/__terp__.py
  som_leads_polissa/data/giscedata_crm_lead_data.xml
  som_leads_polissa/demo/som_leads_polissa_demo.xml
  som_leads_polissa/giscedata_crm_lead.py
  som_leads_polissa/migrations/5.0.24.5.0/post-0001_new_lead_from_webforms_update_views_and_fields.py
  som_leads_polissa/migrations/5.0.24.5.0/post-0002_new_lead_from_webforms_update_views_and_fields.py
  som_leads_polissa/migrations/5.0.24.5.0/pre-0001_member_fee_journal_semantic_id_creation.py
  som_leads_polissa/models/__init__.py
  som_leads_polissa/models/giscedata_polissa.py
  som_leads_polissa/models/res_partner.py
  som_leads_polissa/security/ir.model.access.csv
  som_leads_polissa/tests/__init__.py
  som_leads_polissa/tests/assets/blank.pdf
  som_leads_polissa/tests/tests_som_lead_www.py
  som_leads_polissa/views/giscedata_crm_lead_view.xml
  som_leads_polissa/views/res_partner_view.xml
  som_leads_polissa/www/__init__.py
  som_leads_polissa/www/som_lead_www.py
  som_polissa_condicions_generals/report/components/prices_info.mako
  som_polissa_soci/__terp__.py
  som_polissa_soci/demo/res_partner_demo_data.xml
  som_polissa_soci/giscedata_som_soci_data.xml
Labels: som_polissa_condicions_generals, som_polissa_soci, base_extended_som, som_indexada, deployed PRE, som_leads_polissa

#916 🐛 fix duplicated link
  giscedata_facturacio_comer_som/report/components/energy_consumption_detail_td_info/energy_consumption_detail_td_info.mako
Labels: giscedata_facturacio_comer_som

#918 Fix unnecessary mongo read
  giscedata_facturacio_comer_som/giscedata_facturacio_factura.py
Labels: giscedata_facturacio_comer_som

#920 🐛 (auvi) Decimals a les Condicions Generals
  som_polissa_condicions_generals/report/components/auvi.mako
Labels: som_polissa_condicions_generals, deployed

#922 Capturar el tancament de cas per detectar automatisme
  som_atc/models/giscedata_atc.py
Labels: som_atc

#915 Canvis de logo i colors al contracte
  som_polissa_condicions_generals/report/assets/logo2.png
  som_polissa_condicions_generals/report/components/capcalera.mako
  som_polissa_condicions_generals/report/condicions_particulars_puppeteer.css
Labels: som_polissa_condicions_generals

#917 Update gdo to 2024
  giscedata_facturacio_comer_som/giscedata_facturacio_comer_data.xml
  giscedata_facturacio_comer_som/migrations/5.0.24.5.0/post-0002_update_gdo_to_2024_migrate_data.py
  giscedata_facturacio_comer_som/report/components/gdo/gdo_graf_ca_2024.png
  giscedata_facturacio_comer_som/report/components/gdo/gdo_graf_es_2024.png
Labels: giscedata_facturacio_comer_som

#921 ✨ (lead) Afegeix comercial_info_accepted
  som_leads_polissa/giscedata_crm_lead.py
  som_leads_polissa/migrations/5.0.24.5.0/post-0003_new_field_comercial_info_accepted.py
  som_leads_polissa/tests/tests_som_lead_www.py
  som_leads_polissa/views/giscedata_crm_lead_view.xml
  som_leads_polissa/www/som_lead_www.py
Labels: deployed PRE, som_leads_polissa

#928 🐛 Afegir ir_cron que falta
  som_atc/models/giscedata_atc.py
  som_autoreclama/migrations/5.0.24.5.0/post-0003_FIX_aom_autoreclama_f1c_automation_crontab_miss_migrate_data.py
  som_autoreclama/som_autoreclama_state_data.xml
Labels: som_atc, som_autoreclama

#925 ✨ [CiF] Donatiu voluntari Candela
  som_energetica/__init__.py
  som_energetica/__terp__.py
  som_energetica/data/giscedata_facturacio_data.xml
  som_energetica/data/som_energetica_data.xml
  som_energetica/demo/som_energetica_demo.xml
  som_energetica/giscedata_facturacio_data.xml
  som_energetica/migrations/5.0.24.5.0/post-0001_ADD_donatiu_candela_update_views_and_fields.py
  som_energetica/models/__init__.py
  som_energetica/models/giscedata_facturacio.py
  som_energetica/models/giscedata_polissa.py
  som_energetica/tests/test_som_energetica_contract.py
  som_energetica/views/som_energetica_view.xml
Labels: som_energetica

#936 Fix remesas bank and name
  som_leads_polissa/giscedata_crm_lead.py
  som_leads_polissa/tests/tests_som_lead_www.py
Labels: som_leads_polissa

#940 🐛 Error la imprimir el pdf per autocnsum colectiu amb dadesde p4 p5 i p6 presents en 2.0TD
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
Labels: bug, giscedata_facturacio_comer_som

#941 🐛 Mostrar les dades d'autoconsum col·lectiu quan hi ha un F1 tipus R pel mig
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
Labels: bug, giscedata_facturacio_comer_som

#938 Fix various leads bugs
  som_leads_polissa/giscedata_crm_lead.py
  som_leads_polissa/tests/tests_som_lead_www.py
  som_leads_polissa/www/som_lead_www.py
Labels: som_leads_polissa

#942 🐛 Arreglar linia que apareix a component excedents de la factura en pdf
  giscedata_facturacio_comer_som/report/components/energy_consumption_detail_td_surplus/energy_consumption_detail_td_surplus.mako
Labels: bug, giscedata_facturacio_comer_som

#878 (Gurb 1.5) Modificacions i acabament de processos del GURB
  som_gurb/README.md
  som_gurb/__terp__.py
  som_gurb/data/som_gurb_data.xml
  som_gurb/demo/som_gurb_cups_demo.xml
  som_gurb/migrations/5.0.24.5.0/post-0001_ADD_gift_betas_update_views_and_fields.py
  som_gurb/migrations/5.0.24.5.0/post-0002_gurb_atr_automations_30_update_views_and_fields.py
  som_gurb/migrations/5.0.24.5/post-0001_add_gurb_wizard.py
  som_gurb/models/giscedata_facturacio.py
  som_gurb/models/giscedata_switching.py
  som_gurb/models/report_backend_som_gurb_documents.py
  som_gurb/models/som_gurb.py
  som_gurb/models/som_gurb_cups.py
  som_gurb/security/ir.model.access.csv
  som_gurb/tests/__init__.py
  som_gurb/tests/fixtures/c206_new.xml
  som_gurb/tests/fixtures/m102_ss_new.xml
  som_gurb/tests/fixtures/m102_st_new.xml
  som_gurb/tests/fixtures/m102_st_new_rej.xml
  som_gurb/tests/fixtures/m105_st_new.xml
  som_gurb/tests/fixtures/m205_new.xml
  som_gurb/tests/tests_gurb_base.py
  som_gurb/tests/tests_gurb_cups.py
  som_gurb/tests/tests_gurb_services.py
  som_gurb/tests/tests_gurb_switching.py
  som_gurb/tests/tests_gurb_wizard_create_coef_file.py
  som_gurb/views/som_gurb_cups_view.xml
  som_gurb/views/som_gurb_view.xml
  som_gurb/views/som_gurb_webview.xml
  som_gurb/wizard/__init__.py
  som_gurb/wizard/wizard_create_coef_file.py
  som_gurb/wizard/wizard_deactivate_gurb_cups.py
  som_gurb/wizard/wizard_deactivate_gurb_cups_view.xml
  som_gurb/wizard/wizard_gurb_create_new_beta.py
  som_gurb/wizard/wizard_gurb_create_new_beta_view.xml
  som_gurb/workflow/som_gurb_cups_workflow.xml
Labels: som_gurb

#898 ✨ new wizard to calculate gurb savings
  som_gurb/__terp__.py
  som_gurb/migrations/5.0.24.5.0/post-0002_NEW_GURB_savings_script_update_views_and_fields.py
  som_gurb/security/ir.model.access.csv
  som_gurb/wizard/__init__.py
  som_gurb/wizard/wizard_calculate_gurb_savings.py
  som_gurb/wizard/wizard_calculate_gurb_savings_view.xml
Labels: som_gurb

#944 Eliminar vistes duplicades per haver-se afegit a ERP
  som_facturacio_comer/giscedata_facturacio_factura_view.xml
  som_facturacio_comer/migrations/5.0.25.9.0/pre-0001_remove_unnecessary_tree_views.py
Labels: som_facturacio_comer, deployed PRE

#948 🐛 (gurb) Es feia browse de llista però només es passava un id
  som_gurb/models/giscedata_switching.py
Labels: som_gurb

#950 🐛 Arreglar export xml som_gurb
  som_gurb/models/giscedata_switching.py
Labels: bug, som_gurb

#785 Fer servir fórmula phf_calc_auvi per la facturació AUVI
  som_auvidi/__terp__.py
  som_auvidi/giscedata_serveis_generacio.py
Labels: deployed PRE, GHA_branch_developer, som_auvidi

#946 ♻🎨 Simplify and improve invoice destination report
  giscedata_facturacio_comer_som/report/components/amount_destination_td/amount_destination_td.css
  giscedata_facturacio_comer_som/report/components/amount_destination_td/amount_destination_td.js
  giscedata_facturacio_comer_som/report/components/amount_destination_td/amount_destination_td.mako
  giscedata_facturacio_comer_som/report/echarts5.min.js
  giscedata_facturacio_comer_som/report/report_giscedata_facturacio_factura_comer.mako
Labels: giscedata_facturacio_comer_som, deployed PRE

#956 🚑️ fix ff when gurb is new
  som_gurb/models/som_gurb.py
Labels: som_gurb

#955 🐛⚡ Lead fixes: member number, tests and write performance
  som_leads_polissa/giscedata_crm_lead.py
  som_leads_polissa/tests/tests_som_lead_www.py
  som_partner_account/partner.py
  som_partner_account/tests/test_membership.py
Labels: som_leads_polissa

#953 🐛 Saldo no queda a 0 quan es paga una factura
  som_municipal_taxes/demo/som_municipal_taxes_demo.xml
  som_municipal_taxes/tests/test_wizard_creacio_remesa_pagament_taxes.py
  som_municipal_taxes/wizard/wizard_creacio_remesa_pagament_taxes.py
Labels: bug, som_municipal_taxes
