Repository Som-Energia/openerp_som_addons, pull requests merged in 2025-04, with the labels that each got.

#846 Add Coveralls GitHub Action
  .github/workflows/reusable_workflow.yml
Labels: GithubActions

#847 Add support for flags by module to create module coverage badges
  .github/workflows/reusable_workflow.yml
Labels: GithubActions

#850 ✨🌐 Add new auto subseccion translations and description methods
  som_polissa/giscedata_cups.py
  som_polissa/tests/__init__.py
  som_polissa/tests/giscedata_cups_tests.py
Labels: som_polissa

#851 ♻️ Adaptar als canvis del MunicipalTaxesInvoicingReport
  som_municipal_taxes/__terp__.py
  som_municipal_taxes/models/som_municipal_taxes_config.py
  som_municipal_taxes/wizard/wizard_creacio_remesa_pagament_taxes.py
Labels: som_municipal_taxes

#740 Wizard pel canvi de contractes massivament a auvidi
  som_auvidi/__terp__.py
  som_auvidi/security/ir.model.access.csv
  som_auvidi/tests/__init__.py
  som_auvidi/tests/test_wizard_change_to_indexada_auvidi_multi.py
  som_auvidi/wizard/__init__.py
  som_auvidi/wizard/wizard_change_to_indexada_auvidi_multi.py
  som_auvidi/wizard/wizard_change_to_indexada_auvidi_multi.xml
  som_indexada/wizard/wizard_change_to_indexada.py
Labels: enhancement, som_indexada, deployed PRE, som_auvidi

#854 🐛 Arreglar generació fitxer impostos municipals per canvi de paràmetres del wizard
  som_municipal_taxes/models/som_municipal_taxes_config.py
  som_municipal_taxes/tests/test_som_municipal_taxes_config.py
Labels: som_municipal_taxes

#855 Enviament certificats de retencions d'aportacions 2024
  som_inversions/report/report_retencions_interessos_apo.mako
  som_inversions/report/report_retencions_interessos_apo.py
Labels: som_inversions

#856 ✨ Canvi email informe de switching
  scripts/cron_switchingreport.sh
Labels: scripts

#857 🚑️ Fix changing process during pending states
  som_account_invoice_pending/models/update_pending_states.py
Labels: som_account_invoice_pending

#860 ✨ Afegir processos E2 i M2 als crawlers d'Endesa
  som_crawlers/data/som_crawlers_step_data.xml
  som_crawlers/data/som_crawlers_task_data.xml
  som_crawlers/migrations/5.0.24.10.0/post-0001_add_e2m2_endesa_tasks.py
Labels: som_crawlers

#801 [CiF] Remesa Ajuntaments 1,5% per factura
  som_municipal_taxes/__terp__.py
  som_municipal_taxes/data/som_municipal_taxes_data.xml
  som_municipal_taxes/demo/som_municipal_taxes_demo.xml
  som_municipal_taxes/migrations/5.0.24.9.0/post-00003_new_journal_som_municipal_taxes.py
  som_municipal_taxes/tests/som_municipal_taxes_demo.xml
  som_municipal_taxes/tests/test_wizard_creacio_remesa_pagament_taxes.py
  som_municipal_taxes/wizard/wizard_creacio_remesa_pagament_taxes.py
  som_municipal_taxes/wizard/wizard_creacio_remesa_pagament_taxes.xml
  som_municipal_taxes/wizard/wizard_presentacio_redsaras.xml
Labels: som_municipal_taxes

#767 No assignar pòlisses cancelades/baixa al servei de generacio al importar participants
  som_auvidi/giscedata_polissa.py
  som_auvidi/wizard/wizard_load_servei_gen_records_from_file.py
Labels: deployed PRE, GHA_branch_developer, som_auvidi

#865 🐛 Fix doble assignation of variable
  som_account_invoice_pending/models/update_pending_states.py
Labels: bug, som_account_invoice_pending

#864 Refactor move generic gkwh methods up
  account_account_som/__init__.py
  account_account_som/__terp__.py
  account_account_som/models/__init__.py
  account_account_som/models/account_account.py
  account_account_som/models/account_payment_term.py
  account_account_som/models/payment_mandate.py
  account_account_som/models/payment_order.py
  account_account_som/tests/__init__.py
  account_account_som/tests/tests_payment_mandate.py
  account_account_som/tests/tests_payment_order.py
  account_account_som/tests/utils.py
  base_extended_som/__terp__.py
  base_extended_som/data/res_request_link_data.xml
  base_extended_som/data/res_users_data.xml
  base_extended_som/migrations/5.0.24.5.0/pre-0001_webforms_res_user.py
  base_extended_som/migrations/5.0.24.5.0/pre-0002_req_link_partner_semantic_id_creation.py
Labels: account_account_som, base_extended_som

#831 ✅ (gurb) Arreglar subseccio no canvia si no hi ha cau
  som_gurb/tests/tests_gurb_switching.py
Labels: som_gurb

#823 Canvia el tipus del error d'importació 3043 de avís a crític
  som_facturacio_switching/giscedata_facturacio_switching_error_data.xml
  som_facturacio_switching/migrations/5.0.25.3.0/post-0001_reaload_switching_errors.py
Labels: feature, som_facturacio_switching

#866 Disabled failed CI when update coveralls fail
  .github/workflows/reusable_workflow.yml
Labels: GithubActions

#859 Fix pre 2025 04 excess
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/i18n/es_ES.po
  giscedata_facturacio_comer_som/i18n/giscedata_facturacio_comer_som.pot
  giscedata_facturacio_comer_som/migrations/5.0.24.11.0/post-0004_update_old_excess.py
  giscedata_facturacio_comer_som/report/components/invoice_details_td_excess_power_maximeter/invoice_details_td_excess_power_maximeter.mako
Labels: giscedata_facturacio_comer_som

#861 ✨Update price change backend to June 2025
  som_polissa_condicions_generals/report_backend_mailcanvipreus.py
Labels: som_polissa_condicions_generals

#787 Canviar nombres de los enlazes de la PR 22898
  som_facturacio_flux_solar/giscedata_bateria_virtual.xml
  som_facturacio_flux_solar/giscedata_bateria_virtual_percentatges_acumulacio.py
  som_facturacio_flux_solar/migrations/5.0.25.1.0/post-0002_update_nom_sols_generats_aplicats.py
  som_facturacio_flux_solar/migrations/5.0.25.5.0/post-0001_resum_facturacio_bateria_virtual.py
Labels: deployed PRE, som_facturacio_flux_solar, GHA_branch_developer

#863 📝 Afegir CCEE de GURB al Contracte
  som_gurb/models/report_backend_ccpp.py
  som_gurb/report/som_gurb_consentiment_baixa.mako
  som_polissa_condicions_generals/models/report_backend_ccpp.py
  som_polissa_condicions_generals/report/components/gurb/acord_repartiment.mako
  som_polissa_condicions_generals/report/components/gurb/autoritzacio_representant.mako
  som_polissa_condicions_generals/report/components/gurb/baixa.mako
  som_polissa_condicions_generals/report/components/gurb/ccee.mako
  som_polissa_condicions_generals/report/components/gurb/gurb.mako
  som_polissa_condicions_generals/report/condicions_particulars_puppeteer.mako
Labels: som_polissa_condicions_generals, som_gurb

#780 🔧 (leads) Afegir leads al ci
  .github/workflows/schedule_tests_som_leads_polissa.yml
  README.md
Labels: GithubActions

#868 🐛(ci) Afegir codecov token a som_leads_polissa
  .github/workflows/schedule_tests_som_leads_polissa.yml
Labels: GithubActions
