Repository Som-Energia/openerp_som_addons, pull requests merged in 2025-09, with the labels that each got.

#977 🐛 (ctss) Hot fix temporal per la creació de la polissa en el CTSS
  som_sortida/models/giscedata_polissa.py
Labels: som_sortida

#973 🐛 (gurb) Arreglar comptador de betes en Gurb Grup
  som_gurb/models/som_gurb_group.py
Labels: som_gurb

#979 ✨ Fix Som Energia address in multiple modules
  account_invoice_som/i18n/es_ES.po
  account_invoice_som/migrations/5.0.24.5.0/post-0001_fix_address_in_multiple_modules_migrate_translations.py
  account_invoice_som/report/account_invoice_som.mako
  som_empowering/report/report_informe_energetic.mako
  som_estalvi/i18n/es_ES.po
  som_estalvi/i18n/som_estalvi.pot
  som_estalvi/migrations/5.0.24.5.0/post-0004_fix_address_in_multiple_modules_migrate_translations.py
  som_estalvi/report/components/footer.mako
  som_gurb/i18n/es_ES.po
  som_gurb/i18n/som_gurb.pot
  som_gurb/migrations/5.0.24.5.0/post-0004_fix_address_in_multiple_modules_migrate_translations.py
  som_gurb/report/som_gurb_autoritzacio_representant.mako
  som_inversions/i18n/es_ES.po
  som_inversions/i18n/som_inversions.pot
  som_inversions/migrations/5.0.24.5.0/post-0001_fix_address_in_multiple_modules_migrate_translations.py
  som_inversions/report/report_generationkwh_doc.mako
  som_inversions/report/report_retencions_interessos.mako
  som_inversions/report/report_retencions_interessos_apo.mako
  som_inversions/report/report_retencions_interessos_titols.mako
  som_inversions/report/titol.jrxml
  som_inversions/report/titol.pot
  som_inversions/report/titol_es_ES.po
  som_inversions/report/titol_es_ES.properties
  som_switching/giscedata_switching_data.xml
  som_switching/migrations/5.0.24.5.0/post-0006_fix_address_in_multiple_modules_migrate_data.py
  somre_ov_module/demo/res_partner_demo.xml
  somre_ov_module/tests/test_somre_ov_users.py
Labels: account_invoice_som, som_inversions, som_switching, som_empowering, som_estalvi, som_gurb, somre_ov_module

#984 ✨ Add common social link templates
  som_poweremail_common_templates/commontemplates_data.xml
  som_poweremail_common_templates/migrations/5.0.23.9/pre-0003_add_common_social_links_templates.py
Labels: som_poweremail_common_templates

#982 Afegir helper per www
  som_gurb/__init__.py
  som_gurb/demo/som_gurb_service_demo.xml
  som_gurb/migrations/5.0.24.5.0/post-0004_ADD_helper_info_gurb_migrate_fields_security_translations.py
  som_gurb/security/ir.model.access.csv
  som_gurb/tests/__init__.py
  som_gurb/tests/tests_gurb_www.py
  som_gurb/www/__init__.py
  som_gurb/www/som_gurb_www.py
Labels: som_gurb

#985 New crm lead
  som_auvidi/giscedata_serveis_generacio.py
  som_leads_polissa/giscedata_crm_lead.py
  som_leads_polissa/migrations/5.0.24.5.0/post-0005_NEW_crm_lead_id_migrate_fields_data.py
  som_leads_polissa/views/giscedata_crm_lead_view.xml
Labels: som_leads_polissa, som_auvidi

#986 🐛 Pdf de la factura dona error si el idioma es en_us
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
Labels: giscedata_facturacio_comer_som

#991 No pujar coverage a Coveralls.io
  .github/workflows/reusable_workflow.yml
Labels: GithubActions

#994 ♻️ (gurb) Refer "helper" de les coordenades de GURB
  som_gurb/demo/som_gurb_cau_demo.xml
  som_gurb/migrations/5.0.24.5.0/post-0006_add_gurb_cups_coordinates_migrate_fields_data.py
  som_gurb/models/som_gurb_cau.py
  som_gurb/tests/tests_gurb_www.py
  som_gurb/views/som_gurb_cau_view.xml
  som_gurb/www/som_gurb_www.py
Labels: som_gurb

#996 Afegir valor per defecte a giscedata_crm_lead.crm_lead_id
  som_leads_polissa/giscedata_crm_lead.py
  som_leads_polissa/migrations/5.0.24.5.0/post-0006_add_default_crm_lead_id.py
Labels: som_leads_polissa

#1006 ✨ [GContractes] Enviament massiu recordatori SMS
  scripts/create_migration_script.py
  som_polissa/__init__.py
  som_polissa/__terp__.py
  som_polissa/data/som_polissa_data.xml
  som_polissa/data/som_polissa_templates.xml
  som_polissa/exceptions/__init__.py
  som_polissa/migrations/5.0.24.5.0/post-0005_NEW_sms_template_pagador_migrate_fields_data.py
  som_polissa/models/__init__.py
  som_polissa/models/giscedata_autoconsum.py
  som_polissa/models/giscedata_cups.py
  som_polissa/models/giscedata_polissa.py
  som_polissa/models/giscedata_switching_helpers.py
  som_polissa/models/som_polissa_webforms_helpers.py
  som_polissa/report/som_polissa_report.xml
  som_polissa/tests/som_polissa_tests.py
  som_polissa/views/giscedata_autoconsum_view.xml
  som_polissa/views/giscedata_cups_view.xml
  som_polissa/views/giscedata_polissa_view.xml
Labels: scripts, som_polissa

#1005 🏗️ (leads) Afegir si la persona és jurídica al lead per l'equip de Dades
  som_leads_polissa/giscedata_crm_lead.py
  som_leads_polissa/tests/tests_som_lead_www.py
  som_leads_polissa/www/som_lead_www.py
Labels: som_leads_polissa

#1003 🐛 Eliminar cometes en les text de configuració dels crawlers
  som_crawlers/models/som_crawlers_config.py
Labels: som_crawlers

#997 ✨ Comentari buit en la creació de R1 048
  som_switching/wizard/wizard_create_r1.py
Labels: som_switching

#1001 🐛 (lead) Afegir error descriptiu quan un lead falla pq el número de sòcia està mal escrit
  som_leads_polissa/giscedata_crm_lead.py
  som_leads_polissa/tests/tests_som_lead_www.py
Labels: som_leads_polissa
