Repository Som-Energia/openerp_som_addons, pull requests merged in 2025-01, with the labels that each got.

#786 Darrera comprovació a Flux Solar
  som_facturacio_flux_solar/giscedata_facturacio.py
Labels: som_facturacio_flux_solar

#779 🐛 (leads): Millor no activar els leads per defecte a l'assistent
  som_leads_polissa/wizard/wizard_importador_leads_comercials.py
  som_leads_polissa/wizard/wizard_importador_leads_comercials_view.xml
Labels: som_leads_polissa

#758 Indicar ESIOS Token en el cálcul per Balears i Canàries
  som_indexada/giscedata_hourly_energy_price.py
Labels: som_indexada

#790 Arreglar la visualització del bo social partit a la factura en pdf
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/report/components/invoice_details_td_bo_social_2023/invoice_details_td_bo_social_2023.mako
Labels: bug, Factura en PDF, giscedata_facturacio_comer_som

#784 💄 (crawlers): Millorar vista de crawler
  som_crawlers/migrations/5.0.24.9.0/post-0002_change_password_view.py
  som_crawlers/views/som_crawlers_config_view.xml
Labels: som_crawlers

#793 Add a exact and fast soci count
  som_polissa_soci/somenergia_soci.py
Labels: som_polissa_soci

#791 Adaptacions a quart-horària a Representació
  somre_giscere_facturacio/giscere_facturacio.py
  somre_giscere_facturacio/tarifes.py
Labels: enhancement, deployed, somre_giscere_facturacio, representació

#794 Incrementa a 2 cèntims el llidar de flux solar
  som_facturacio_flux_solar/giscedata_facturacio.py
Labels: som_facturacio_flux_solar

#736 Poder personalitzar el missatge d'error al crear factura auvidi repetida
  som_auvidi/__init__.py
  som_auvidi/giscedata_serveis_generacio_facturacio.py
Labels: deployed PRE, GHA_branch_developer, som_auvidi
