Repository Som-Energia/openerp_som_addons, pull requests merged in 2025-03, with the labels that each got.

#821 Poder crear reclamacions desde webclient
  som_switching/wizard/wizard_create_r1.py
Labels: bug, som_switching

#826 Move invoice store pdf config to noupdate data
  giscedata_facturacio_comer_som/giscedata_facturacio_comer_data.xml
  giscedata_facturacio_comer_som/tests/tests_FacturacioFacturaReport_some.py
Labels: giscedata_facturacio_comer_som

#827 Arreglar la funció search quan l'operador no és ilike
  giscedata_facturacio_som/giscedata_facturacio.py
  giscedata_facturacio_som/tests/tests_giscedata_facturacio_som.py
Labels: giscedata_facturacio_som

#828 🩹 We close the D101 when is accepted and others
  som_atc/models/giscedata_switching_helpers.py
  som_switching/wizard/wizard_validate_d101.py
Labels: som_atc, som_switching

#830 ✅🐛 Arreglar testos de som_autoreclama que fallen per versió nova d'ERP
  som_autoreclama/tests/test_som_autoreclama_states.py
Labels: bug, som_autoreclama

#829 fix som_switching_tests
  som_switching/tests/tests_wizard_validate_d101.py
  som_switching/wizard/wizard_validate_d101.py
Labels: som_switching

#52 Evitar jobs inecesaris al carregar molts objectes a Enviaments Massius
  som_infoenergia/som_infoenergia_lot.py
Labels: som_infoenergia

#148 Add script open proveiders invoices
  scripts/open_invoices.py
Labels: scripts

#833 🗃️✨ Afegim noves notificacions i script de migració
  som_switching/giscedata_switching_notification_data.xml
  som_switching/migrations/5.0.24.5.1/post-0002-create-notification-atr.py
Labels: som_switching

#839 🐛 Fix python 2 execution error (name of script).
  scripts/create_migration_script.py
Labels: scripts

#841 🐛 do not read the cau if there is no autoconsum
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
Labels: giscedata_facturacio_comer_som

#843 🏗️ Actualitzar versions terp a 24.5.0 + script per fer-ho
  account_account_som/__terp__.py
  account_invoice_som/__terp__.py
  base_extended_som/__terp__.py
  dx_invoice_supplier_renumber/__terp__.py
  giscedata_facturacio_comer_som/__terp__.py
  giscedata_facturacio_iva_10_som/__terp__.py
  giscedata_facturacio_som/__terp__.py
  report_tester/__terp__.py
  scripts/update_terp_version.py
  som_account_invoice_pending/__terp__.py
  som_assets/__terp__.py
  som_atc/__terp__.py
  som_autofactura/__terp__.py
  som_autoreclama/__terp__.py
  som_auvidi/__terp__.py
  som_control_reports/__terp__.py
  som_crawlers/__terp__.py
  som_custom_views/__terp__.py
  som_documents_sensibles/__terp__.py
  som_empowering/__terp__.py
  som_energetica/__terp__.py
  som_estalvi/__terp__.py
  som_extend_facturacio_comer/__terp__.py
  som_extend_facturacio_facturae/__terp__.py
  som_facturacio_calculada/__terp__.py
  som_facturacio_comer/__terp__.py
  som_facturacio_flux_solar/__terp__.py
  som_facturacio_switching/__terp__.py
  som_factures_paper/__terp__.py
  som_gurb/__terp__.py
  som_indexada/__terp__.py
  som_infoenergia/__terp__.py
  som_informe/__terp__.py
  som_inversions/__terp__.py
  som_l10n_ES_aeat_mod347/__terp__.py
  som_leads_polissa/__terp__.py
  som_municipal_taxes/__terp__.py
  som_partner_account/__terp__.py
  som_partner_seq/__terp__.py
  som_polissa/__terp__.py
  som_polissa_administradora/__terp__.py
  som_polissa_condicions_generals/__terp__.py
  som_polissa_soci/__terp__.py
  som_poweremail_common_templates/__terp__.py
  som_remeses_base/__terp__.py
  som_stash/__terp__.py
  som_switching/__terp__.py
  som_telemesura/__terp__.py
  som_tg_comer_provider/__terp__.py
  som_webforms_helpers/__terp__.py
  somre_giscere_facturacio/__terp__.py
  somre_giscere_oferta/__terp__.py
  somre_ov_module/__terp__.py
  uiqmako_helpers/__terp__.py
  www_som/__terp__.py
Labels: som_infoenergia, som_webforms_helpers, som_atc, account_invoice_som, som_account_invoice_pending, som_informe, som_inversions, scripts, som_switching, uiqmako_helpers, giscedata_facturacio_som, account_account_som, giscedata_facturacio_comer_som, som_autoreclama, som_factures_paper, som_facturacio_calculada, som_autofactura, som_facturacio_comer, www_som, som_facturacio_switching, som_polissa_condicions_generals, som_empowering, som_extend_facturacio_comer, som_l10n_ES_aeat_mod347, som_polissa, som_polissa_administradora, som_polissa_soci, som_poweremail_common_templates, som_remeses_base, som_telemesura, base_extended_som, som_indexada, som_documents_sensibles, som_control_reports, som_energetica, som_extend_facturacio_facturae, som_estalvi, som_leads_polissa, som_gurb, som_facturacio_flux_solar, som_crawlers, som_custom_views, som_auvidi, som_municipal_taxes, report_tester, somre_giscere_oferta, somre_giscere_facturacio, somre_ov_module

#845 Afegir coverage dels nostres tests
  .github/workflows/reusable_workflow.yml
Labels: GithubActions
