Repository Som-Energia/openerp_som_addons, pull requests merged in 2025-05, with the labels that each got.

#870 🔧 (gurb) Afegir enterprise_product_id al service
  som_gurb/models/giscedata_facturacio.py
Labels: som_gurb

#871 🚧 (ov_representa) Only hourly forecast measurements are shown in ov_rep
  somre_ov_module/sql/get_forecast_measures.sql
Labels: somre_ov_module

#869 🐛 corregir notació científica en els peatges d'energia si números molt petits
  giscedata_facturacio_comer_som/report/components/invoice_details_td_energy_tolls/invoice_details_td_energy_tolls.mako
Labels: giscedata_facturacio_comer_som

#873 Afegir crawler La Constancia per als F1s
  som_crawlers/data/som_crawlers_step_data.xml
  som_crawlers/data/som_crawlers_task_data.xml
  som_crawlers/migrations/5.0.24.5.0/post-0002_NEW_constancia_crawler_f1_update_views_and_fields.py
Labels: som_crawlers

#874 Add coverage by module independent
  .github/workflows/all_modules_test.yml
  .github/workflows/reusable_workflow.yml
  codecov.yml
Labels: GithubActions

#691 Nou sub component per mostrar l'informació dels autoconsums col·lectius al pdf de la factura
  giscedata_facturacio_comer_som/giscedata_facturacio_report.py
  giscedata_facturacio_comer_som/i18n/es_ES.po
  giscedata_facturacio_comer_som/i18n/giscedata_facturacio_comer_som.pot
  giscedata_facturacio_comer_som/migrations/5.0.25.5.0/post-0001_load_translations.py
  giscedata_facturacio_comer_som/report/components/energy_consumption_detail_td/energy_consumption_detail_td.css
  giscedata_facturacio_comer_som/report/components/energy_consumption_detail_td/energy_consumption_detail_td.mako
  giscedata_facturacio_comer_som/report/components/energy_consumption_detail_td_base/energy_consumption_detail_td_base.mako
  giscedata_facturacio_comer_som/report/components/energy_consumption_detail_td_collective/energy_consumption_detail_td_collective.mako
  giscedata_facturacio_comer_som/report/components/energy_consumption_detail_td_surplus/energy_consumption_detail_td_surplus.mako
Labels: enhancement, Need translation, feature, Factura en PDF, giscedata_facturacio_comer_som

#867 💄Afegir columna col·lectiu i subsecció a la vista de Polissa
  som_switching/giscedata_polissa_view.xml
  som_switching/migrations/5.0.24.5.0/post-0001_NEW_add_collectiu_column_to_lot_view_update_views_and_fields.py
Labels: som_switching

#876 🐛 Fix 'ct_baixa_mailchimp'
  som_switching/giscedata_switching_helpers.py
Labels: som_switching

#881 Solucionar error al modificar la vista de polissa
  som_polissa/giscedata_polissa_view.xml
  som_polissa/migrations/5.0.24.5.0/post-0004_FIX_strange_error_when_modifyng_polissa_view_update_views_and_fields.py
  som_switching/giscedata_polissa_view.xml
  som_switching/migrations/5.0.24.5.0/post-0002_FIX_strange_error_when_modifyng_polissa_view_update_views_and_fields.py
Labels: bug, som_switching, som_polissa

#744 Comportament pel camp estat dels AUVIDIs camp funció.
  som_auvidi/giscedata_serveis_generacio.py
  som_auvidi/wizard/wizard_load_servei_gen_records_from_file.py
Labels: deployed PRE, GHA_branch_developer, som_auvidi

#879 ✨ Afegir tipus_subsecció i es_colectiu informats al F1 a la vista de F1's importats
  som_facturacio_switching/giscedata_facturacio_importacio_linia.py
  som_facturacio_switching/giscedata_facturacio_importacio_linia_view.xml
  som_facturacio_switching/migrations/5.0.24.5.0/post-0001_NEW_add_subseccio_collectiu_to_imported_f1_update_views_and_fields.py
Labels: feature, som_facturacio_switching

#877 ⚡️(som_stash) - Millores
  .github/labeler.yml
  .github/workflows/schedule_tests_som_stash.yml
  som_stash/sql/query_partner_pol_expired.sql
  som_stash/sql/query_soci_expired.sql
Labels: GithubActions, som_stash

#875 Add all gurb cases
  som_gurb/__terp__.py
  som_gurb/migrations/5.0.24.5.0/post-0001_ADD_all_gurb_cases_update_views_and_fields.py
  som_gurb/security/ir.model.access.csv
  som_gurb/tests/tests_gurb_switching.py
  som_gurb/wizard/__init__.py
  som_gurb/wizard/wizard_atr_gurb_model.py
  som_gurb/wizard/wizard_atr_gurb_model_view.xml
Labels: som_gurb

#838 Afegir accions al report_tester
  report_tester/__terp__.py
  report_tester/migrations/5.0.24.5.0/post-0001_NEW_add_more_actions_to_report_test_update_views_and_fields.py
  report_tester/models/report_test.py
  report_tester/security/ir.model.access.csv
  report_tester/views/report_test_view.xml
  report_tester/wizard/__init__.py
  report_tester/wizard/wizard_report_test_attach_to_invoice.py
  report_tester/wizard/wizard_report_test_attach_to_invoice.xml
  report_tester/wizard/wizard_report_test_group_view_tests.py
  report_tester/wizard/wizard_report_test_group_view_tests.xml
  report_tester/wizard/wizard_report_test_view_attached.py
  report_tester/wizard/wizard_report_test_view_attached.xml
Labels: feature, report_tester

#886 🐛 Arreglar la migració del report tester quan afegim nous wizards al mòdul
  report_tester/migrations/5.0.24.5.0/post-0001_NEW_add_more_actions_to_report_test_update_views_and_fields.py
  report_tester/security/ir.model.access.csv
Labels: bug, report_tester

#694 ✨ Add informe fue script
  scripts/informe_fue.py
  scripts/informe_fue_part1_pdf_factura_estimada.py
  scripts/informe_fue_part2_obtenir_dades_factures.py
Labels: scripts
