Repository Som-Energia/openerp_som_addons, pull requests merged in 2025-08, with the labels that each got.

#957 🐛 Fix proces name in polissa observations
  som_leads_polissa/www/som_lead_www.py
Labels: som_leads_polissa

#959 ✨ Leads now can recieve monofasic or trifasic phase
  som_leads_polissa/tests/tests_som_lead_www.py
  som_leads_polissa/www/som_lead_www.py
Labels: deployed PRE, som_leads_polissa

#965 Moure codi de flux solar al modul correcte
  som_facturacio_comer/giscedata_polissa.py
  som_facturacio_flux_solar/giscedata_polissa.py
Labels: som_facturacio_comer, som_facturacio_flux_solar

#966 Descarregar repo OMIE perquè ja no està a pypi.org
  .github/workflows/reusable_workflow.yml
Labels: GithubActions

#967 Arreglar els tests de som_facturacio_flux_solar
  som_facturacio_flux_solar/__init__.py
Labels: som_facturacio_flux_solar

#968 Contrabot d'arxivament de PRs de GISCE
  .github/workflows/keep-prs-gisce-alive.yml
Labels: GithubActions

#943 Refactor gurb -> gurb_cau
  som_gurb/__terp__.py
  som_gurb/data/som_gurb_data.xml
  som_gurb/demo/som_gurb_cau_demo.xml
  som_gurb/demo/som_gurb_cups_demo.xml
  som_gurb/demo/som_gurb_group_demo.xml
  som_gurb/migrations/5.0.24.5.0/pre-0001_change_somgurb_to_somgurbcau.py
  som_gurb/migrations/5.0.24.5.0/pre-0002_DELETE_gurb_view_sc.py
  som_gurb/models/__init__.py
  som_gurb/models/giscedata_facturacio.py
  som_gurb/models/giscedata_switching.py
  som_gurb/models/report_backend_ccpp.py
  som_gurb/models/report_backend_som_gurb_documents.py
  som_gurb/models/som_gurb_cau.py
  som_gurb/models/som_gurb_cups.py
  som_gurb/models/som_gurb_group.py
  som_gurb/report/representant.py
  som_gurb/report/som_gurb_reports.xml
  som_gurb/security/ir.model.access.csv
  som_gurb/tests/__init__.py
  som_gurb/tests/tests_gurb_base.py
  som_gurb/tests/tests_gurb_cups.py
  som_gurb/tests/tests_gurb_group.py
  som_gurb/tests/tests_gurb_services.py
  som_gurb/tests/tests_gurb_switching.py
  som_gurb/tests/tests_gurb_wizard_create_coef_file.py
  som_gurb/views/som_gurb_cau_view.xml
  som_gurb/views/som_gurb_cau_webview.xml
  som_gurb/views/som_gurb_cups_view.xml
  som_gurb/views/som_gurb_group_view.xml
  som_gurb/views/som_gurb_group_webview.xml
  som_gurb/wizard/wizard_atr_gurb_model.py
  som_gurb/wizard/wizard_atr_gurb_model_view.xml
  som_gurb/wizard/wizard_create_coef_file.py
  som_gurb/wizard/wizard_create_coef_file_view.xml
  som_gurb/workflow/som_gurb_workflow.xml
Labels: som_gurb

#970 Copy/Paste ha sobreescrit el botó que portava a un wizard
  som_gurb/migrations/5.0.24.5.0/post-0003_fix_gurb_wizard_copy_paste_migrate_data.py
  som_gurb/wizard/wizard_atr_gurb_model_view.xml
Labels: som_gurb
